<template>
  <svg-base>
    <path d="M21 10V9H9v1H7V9a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v1h-2zM6 11h18a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H6a2 2 0 0 1-2-2V13a2 2 0 0 1 2-2zm0 2v12h18V13H6zm6 10v-8l6 4-6 4zm0-19h6a2 2 0 0 1 2 2H10a2 2 0 0 1 2-2z"/>
    <path
      fill="currentColor"
      stroke="currentColor"
      d="M21.5 9.5h1V9A1.5 1.5 0 0 0 21 7.5H9A1.5 1.5 0 0 0 7.5 9v.5h1v-1h13v1zM6 11.5A1.5 1.5 0 0 0 4.5 13v12A1.5 1.5 0 0 0 6 26.5h18a1.5 1.5 0 0 0 1.5-1.5V13a1.5 1.5 0 0 0-1.5-1.5H6zm-.5 14v-13h19v13h-19zm7-3.434L17.099 19 12.5 15.934v6.132zM10.585 5.5h8.83A1.5 1.5 0 0 0 18 4.5h-6a1.5 1.5 0 0 0-1.415 1z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'Archive',
  components: {SvgBase}
}
</script>
