<template>
  <svg-base
    width="48"
    height="48"
    view-box="0 0 48 48">
    <path
      fill="currentColor"
      d="M30.83 32.67l-9.17-9.17 9.17-9.17-2.83-2.83-12 12 12 12z"/><path
        d="M0-.5h48v48h-48z"
        fill="none"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'ArrowLeft',
  components: {SvgBase}
}
</script>
