<template>
  <svg-base
    width="14"
    height="16"
    view-box="0 0 14 16">
    <path
      fill="currentColor"
      fill-rule="evenodd"
      d="M5.39 3.442c.004-.01.322-.61.504-.88.17-.253.37-.494.628-.662.292-.19.577-.128.844.091.189.156.336.361.468.565.202.309.366.648.538.974-.822-.118-2.045-.153-2.982-.088M5.214 2.44c.174-.363.381-.7.595-1.039.17-.271.37-.522.633-.702.185-.126.372-.201.601-.154.498.103.829.717 1.056 1.12.168.297.309.605.446.917.077.175.421.98.421.98l-.152-.01s-.186-.389-.28-.581a8.295 8.295 0 0 0-.343-.616 3.25 3.25 0 0 0-.62-.737c-.3-.268-.829-.305-1.18-.1a2.149 2.149 0 0 0-.637.576 8.59 8.59 0 0 0-.538.824 4.38 4.38 0 0 0-.263.525l-.198.004c.004-.034.313-.706.459-1.007m8.308 3.025a1.251 1.251 0 0 0-.112-.274c-.374-.667-1.25-.983-1.94-1.176-.353-.099-.715-.162-1.075-.227-.348-.062-1.042-.2-1.042-.2s-.236-.687-.267-.766c-.102-.259-.214-.514-.337-.764-.242-.495-.513-.972-.863-1.397a1.532 1.532 0 0 0-.392-.343 1.17 1.17 0 0 0-.788-.163 1.355 1.355 0 0 0-.676.36c-.215.2-.402.445-.564.69-.469.706-.744 1.478-1.112 2.234-.007.015-.015.026-.022.039C3.215 3.62.34 4.085.056 5.368c-.05.226-.04.46-.024.69.08 1.097.366 2.125.64 3.182.286 1.105.58 2.21 1.014 3.269.327.8.734 1.515 1.527 1.923.357.184.743.31 1.131.408a9.892 9.892 0 0 0 4.774.02c.632-.154 1.2-.337 1.65-.837.842-.94 1.318-2.282 1.705-3.461.357-1.086.665-2.177.899-3.295.112-.537.31-1.232.15-1.802"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'Cafebazaar',
  components: {SvgBase}
}
</script>
