<template>
  <svg-base>
    <path
      fill="currentColor"
      d="M6 20.202V24h3.798L21 12.798 17.202 9 6 20.202zM23.701 10.13a1.017 1.017 0 0 0 0-1.44l-2.39-2.391a1.017 1.017 0 0 0-1.441 0L18 8.169 21.831 12l1.87-1.87z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'Edit',
  components: {SvgBase}
}
</script>
