<template>
  <svg-base>
    <path
      id="err234"
      fill="currentColor"
      d="M11 25h8l6-6v-8l-6-6h-8l-6 6v8l6 6zm5-5h-2v-2h2v2zm-2-4v-6h2v6h-2z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'Error',
  components: {SvgBase}
}
</script>
