<template>
  <svg-base>
    <path
      fill="currentColor"
      d="M11.719 16.49a.472.472 0 0 1-.472-.471V14.29c0-.26.211-.471.472-.471h6.355s-.004 1.569-.01 1.615A7.038 7.038 0 0 1 4 14.988c.027-3.88 3.298-7.062 7.178-6.987 1.82.036 3.47.762 4.7 1.927.196.187.195.5-.002.686l-1.262 1.189a.474.474 0 0 1-.644.002 4.35 4.35 0 0 0-2.932-1.133 4.372 4.372 0 0 0-4.363 4.54 4.38 4.38 0 0 0 4.33 4.193 4.374 4.374 0 0 0 4.15-2.915H11.72zm12.18-2.514h1.688c.228 0 .413.185.413.413v1.421a.413.413 0 0 1-.413.414h-1.689v1.688a.413.413 0 0 1-.413.414h-1.422a.413.413 0 0 1-.413-.414v-1.688h-1.688a.413.413 0 0 1-.414-.414V14.39c0-.228.185-.413.414-.413h1.688v-1.689c0-.228.185-.413.413-.413h1.422c.228 0 .413.185.413.413v1.689z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'GPlus',
  components: {SvgBase}
}
</script>
