<template>
  <svg-base
    width="24"
    height="24"
    view-box="0 0 24 24">
    <path
      fill="currentColor"
      d="M3,15.6L6.6,12L3,8.4L4.4,7l5,5l-5,5L3,15.6 M21,6v2H8V6H21 M21,13H11v-2h10V13 M8,18v-2h13v2H8z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'Close',
  components: {SvgBase}
}
</script>
