<template>
  <svg-base>
    <path
      fill="currentColor"
      d="M15 4l9 4v6c0 5.55-3.84 10.74-9 12-5.16-1.26-9-6.45-9-12V8l9-4zm0 2L8 9.273v4.909c0 4.54 2.987 8.787 7 9.818 4.013-1.03 7-5.277 7-9.818v-4.91L15 6z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'League',
  components: {SvgBase}
}
</script>
