<template>
  <svg-base>
    <path
      fill="currentColor"
      d="M15 11c1.1 0 2-.9 2-2s-.9-2-2-2-2 .9-2 2 .9 2 2 2zm-2 4c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2zm0 6c0 1.1.9 2 2 2s2-.9 2-2-.9-2-2-2-2 .9-2 2z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'More',
  components: {SvgBase}
}
</script>
