<template>
  <svg-base>
    <path
      id="nise23sw"
      fill="currentColor"
      d="M10.55 6.58L9.12 5.15C6.72 6.98 5.14 9.8 5 13h2a8.445 8.445 0 0 1 3.55-6.42zM22.94 13h2c-.15-3.2-1.73-6.02-4.12-7.85L19.4 6.58A8.495 8.495 0 0 1 22.94 13zm-1.97.5c0-3.07-1.64-5.64-4.5-6.32V6.5c0-.83-.67-1.5-1.5-1.5s-1.5.67-1.5 1.5v.68c-2.87.68-4.5 3.24-4.5 6.32v5l-2 2v1h16v-1l-2-2v-5zm-6 11c.14 0 .27-.01.4-.04.65-.14 1.18-.58 1.44-1.18.1-.24.15-.5.15-.78h-4c.01 1.1.9 2 2.01 2z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'Notification',
  components: {SvgBase}
}
</script>
