<template>
  <svg-base>
    <path
      fill="currentColor"
      d="M21 19.137c-.76 0-1.44.3-1.96.773l-7.13-4.167a3.3 3.3 0 0 0 .09-.703 3.3 3.3 0 0 0-.09-.703l7.05-4.126a2.98 2.98 0 0 0 2.04.813c1.66 0 3-1.345 3-3.012A3.002 3.002 0 0 0 21 5c-1.66 0-3 1.345-3 3.012 0 .241.04.472.09.703l-7.05 4.126A2.98 2.98 0 0 0 9 12.028c-1.66 0-3 1.345-3 3.012a3.002 3.002 0 0 0 3 3.012c.79 0 1.5-.311 2.04-.813l7.12 4.177c-.05.21-.08.431-.08.652A2.93 2.93 0 0 0 21 25a2.93 2.93 0 0 0 2.92-2.932A2.93 2.93 0 0 0 21 19.137z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'Share',
  components: {SvgBase}
}
</script>
