<template>
  <svg-base
    width="14"
    height="16"
    view-box="0 0 14 16">
    <path
      fill="currentColor"
      class="st0"
      d="M9.1,7c1.3,1.2,1.7,3.1,0.9,4.7c2.1-3.5,1.3-6.2,1.3-6.2C6.8,3.2,4.2,5.1,4.2,5.1C6,5.1,7.8,5.8,9.1,7z M4,7.8
      c1.2-1.3,3.1-1.7,4.7-0.9C5.2,4.8,2.5,5.6,2.5,5.6c-2.2,4.6-0.3,7.1-0.3,7.1C2.1,10.9,2.8,9.1,4,7.8z M4.8,12.9
      c-1.3-1.2-1.7-3.1-0.9-4.7c-2.1,3.5-1.3,6.2-1.3,6.2c4.5,2.3,7.1,0.3,7.1,0.3C7.9,14.7,6.2,14.1,4.8,12.9z M11.8,7.2
      c0,1.8-0.7,3.6-1.9,4.9c-1.2,1.3-3.1,1.7-4.7,0.9c3.5,2.1,6.2,1.3,6.2,1.3C13.8,9.7,11.8,7.2,11.8,7.2z M10.2,0.5
      C7,0.6,6.8,3.4,6.8,3.4C10,3.7,10.2,0.5,10.2,0.5z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'SibApp',
  components: {SvgBase}
}
</script>
