<template>
  <svg-base>
    <path
      id="dfef3sw"
      fill="currentColor"
      d="M10.776 5.1L9.225 6.651 12.074 9.5H6.2c-1.221 0-2.2.979-2.2 2.2v11c0 1.221.979 2.2 2.2 2.2h17.6c1.221 0 2.2-.979 2.2-2.2v-11c0-1.221-.979-2.2-2.2-2.2h-5.874l2.849-2.849L19.224 5.1 15 9.324 10.776 5.1zM6.2 11.7h14.3v11H6.2v-11zm17.05 0a1.1 1.1 0 1 1 0 2.2 1.1 1.1 0 0 1 0-2.2zm0 3.3a1.1 1.1 0 1 1 0 2.2 1.1 1.1 0 0 1 0-2.2z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'Tv',
  components: {SvgBase}
}
</script>
