<template>
  <svg-base>
    <path
      fill="currentColor"
      d="M5.217 23.624A1.5 1.5 0 0 1 3.75 22.1V7.898a1.5 1.5 0 0 1 1.467-1.523h19.566a1.5 1.5 0 0 1 1.467 1.523v13.726a2 2 0 0 1-2 2H5.217zM12 12.574v4.854a.58.58 0 0 0 .273.498.508.508 0 0 0 .54-.007l4.926-2.428a.592.592 0 0 0 0-.983l-4.925-2.426a.51.51 0 0 0-.541-.008.583.583 0 0 0-.273.5z"/>
  </svg-base>
</template>

<script>
import SvgBase from '@/components/SvgBase.vue'
export default {
  name: 'Youtube',
  components: {SvgBase}
}
</script>
