/*---------------------------------------------
 Importing Fonts
 ---------------------------------------------*/

@font-face {
	font-family: Iranyekan;
	font-style: normal;
	font-weight: bold;
	src: url('/static/fonts/iranyekan/eot/iranyekanwebbold.eot');
	src: url('/static/fonts/iranyekan/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/iranyekan/woff2/iranyekanwebbold.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/iranyekan/woff/iranyekanwebbold.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/iranyekan/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
	font-family: Iranyekan;
	font-style: normal;
	font-weight: 300;
	src: url('/static/fonts/iranyekan/eot/iranyekanweblight.eot');
	src: url('/static/fonts/iranyekan/eot/iranyekanweblight.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/iranyekan/woff2/iranyekanweblight.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/iranyekan/woff/iranyekanweblight.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/iranyekan/ttf/iranyekanweblight.ttf') format('truetype');
}

@font-face {
	font-family: Iranyekan;
	font-style: normal;
	font-weight: normal;
	src: url('/static/fonts/iranyekan/eot/iranyekanwebregular.eot');
	src: url('/static/fonts/iranyekan/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/iranyekan/woff2/iranyekanwebregular.woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/iranyekan/woff/iranyekanwebregular.woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/iranyekan/ttf/iranyekanwebregular.ttf') format('truetype');
}

// IranyekanNumeral
// ----------------------
@font-face {
	font-family: IranyekanNumeral;
	font-style: normal;
	font-weight: bold;
	src: url('/static/fonts/iranyekan-numeral/eot/iranyekanwebbold(fanum).eot');
	src: url('/static/fonts/iranyekan-numeral/eot/iranyekanwebbold(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/iranyekan-numeral/woff2/iranyekanwebbold(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/iranyekan-numeral/woff/iranyekanwebbold(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/iranyekan-numeral/ttf/iranyekanwebbold(fanum).ttf') format('truetype');
}

@font-face {
	font-family: IranyekanNumeral;
	font-style: normal;
	font-weight: 300;
	src: url('/static/fonts/iranyekan-numeral/eot/iranyekanweblight(fanum).eot');
	src: url('/static/fonts/iranyekan-numeral/eot/iranyekanweblight(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/iranyekan-numeral/woff2/iranyekanweblight(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/iranyekan-numeral/woff/iranyekanweblight(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/iranyekan-numeral/ttf/iranyekanweblight(fanum).ttf') format('truetype');
}

@font-face {
	font-family: IranyekanNumeral;
	font-style: normal;
	font-weight: normal;
	src: url('/static/fonts/iranyekan-numeral/eot/iranyekanwebregular(fanum).eot');
	src: url('/static/fonts/iranyekan-numeral/eot/iranyekanwebregular(fanum).eot?#iefix') format('embedded-opentype'),  /* IE6-8 */
		 url('/static/fonts/iranyekan-numeral/woff2/iranyekanwebregular(fanum).woff2') format('woff2'),  /* FF39+,Chrome36+, Opera24+*/
		 url('/static/fonts/iranyekan-numeral/woff/iranyekanwebregular(fanum).woff') format('woff'),  /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
		 url('/static/fonts/iranyekan-numeral/ttf/iranyekanwebregular(fanum).ttf') format('truetype');
}

// Roboto
// --------------------

/* latin-ext */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu7GxKOzY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto'), local('Roboto-Regular'), url(https://fonts.gstatic.com/s/roboto/v18/KFOmCnqEu92Fr1Mu4mxK.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
