.page-about-us {
  color: $gray-10;
  line-height: 2em;
  direction: rtl;
  text-align: right;
  font-size: remy(14);
  max-width: remy(700);

  @include contentPageSpacings;

  h3 {
    font-size: remy(14);
  }
}
