.contact-us {
  direction: rtl;
  text-align: right;
  color: $gray-10;
  max-width: remy(460);

  @include contentPageSpacings;

  .recaptcha-wrapper {
    &.is-xs-resized {
      width: 100%;

      .recaptcha-container {
        overflow: hidden;
      }
    }

    .recaptcha-container {
      padding: 0;
    }
  }
  .contact-us--submit {
    @media (min-width: 576px) {
      height: remy(78);
    }
  }

  .form-control.form-control {
    border-bottom: 2px solid $grey-6;
    &:focus,
    &:active {
      border-color: $logo-pink-1;
    }
    &.is-invalid{
      border-bottom: 2px solid $red;
    }
  }
  .invalid-feedback.invalid-feedback {
    color: $red;
  }
}
