.login-page {
  position: absolute;
  z-index: 1002;
  min-height: 450px;
  overflow: hidden;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-image: url('/static/img/main/back-slide-1.jpg');
  background-size: cover;
  transition: background $globalAnimationDuration;

  &::before {
    display: block;
    content: ' ';
    position: absolute;
    left: -150%;
    top: 48%;
    @media (max-width: 480px) {
      top: 42%;
    }
    width: 400%;
    border-radius: 300%;
    background-color: $black;
    opacity: .9;
    z-index: 10;
    height: 800%;
    @media (max-width: 768px) {
      height: 200%;
    }
  }

  &.login-page--bg-1 {
    background-image: url('/static/img/main/back-slide-2.jpg');
  }

  &.login-page--bg-2 {
    background-image: url('/static/img/main/back-slide-3.jpg');
  }

  .login-artwork {
    position: absolute;
    height: 50%;
    width: 100%;
    top: 8%;
    @media (max-width: 480px) {
      top: 2%;
    }
    img {
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      max-height: 90%;
      max-width: 90%;
    }
  }

  .btn-login-without-membership {
    position: absolute;
    top: 90%;
    @media (max-width: 320px) {
      top: 85%;
    }
    left: 0;
    right: 0;
    display: block;
    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
    color: $blue;
    &:hover {
      text-decoration: none;
      color: $white;
    }
  }

  .form-area {
    position: absolute;
    top: 58%;
    @media (max-width: 480px) {
      top: 52%;
    }
    width: 100%;
    right: 0;
    left: 0;
  }

  .download-app-area {
    position: absolute;
    width: 100%;
    height: 10%;
    min-height: 10%;
    top: 85%;
    right: 0;
    left: 0;
    text-align: center;

    div {
      display: inline-block;
      height: 100%;
      width: 10%;
      left: 50%;
      margin: 0 .2em;
      border-radius: .2em;
      @media (max-width: 480px) {
        width: 40%;
      }
      @media (min-width: 480px) and (max-width: 768px) {
        width: 20%;
      }
      @media (min-width: 769px) and (max-width: 1200px) {
        width: 15%;
        img {
          min-width: 8em !important;
        }
      }

      img {
        width: 100%;
        max-width: 10em;
        min-width: 6em;
      }
    }
  }

  .steps-bullet-area {
    position: absolute;
    width: 100%;
    bottom: 0;
    height: 6%;
    text-align: center;
    direction: rtl;

    div {
      display: inline-block;
      width: .8em;
      height: .8em;
      margin: 0 .3em;
      border-radius: 50%;
      border: 2px solid $white;
      &.active {
        background-color: $white !important;
      }
    }
  }

  .login-page--steps {
    min-height: 450px;
    position: absolute;
    z-index: 11;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  .btn-success {
    background-color: $primaryColor;
    border: 0;
    margin-top: .5em;
    width: 100%;
  }
  .form-contents {
    margin: 1em !important;
  }
  .btn-login {
    @media (min-width: 1441px) and (max-width: 1899px) {
      max-width: 80% ;
    }
    @media (min-width: 1900px) {
      max-width: 65% ;
    }
  }
  input {
    text-align: center;
    font-family: 'Iranyekan', 'IranyekanNumeral', 'Roboto', sans-serif;
    direction: rtl;
    &::placeholder {
      direction: ltr;
      padding: .3em;
    }
    &.phone-number-input {
      direction: ltr !important;
      &::placeholder {
        direction: ltr !important;
      }
    }
    &.verification-code-input {
      direction: ltr !important;
      &::placeholder {
        direction: rtl !important;
      }
    }
  }
  .form-group {
    @media (min-width: 1441px) and (max-width: 1899px) {
      max-width: 70% ;
      margin-left: 15%;
    }
    @media (min-width: 1900px) {
      max-width: 60% ;
      margin-left: 20%;
    }
  }

  .step-title {
    text-align: center;
    color: $white;
    direction: rtl;
  }
}
