.page-notification {
  color: $white;
  direction: rtl;
  text-align: right;
  .page-notification--no-notification {
    padding-top: 2em;
    color: $white;
  }
  .page-notification--notification-list {
    padding-bottom: 1.5em;
    .notification-has-read {
      opacity: .7;
    }
    .card {
      margin-top: .8em;
      background-color: transparent;
      border: 0;

      .card-header {
        background-color: transparent;
        padding: 0;
        .notification-time {
          color: $primaryColor;
        }
        .notification-date {
          color: $white;
        }
      }
      .card-body {
        padding: .5em;
        background-color: $white;
        border: 2px solid $white;
        border-radius: .2em;
        color: $black;


        .notification-cover {
          width: 100%;
          padding-top: .5em;
          padding-right: .5em;
          padding-left: .5em;
        }

        .card-body-content {
          padding-top: 1em;
          padding-right: 1.5em;
          padding-left: 1.5em;
          padding-bottom: .5em;

          .notification-subtitle {
            padding: .6em 0;
          }

          .notification-paragraph {
            font-size: .8em;
            line-height: 1.9em;
          }
        }

        .btn-success {
          background-color: $primaryColor;
          color: $white;
          border: none;

          .notification-btn-icon {
            position: relative;
            top: .2em;
            margin-right: .3em;
            line-height: inherit;
          }
        }
      }
    }
  }
}
