.page-profile {
  $avatarBorderWidth: remy(2);
  $avatarWidth: remy(100);
  $avatarInnerWidth: remy(96);

  $avatarWidthMobile: remy(60);
  $avatarInnerWidthMobile: remy(56);
  direction: rtl;
  text-align: right;
  color: $white;

  margin-bottom: $pagesBottomMargin;
  @if $navbarMobileOnBottom == true {
    @media (max-width: 768px) {
      margin-bottom: $pagesBottomMargin + $headerHeightMobile;
    }
  }


  .page-profile--header {
    background-color: $grey-4;
    background-image: radial-gradient(circle at 0% 50%, rgba($logoSecondColor, 0.7), rgba($logoSecondColor, 0.2));
    position: relative;
    height: remy(100);
    @media (min-width:768px) {
      height: remy(224);
    }
  }

  .page-profile--avatar-area {
    display: block;
    width: $avatarWidthMobile;
    height: $avatarWidthMobile;
    border-radius: 100%;
    overflow: hidden;
    border: $avatarBorderWidth solid $white;
    color: $gray-1__2;
    background-color: $gray-15;
    @media (min-width: 768px) {
      height: $avatarWidth;
      width: $avatarWidth;
    }

    .profile-img {
      z-index: 1;
      height: $avatarInnerWidthMobile;
      @media (min-width: 768px) {
        height: $avatarInnerWidth;
      }
    }

    .contain {
      width: 100%;
      object-fit: cover;
    }

    .upload-box {
      .hold {
        position: relative;
        height: $avatarInnerWidthMobile;
        width: $avatarInnerWidthMobile;
        border-radius: 100%;
        @media (min-width: 768px) {
          height: $avatarInnerWidth;
          width: $avatarInnerWidth;
        }
      }
      .btn-file {
        position: absolute;
        top: .3em;
        right: .3em;
        cursor: pointer;
        height: 4.875rem;
        width: 4.875rem;
        border-radius: 100%;

        .paper-clip-icon {
          position: absolute;
          color: $braightGrey;
          top: .6em;
          right: 2em;
          width: 4em;
          height: 4em;
        }

        .file-upload-title {
          position: absolute;
          color: $braightGrey;
          width: 100%;
          top: 5em;
          font-size: 1em;
        }
      }
      .btn-file-edit {
        position: absolute;
        top: 0;
        left: 0;
        cursor: pointer;
        border-radius: 100%;
        height: $avatarInnerWidthMobile;
        width: $avatarInnerWidthMobile;
        @media (min-width: 768px) {
          height: $avatarInnerWidth;
          width: $avatarInnerWidth;
        }
      }
      .btn-file-edit,
      .btn-file {
        input[type=file] {
          // visibility: hidden;
          opacity: 0;
          position: absolute;
          top: 0;
          right: 0;
          cursor: pointer;
          border-radius: 100%;
          z-index: 3;
          border: none;
          font-size: 0;
          height: $avatarInnerWidthMobile;
          width: $avatarInnerWidthMobile;
          @media (min-width: 768px) {
            height: $avatarInnerWidth;
            width: $avatarInnerWidth;
          }
        }
      }
      .icon-edit-container {
        z-index: 2;
        left: 50%;
        top: 50%;
        bottom: 0;
        position: absolute;
        margin-top: remy(-12);
        margin-left: remy(-12);
        color: $white;
        width: remy(24);
        height: remy(24);
      }
      .camera-icon {
        width: remy(24);
        height: remy(24);
      }
    }

  }
  .page-profile__title {
    @media (max-width: 768px) {
      font-size: $fsize-14;
    }
  }
  .page-profile__phone {
    color: $grey-6;
    font-size: 0.75rem;
  }
  .component-packages {
    margin-bottom: remy(96);
  }
  .packages-empty {
    margin-top: remy(48);
    font-size: remy(12);
    color: $gray-12;
  }

  *::placeholder {
    color: $grey-6;
    font-size: $fsize-14;
  }
}
.page-profile__notifications {
  margin-top: remy(-36);
}