.top-app-bar-visible {
  .program-page {
    .program-page--header {
      top: 6.8em;
    }
  }
}

.player-area-bg{
  /* stylelint-disable */
  background: #000;
  background: rgba(0, 0, 0, 0.6);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, .75) 0%, rgba(0, 0, 0, .85) 60%, rgba(0, 0, 0, .95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  /* stylelint-enable */
}

.program-page {
  margin-bottom: remy(2 * 35);

  // Remove this block for disable keep view mode
  @media (max-width: 576px)  and (orientation: portrait){
    .text-small {
      font-size: .8em;
    }
    .program-page--header {
      @include player-top-distance;
      position: fixed;
      width: 100%;
      overflow: hidden;
      z-index: 900;
    }
    .program-page--header:after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 1px;
      z-index: 3000000;
      transform: scale(1);
      //box-shadow: 0px 0px 8px 2px #000000;
    }
  }

  .media-player-area {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;
    background: $mirrorDark;

    .media-player--need-login {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      position: absolute;
      z-index: 10;
      @extend .player-area-bg;
      .media-player--need-login-content {
        text-align: center;
        position: absolute;
        width: 90%;
        top: 50%;
        left: 50%;
        font-size: 2em;
        transform: translate(-50%, -50%);

        .button-icon {
          display: block;
          width: 1em;
          float: right;
          height: 100%;
        }

        .btn-primary {
          height: 2.5em;
          line-height: 1.4em;
          background-color: $logoSecondColor;
          border: 0;
          direction: rtl;
          @media (max-width: 767px) {
            width: 50%;
          }
          @media (min-width: 768px) {
            width: 25%;
          }
        }
        .need-login-title {
          padding-top: 1em;
          padding-bottom: 1em;
        }
      }
    }

    .media-player--locked {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      position: absolute;
      z-index: 10;
      @extend .player-area-bg;
      .media-player--locked-content {
        position: absolute;
        width: 90%;
        top: 50%;
        left: 50%;
        font-size: 2em;
        transform: translate(-50%, -50%);
      }
    }

    .media-player--countdown {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      position: absolute;
      z-index: 10;
      @extend .player-area-bg;

      .media-player--countdown-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        @media (max-width: 768px) {
          width: 100%;
        }
        font-size: 1em;
        transform: translate(-50%, -50%);

        .media-player--countdown-content-timer-area{
          min-height: 100px;
        }

        .media-player--countdown-message {
          display: block;
          width: 100%;
          font-size: 2em;
          direction: rtl;
          margin-top: 2em;
          @media (max-width: 768px) {
            margin-top: 0;
            font-size: 1em;
          }
          color: $mirrorGray;
          text-align: center;
        }
      }
    }

    .kill-session-form {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      position: absolute;
      z-index: 10;
      @extend .player-area-bg;

      .kill-session-form--content {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .missing-program {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      position: absolute;
      z-index: 10;
      @extend .player-area-bg;

      .missing-program--content {
        display: block;
        width: 100%;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);

        .missing-program--error-code{
          display: block;
          width: 100%;
          font-size: 2em;
        }
        .missing-program--error-title {
          @media (max-width: 576px) {
            font-size: 0.8em;
          }
          @media (max-width: 319px) {
            font-size: 0.7em;
          }
        }
      }
    }

    .vjs-player {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      position: absolute;
      z-index: 9;
    }
  }

  .program-page--title {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1.1em;
    height: 3em;
    line-height: 3em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* stylelint-disable */
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,1b1b1b+21,010101+50,1b1b1b+80,1b1b1b+100&0+0,0.7+21,0.8+50,0.7+80,0+100 */
    background: -moz-linear-gradient(left, rgba(0,0,0,0) 0%, rgba(27,27,27,0.7) 21%, rgba(1,1,1,0.8) 50%, rgba(27,27,27,0.7) 80%, rgba(27,27,27,0) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(left, rgba(0,0,0,0) 0%,rgba(27,27,27,0.7) 21%,rgba(1,1,1,0.8) 50%,rgba(27,27,27,0.7) 80%,rgba(27,27,27,0) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(27,27,27,0.7) 21%,rgba(1,1,1,0.8) 50%,rgba(27,27,27,0.7) 80%,rgba(27,27,27,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#001b1b1b',GradientType=1 ); /* IE6-9 */
    /* stylelint-enable */
  }

  .program-page--header {
    width: 100%;
    background-color: $black-1;
    padding: 0;
    max-height: 10%;

    .feeback-area {
      padding-top: 1.4em;
      padding-bottom: 1.2em;
      direction: ltr;
      text-align: right;

      .btn-social-media {
        background-color: $mirrorLight;
        border-radius: .2em;
        border: 0;
        color: $white;
        float: left;
        margin-right: .5em;
        line-height: 1.4rem;
        height: 2.1rem;
        &:hover {
          background-color: $primaryColor;
          color: $white;
        }

        .social-media-icon {
          width: 20px;
          height: 20px;
          margin-top: .2em;
        }
      }
      .btn-feedback {
        background-color: $mirrorLightBlack;
        border-radius: .2em;
        border: none;
        line-height: 1.4rem;
        height: 2rem;
        font-size: .7em;
        &:hover {
          background-color: $primaryColor;
          border-color: $primaryColor;
          color: $white;
        }
      }
    }
  }
  .program-details {
    &.exists {
      border-bottom: 1px solid $gray-2;
    }
  }
  .load-more {
    color: $logoSecondColor;
  }
}

.program-item-page {
  .component-archive {
    padding-top: 0;
    .search-input-area {
      margin-top: remy(40);
    }
  }
}
