.top-app-bar-visible {
  .live-tv-page {
    .live-tv-page--header {
      top: 6.8em;
    }
  }
}

.live-tv-page {
  $mobileHeight: 24em;
  $height: 48em;

  .episode-not-found{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  // Remove this block for disable keep view mode
  @media (max-width: 576px)  and (orientation: portrait){
    .live-tv-page--header{
      position: fixed;
      width: 100%;
      overflow: hidden;
      z-index: 900;
      @include player-top-distance;
    }
    .live-tv-page--header:after {
      content: "";
      position: absolute;
      width: 100%;
      bottom: 1px;
      z-index: 3000000;
      transform: scale(1);
      //box-shadow: 0px 0px 8px 2px #000000;
    }
  }

  .media-player-area {
    width: 100%;
    position: relative;
    padding-top: 56.25%;
    overflow: hidden;

    &.bg-mirror{
      background: $mirrorDark;
    }

    .media-player--need-login {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      position: absolute;
      z-index: 10;
      background: $mirrorDark;
      .media-player--need-login-content {
        text-align: center;
        position: absolute;
        width: 90%;
        top: 50%;
        left: 50%;
        font-size: 2em;
        transform: translate(-50%, -50%);

        .button-icon {
          display: block;
          width: 1em;
          height: 1em;
          float: right;
        }

        .btn-primary {
          height: 2.5em;
          line-height: 1.3em;
          background-color: $primaryColor;
          border: 0;
          direction: rtl;
          @media (max-width: 767px) {
            width: 50%;
          }
          @media (min-width: 768px) {
            width: 25%;
          }
        }
        .need-login-title {
          padding-top: 1em;
          padding-bottom: 1em;
        }
      }
    }

    .media-player--locked {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      position: absolute;
      z-index: 10;
      background: $mirrorDark;
      .media-player--locked-content {
        position: absolute;
        width: 90%;
        top: 50%;
        left: 50%;
        font-size: 2em;
        transform: translate(-50%, -50%);
      }
    }

    .media-player--countdown {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      position: absolute;
      z-index: 10;
      /* stylelint-disable */
      background: #000000; /* Old browsers */
      background: radial-gradient(ellipse at center, rgba(0, 0, 0, .75) 0%,rgba(0, 0, 0, .85) 60%,rgba(0, 0, 0, .95) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
      /* stylelint-enable *//* stylelint-enable */

      .media-player--countdown-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 80%;
        @media (max-width: 768px) {
          width: 100%;
        }
        font-size: 1em;
        transform: translate(-50%, -50%);
        .media-player--countdown-message {
          display: block;
          width: 100%;
          font-size: 2em;
          direction: rtl;
          margin-top: 2em;
          @media (max-width: 768px) {
            margin-top: 0;
            font-size: 1em;
          }
          color: $mirrorGray;
          text-align: center;
        }
      }
    }

    .kill-session-form {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      position: absolute;
      z-index: 10;
      background: $mirrorDark;

      .kill-session-form--content {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }
    }

    .vjs-player {
      top: 0;
      left: 0;
      bottom: 0;
      right: 0;
      height: auto;
      position: absolute;
      z-index: 9;
    }
  }

  // NOTE: not visible (height 0)
  .live-tv-page--title {
    display: block;
    margin: 0 !important;
    padding: 0 !important;
    font-size: 1.1em;
    // height: 3em;
    height: 0 !important;
    line-height: 3em;
    @media (max-width: 568px) {
      display: none !important;
    }
  }

  .live-tv-page--header {
    transition: 200ms all;
    width: 100%;
    //background-image: url('/static/img/main/tv-bg.jpg');
    //background-repeat: repeat;
    //background-size: cover;
    background-color: $gray-14;
    max-height: 10%;
    padding: 0 0;
    @media (min-width: 576px) {
      padding: 1em 0 1em 0;
    }

    .feeback-area {
      padding-top: 1em;
      direction: ltr;
      text-align: right;

      .btn-social-media {
        background-color: $mirrorLight;
        border: 0;
        color: $white;
        float: left;
        margin-right: .5em;
        line-height: 100%;
        &:hover {
          background-color: $primaryColor;
          color: $white;
        }

        .social-media-icon {
          width: 20px;
          height: 20px;
          margin-top: .2em;
        }
      }
      .btn-feedback {
        background-color: $mirrorLightBlack;
        border-color: $mirrorLight;
        &:hover {
          background-color: $primaryColor;
          border-color: $primaryColor;
          color: $white;
        }
      }
    }

  }
  .current-channel-item {
    position: relative;
    width: 100%;
    color: $pure-white;
    background-color: $grey-5;
    box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.51), 0 1px 6px 0 rgba(0, 0, 0, 0.8);
    .logo {
      width: 2.8em;
    }
    .title {
      color: $logoSecondColor;
      font-weight: bold;
      width: 60%;
      text-align: right;
      font-size: $fsize-20;
      @media (max-width: 400px) {
        font-size: $fsize-14;
      }
      @media (max-width: 340px) {
        font-size: $fsize-12;
      }
    }
    .btn-tv {
      border: 1px solid $pure-white !important;
      background-color: transparent;
      color: $pure-white;
      font-size: $fsize-10;
      font-weight: bold;
      line-height: 1;
      > * {
        vertical-align: middle;
      }
      .arrow {
        width: 0.6em;
      }
    }
  }
}
