<template>
  <div
    v-if="showAppbar && showMainLayoutSections"
    class="appbar" >
    <div
      v-if="barView == 'ios'"
      class="text-light container-fluid">
      <div class="row appbar-content">
        <div class=" col- md-1 col-sm-1 col-2 no-padding-left">
          <div class="img-logo-container">
            <img
              class="img-fluid app-logo float-right"
              src="/static/img/favicon/favicon-96x96.png">
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-5 title-container">
          <h6 class="application-name-title text-rtl">{{ $t("appbar.application") }}</h6>
          <p class="application-name-subtitle text-rtl">{{ $t("appbar.iOSVersion") }}</p>
        </div>
        <div class="col-md-2 col-sm-2 col-3 btn-download-container text-center">
          <a
            class="btn w-100 btn-sm btn-outline-info text-rtl"
            href="https://new.sibapp.com/applications/anten?ios"
            target="_blank">{{ $t("appbar.download") }}</a>
        </div>
        <div
          class="col-md-1 col-sm-1 col-2 btn-close-container text-center"
          @click="hideAppbar()">
          <button
            type="button"
            class="btn btn-sm btn-outline-info cancel-btn float-left"><icon
              class="icon-cancel"
              name="close"/></button>
        </div>
      </div>
    </div>
    <div
      v-if="barView == 'android'"
      class="text-light container-fluid">
      <div class="row appbar-content">
        <div class=" col- md-1 col-sm-1 col-2 no-padding-left">
          <div class="img-logo-container">
            <img
              class="img-fluid app-logo float-right"
              src="/static/img/favicon/favicon-96x96.png">
          </div>
        </div>
        <div class="col-md-8 col-sm-8 col-5 title-container">
          <h6 class="application-name-title text-rtl">{{ $t("appbar.application") }}</h6>
          <p class="application-name-subtitle text-rtl"> {{ $t("appbar.androidVersion") }}</p>
        </div>
        <div class="col-md-2 col-sm-2 col-3 btn-download-container text-center">
          <a
            class="btn w-100 btn-sm btn-outline-info text-rtl"
            href="https://cafebazaar.ir/app/com.farakav.anten/?l=fa"
            target="_blank">{{ $t("appbar.download") }}</a>
        </div>
        <div
          class="col-md-1 col-sm-1 col-2 btn-close-container text-center"
          @click="hideAppbar()">
          <button
            type="button"
            class="btn btn-sm btn-outline-info cancel-btn float-left"><icon
              class="icon-cancel"
              name="close"/></button>
        </div>
      </div>
    </div>
    <!--<div v-if="barView == 'telegram'" >-->
    <!--&lt;!&ndash;<div v-if="$route.path !== '/login' && (whichOS === 'iOS' || whichOS === 'AndroidOS')">&ndash;&gt;-->
    <!--<div class="text-light container-fluid">-->
    <!--<div class="row appbar-content-telegram">-->
    <!--<div class=" col- md-1 col-sm-1 col-2 no-padding-left">-->
    <!--<div class="img-logo-container">-->
    <!--<img class="img-fluid app-logo float-right"-->
    <!--src="/static/img/main/Telegram_logo.svg">-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="col-md-8 col-sm-8 col-4 title-container">-->
    <!--</div>-->
    <!--<div class="col-md-2 col-sm-2 col-4 btn-download-container text-center">-->
    <!--</div>-->
    <!--<div class="col-md-1 col-sm-1 col-2 btn-close-container text-center" @click="hideAppbarTelegram()">-->
    <!--<button type="button" class="btn btn-sm btn-outline-info cancel-btn float-left"><icon class="icon-cancel" name="close"></icon></button>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</template>
<script>
import Icon from 'vue-awesome/components/Icon.vue'

export default {
  name: 'Appbar',
  components: {Icon},
  data () {
    return {
      appbarToggle: false,
      appbarTelegramToggle: false
    }
  },
  computed: {
    barView () {
      if (this.whichOS === 'iOS') {
        return 'ios'
      } else if (this.whichOS === 'AndroidOS') {
        return 'android'
      }
    },
    showAppbar () {
      if (this.$route.path === '/login') {
        return false
      } else {
        return this.layoutShowAppbar
      }
    }
  },
  watch: {
    isLogin () {
      this.layoutResetAppBarVisibility()
    },
    showAppbar () {
      if (this.showAppbar && !this.isEmbedded) {
        $('body').addClass('top-app-bar-visible')
      } else {
        $('body').removeClass('top-app-bar-visible')
      }
    }
  },
  mounted () {
    if (this.showAppbar && !this.isEmbedded) {
      $('body').addClass('top-app-bar-visible')
    }
  },
  methods: {
    hideAppbar () {
      this.layoutHideAppBar()
    }
  }
}
</script>
