<template>
  <div class="component-archive">
    <div class="container p-sm-0 text-center">
      <div class="input-group search-input-area">
        <button
          v-if="searchInput"
          class="clear-button button-unstyled"
          e2e-archive-search-cancel
          @click="clearSearch">
          <clear-icon class="clear-icon" />
        </button>
        <input
          v-model="searchInput"
          :placeholder="$t('formPlaceholder.search')"
          type="text"
          class="form-control search-input"
          aria-describedby="inputGroup-sizing-sm"
          e2e-archive-search-input>
        <button class="search-button button-unstyled">
          <search-icon
            class="search-icon"
            @click="searchProgram(searchInput)" />
        </button>
      </div>
      <box-loading
        v-if="firstLoad"
        class="mt-4" />
      <div v-if="programsList.length === 0 && !firstLoad">
        <div class="row">
          <div class="col-12 text-center text-rtl">
            <h6 class="no-result-title mt-4">{{ $t("message.noResult") }}</h6>
          </div>
        </div>
      </div>
      <div v-if="programsList.length > 0">
        <div
          v-for="(day, index1) in programsList"
          :key="index1"
          class="archive-list-area">
          <div class="clearfix">
            <div class="float-right text-rtl text-left program-list-date mt-4 date-start">{{ day.date | persianDate("dddd") }}</div>
            <div class="float-left text-rtl text-right program-list-date mt-4 date-end">{{ day.date | persianDate('YY/M/D') }}</div>
          </div>

          <div class="col-12 p-0">
            <program-card
              v-for="program in day.programs"
              :key="program.id"
              :program="program"
              :from-page="'archive'"
              @click="setLinkPrevNext(program.id)"/>
          </div>
        </div>
      </div>
      <div class="db-blcok h-4">
        <button
          v-if="!searchMode && programsList.length > 0 && !programsListLoading"
          class="db-block btn btn-link load-more"
          @click="loadMore">{{ $t("button.loadMore") }}
        </button>
        <box-loading v-if="!searchMode && programsList.length > 0 && programsListLoading && !firstLoad"/>
      </div>
    </div>
  </div>
</template>
<script>
import BoxLoading from './Loading.vue'
import SearchIcon from '@/components/vue-svg/Search.vue'
import ClearIcon from '@/components/vue-svg/Clear.vue'
import ProgramCard from '@main/components/ProgramCard.vue'
import Config from '@/config/config'

export default {
  name: 'ArchiveList',
  components: {BoxLoading, SearchIcon, ClearIcon, ProgramCard},
  data () {
    return {
      searchMode: false,
      badgeCount: 0,
      firstLoad: true,
      searchInput: null,
      searchInputTimer: null
    }
  },
  computed: {
    // playingProgramId () {
    //   return this.archiveCurrentProgramData.id
    // },
    programsListLoading () {
      return this.archiveConductorListLoading
    },
    programsList () {
      // TODO: must write better
      let programList = []
      let i = 0
      let list = this._.cloneDeep(this.archiveConductorList)
      this._.forEach(list, (item, key) => {
        i = i + 1
        let programs = []
        item.forEach((item) => {
          programs.push(...item.programs)
        })
        programList.push({
          date: (item[0] || {}).date,
          persianDate: key,
          programs: programs
        })
      })
      return programList
    },
    programListId () {
      let list = []
      const programList = this.archiveConductorRawList
      programList.forEach(value => {
        value.programs.forEach(value2 => {
          list.push(value2.id)
        })
      })
      return list
    }
  },
  watch: {
    programsList () {
      if (this.programsList.length > 0) {
        this.firstLoad = false
      }
    },
    searchInput () {
      if (this.searchInput && this.searchInput !== '') {
        this.searchMode = true
        this.searchProgram()
      } else {
        // Patch: Handle issue when user remove text by back key
        this.searchInputTimer = setTimeout(() => {
          this.clearListState()
          this.searchMode = false
          this.getData()
        }, 100)
      }
    }
  },
  destroyed () {
    document.removeEventListener('touchmove', this.handleScroll, false)
    window.removeEventListener('scroll', this.handleScroll)
    clearTimeout(this.searchInputTimer)
  },
  mounted () {
    document.addEventListener('touchmove', this.handleScroll, false)
    window.addEventListener('scroll', this.handleScroll)
    this.archiveConductorClearListState()
    this.getData()
  },
  methods: {
    clearSearch () {
      this.searchInput = null
    },
    loadMore () {
      this.archiveConductorGetAll({
        count: 3,
        getFeatured: true,
        type: 'Live',
        offset: 0
      })
    },
    handleScroll (e) {
      if (!this.searchMode && !this.programsListLoading) {
        if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
          this.loadMore()
        }
      }
    },
    clearListState () {
      this.archiveConductorClearListState()
    },
    searchProgram (payload) {
      this.archiveConductorSearchItem(this.searchInput)
    },
    getData () {
      this.archiveConductorGetAll({
        count: 3,
        getFeatured: true,
        type: 'Live',
        offset: 0
      })
    },
    isLive (programList) {
      return programList[0].isLive
    },
    isPlaying (programList) {
      let output = false
      programList.forEach((item) => {
        // eslint-disable-next-line
        if (item.id === this.archiveCurrentProgramID) {
          output = true
          return false
        }
      })
      return output
    },
    setLinkPrevNext (id) {
      const index = this.programListId.indexOf(id)
      this.setLink({
        rel: 'next',
        href: this.programListId[index - 1] ? `${Config.baseUrl}archive/${this.programListId[index - 1]}` : null
      })
      this.setLink({
        rel: 'prev',
        href: this.programListId[index + 1] ? `${Config.baseUrl}archive/${this.programListId[index + 1]}` : null
      })
    },
    isReporters (program) {
      return program.descendants && program.descendants.length
    }
  }
}
</script>
