<template>
  <img
    v-if="currentUser.imagePath"
    :src="avatarImage"
    class="profile-img contain"
    @error="imageLoadError">
  <profile-icon
    v-else
    class="profile-img contain" />
</template>
<script>
import ProfileIcon from '@/components/vue-svg/Profile.vue'

export default {
  name: 'Avatar',
  components: {ProfileIcon},
  data () {
    return {
      loadFromCache: false
    }
  },
  computed: {
    avatarImage () {
      if (this.loadFromCache) {
        return this.profileCachedAvatar
      } else {
        return this.authMemberInfo.imagePath
      }
    }
  },
  methods: {
    imageLoadError () {
      this.loadFromCache = true
    }
  }
}
</script>
