<template v-if="isLogin">
  <div class="component-packages">
    <b-modal
      ref="myModalOTP"
      v-model="modalVisibility"
      size="md"
      hide-footer
      class="modal-component modal-component--packages"
      @hidden="onHide">
      <!------------ Modal Header ---------->
      <div
        slot="modal-header"
        class="w-100 text-center">
        <package-header
          :title="title"
          :hide="onHide"/>
      </div>
      <!------------ Modal Content ---------->
      <div class="content">
        <div v-if="buyPackageStep === 0">
          <p class="mb-5 text-right text-rtl">{{ $t("buyPackage.chooseOnePackage") }}</p>
          <div
            :class="{'justify-content-center': isCenter}"
            class="row text-center mb-4">
            <lottie
              v-if="!programPackages"
              :options="defaultOptions"
              :height="30"
              :width="30"/>
            <div
              v-for="(pack, index) in programPackages"
              :key="index"
              class="col-12 col-sm-4 mb-2 mb-sm-0" >
              <package-piece
                :item="pack"
                :class="{'active': index === selectedPack}"
                @click.native="setPackId(pack.id, index)"/>
            </div>
          </div>
        </div>
      </div>
      <!------------ Modal Footer ---------->
      <div
        v-if="buyPackageStep === 0"
        class="w-100">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <button
              :disabled="buyPackageLoading || !packageID"
              :class="{'disabled': buyPackageLoading || !packageID}"
              class="float-left btn btn-submit w-100"
              tabindex="0"
              @keyup.enter="buyPackage()"
              @click="buyPackage()">
              <span v-if="!buyPackageLoading">{{ $t("button.buy") }}</span>
              <lottie
                v-else
                :options="defaultOptions"
                :height="30"
                :width="30"/>
            </button>
          </div>
        </div>
      </div>
      <!------------ Other Step ---------->
      <div v-if="buyPackageStep === 1">
        <p class="step-title">{{ $t("buyPackage.wannaPackage") }}</p>
        <div class="buttons-area">
          <div class="row">
            <div class="col-6">
              <button
                class="btn w-100  btn-md btn-cancel"
                @click="hideModal()">
                {{ $t("button.no") }}
              </button>
            </div>
            <div class="col-6">
              <button
                :class="{'btn-loading': buyPackageLoading}"
                class="w-100 btn btn-md btn-submit focusable"
                @click="buyPackage">
                {{ $t("button.yes") }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div v-if="buyPackageStep === 2">
        <p class="step-title">{{ $t("buyPackage.enterVerification") }}</p>
        <div class="form-group">
          <input
            ref="textInput2"
            :placeholder="$t('message.loginVerificationCodePlaceholder')"
            v-model="otp"
            class="focusable form-control verification-code-input"
            type="tel"
            @keyup.enter="sendVerificationCode">
        </div>
        <div class="buttons-area">
          <div class="row">
            <div class="col-6">
              <button
                class="btn w-100  btn-md btn-cancel"
                @click="hideModal()">
                {{ $t("button.cancel") }}
              </button>
            </div>
            <div class="col-6">
              <button
                :class="{'btn-loading': verificationLoading}"
                class="w-100 btn btn-md btn-submit focusable"
                @click="sendVerificationCode">
                {{ $t("button.send") }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div v-if="buyPackageStep === 3">
        <p class="step-title">{{ $t("buyPackage.newVerification") }}</p>
        <div class="buttons-area">
          <div class="row">
            <div class="col-6">
              <button
                class="btn w-100  btn-md btn-cancel"
                @click="hideModal">
                {{ $t("button.cancel") }}
              </button>
            </div>
            <div class="col-6">
              <button
                class="w-100 btn btn-md btn-submit focusable"
                @keyup.enter="buyPackage"
                @click="buyPackage">
                {{ $t("button.send") }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div v-if="buyPackageStep === 4">
        <p class="step-title text-center mb-4">{{ $t("buyPackage.successful") }}</p>
        <div class="buttons-area">
          <div class="row">
            <div class="col-12">
              <button
                class="w-100 btn btn-md btn-submit focusable"
                @keyup.enter="hideModal"
                @click="hideModal();">
                {{ $t("button.submit") }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div v-if="buyPackageStep === 5">
        <p class="step-title text-rtl text-right">{{ $t("buyPackage.unsupportedPhoneNumber") }}</p>
        <div class="buttons-area">
          <div class="row">
            <div class="col-12">
              <button
                class="w-100 btn btn-md btn-submit focusable"
                @keyup.enter="hideModal"
                @click="hideModal();">
                {{ $t("button.returnToPage") }}
              </button>
            </div>
          </div>
        </div>
      </div>
      <div v-if="buyPackageStep === 6">
        <p class="step-title text-rtl text-right">{{ currentPackage.message }}</p>
        <div class="buttons-area">
          <div class="row">
            <div class="col-12">
              <button
                class="w-100 btn btn-md btn-submit focusable"
                @keyup.enter="hideModal"
                @click="hideModal();">
                {{ $t("button.ok") }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </b-modal>
  </div>
</template>

<script>
import Lottie from 'vue-lottie'
import { mapState } from 'vuex'
import PackageHeader from './ModalHeader.vue'
import PackagePiece from './PackagePiece.vue'
import * as loading from '../../../../static/json/loading.json'

export default {
  name: 'PackageModal',
  components: {
    PackageHeader,
    PackagePiece,
    Lottie
  },
  props: {
    'program-id': {
      type: Number,
      default: null
    }
  },
  data () {
    return {
      otp: null,
      title: this.$t('formLabel.buyAnten'),
      modalVisibility: false,
      defaultOptions: {animationData: loading},
      selectedPack: null
    }
  },
  computed: {
    ...mapState('userPackage', [
      'step',
      'buyPackageStep',
      'packages',
      'programPackages',
      'buyPackageLoading',
      'verificationLoading',
      'packageID',
      'currentPackage'
    ]),
    showOTPModal () {
      return this.layoutShowOTPModal
    },
    isCenter () {
      return this.programPackages ? Object.keys(this.programPackages).length <= 2 : 0
    }
  },
  watch: {
    showOTPModal () {
      if (this.programId) {
        this.userPackageGetProgramPackages(this.programId)
        this.userPackageSetBuyPackageStep(0)
      }
      if (this.showOTPModal) {
        this.modalVisibility = true
      } else {
        this.modalVisibility = false
      }
    }
  },
  methods: {
    onHide () {
      this.userPackageSetPackageID(null)
      this.layoutHideOTPModal()
    },
    setBuyPackageStep () {
      this.userPackageSetBuyPackageStep(2)
    },
    setPackId (ID, index) {
      this.selectedPack = index
      this.userPackageSetPackageID(ID)
    },
    showModal (packID) {
      this.setPackId(packID)
      this.$refs.myModalOTP.show()
      this.layoutShowOTPModalAction()
    },
    hideModal () {
      this.userPackageSetPackageID(null)
      this.userPackageClearOTPState()
      this.layoutHideOTPModal()
      this.getData()
      this.$refs.myModalOTP.hide()
    },
    sendVerificationCode () {
      this.userPackageSendVerificationCode(this.otp)
    },
    getData () {
      this.userPackageGetAll({})
    },
    buyPackage () {
      this.userPackageBuy(this.packageID)
    }
  }
}
</script>
