<template>
  <div class="row component-contdown">
    <transition name="fade">
      <div
        v-if="days != 0"
        class="component-contdown--countdown-graph">
        <donut
          :percent="days"
          :show-label="visible"
          :text="data.days"/>
        <span class="component-contdown--countdown-label text-rtl">
          <span v-show="visible">
            {{ $t("timer.day") }}
          </span>
        </span>
      </div>
    </transition>
    <transition name="fade">
      <div
        v-if="hours != 0 || days != 0"
        class="component-contdown--countdown-graph">
        <donut
          :percent="hours"
          :show-label="visible"
          :text="data.hours"/>
        <span class="component-contdown--countdown-label text-rtl">
          <span v-show="visible">
            {{ $t("timer.hour") }}
          </span>
        </span>
      </div>
    </transition>
    <div class="component-contdown--countdown-graph">
      <donut
        :percent="minutes"
        :show-label="visible"
        :text="data.minutes"/>
      <span class="component-contdown--countdown-label text-rtl">
        <span v-show="visible">
          {{ $t("timer.minute") }}
        </span>
      </span>
    </div>
    <div class="component-contdown--countdown-graph">
      <donut
        :percent="seconds"
        :show-label="visible"
        :text="data.seconds"/>
      <span class="component-contdown--countdown-label text-rtl">
        <span v-show="visible">
          {{ $t("timer.second") }}
        </span>
      </span>
    </div>
  </div>
</template>
<script>
import donut from '@main/components/Donut.vue'
export default {
  name: 'Countdown',
  components: {
    donut
  },
  props: {
    /* eslint-disable */
    data: {
      type: Object,
      default: {}
    }
    /* eslint-enable */
  },
  data () {
    return {
      visible: false
    }
  },
  computed: {
    days () {
      return parseInt(this.data.days * 100 / 1)
    },
    hours () {
      return parseInt(this.data.hours * 100 / 24)
    },
    minutes () {
      return parseInt(this.data.minutes * 100 / 60)
    },
    seconds () {
      return parseInt(this.data.seconds * 100 / 60)
    }
  },
  watch: {
    data () {
      this.visible = true
    }
  }
}
</script>
