<template>
  <div class="date-picker">
    <div class="header">
      <div
        v-if="!isLG"
        class="cursor-pointer position-absolute close"
        @click="hiddenCalendar">
        <close/>
      </div>
      <div
        v-if="!isLG"
        class="title">{{ $t('message.selectDay') }}</div>
      <div class="header-row">
        <div class="header-row-cell">{{ $t('datePicker.Saturday') }}</div>
        <div class="header-row-cell">{{ $t('datePicker.Sunday') }}</div>
        <div class="header-row-cell">{{ $t('datePicker.Monday') }}</div>
        <div class="header-row-cell">{{ $t('datePicker.Tuesday') }}</div>
        <div class="header-row-cell">{{ $t('datePicker.Wednesday') }}</div>
        <div class="header-row-cell">{{ $t('datePicker.Thursday') }}</div>
        <div class="header-row-cell">{{ $t('datePicker.Friday') }}</div>
      </div>
    </div>
    <table
      cellspacing="0"
      class="table-days">
      <tbody>
        <tr
          v-for="(week, index) in days"
          :key="index">
          <td
            v-for="(item, index2) in week"
            :key="index2"
            :class="item.classes"
            :data-subtract = "item.subtract"
            @click.stop.prevent="loadPastDaysConductor(item)">
            <span>{{ item.day }}</span>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
import PersianDate from 'persian-date'
import Close from '@/components/vue-svg/Close.vue'

export default {
  name: 'DatePicker',
  components: {
    Close
  },
  props: {
    isOldState: {
      type: Boolean,
      default: null
    }
  },
  data () {
    return {
      days: []
    }
  },
  computed: {
    conductor () {
      return this.tvCurrentChannelConductor
    },
    pastDayConductor () {
      return this.tvPastDayConductor
    },
    selectedDay () {
      return (this.pastDayConductor.length && this.pastDayConductor[0].startAt) ||
        (this.conductor.length && this.conductor[0].startAt)
    },
    selectedDatePickerItem () {
      return this.tvSelectedDatePickerItem
    }
  },
  mounted () {
    this.generateDays()
    this.showSelectedDay()
  },
  methods: {
    generateDays () {
      const todayDateObj = new PersianDate()
      const config = {
        countOfWeek: 5,
        daysOfWeek: 7,
        today: {
          classes: 'today',
          day: todayDateObj.date(),
          daysOfWeek: todayDateObj.day(),
          month: todayDateObj.month()
        },
        lastWeek: [],
        otherWeek: [],
        allDays: []
      }
      // Create days of last week
      const dateObj = new PersianDate()
      for (let i = 1; i <= config.daysOfWeek; i++) {
        if (i === config.today.daysOfWeek) {
          config.lastWeek.push(config.today)
        } else if (i < config.today.daysOfWeek) {
          const subtractedDateObj = dateObj.subtract('days', i)
          config.lastWeek.push({
            classes: '',
            day: subtractedDateObj.date(),
            daysOfWeek: subtractedDateObj.day(),
            month: subtractedDateObj.month(),
            subtract: i
          })
        } else {
          const subtractedDateObj = dateObj.subtract('days', config.today.daysOfWeek - i)
          config.lastWeek.push({
            classes: 'other-month',
            day: subtractedDateObj.date(),
            daysOfWeek: subtractedDateObj.day(),
            month: subtractedDateObj.month(),
            subtract: config.today.daysOfWeek - i
          })
        }
      }
      config.lastWeek = this._.orderBy(config.lastWeek, ['daysOfWeek'])
      // Create old days
      let cloneToday = Object.assign({}, config.today)
      const oldDaysDateObj = new PersianDate()
      for (let i = 1; i < config.countOfWeek; i++) {
        for (let j = 1; j <= config.daysOfWeek; j++) {
          const countBeforeToday = (config.allDays.length * 7) + (j - 1) + config.today.daysOfWeek
          cloneToday.daysOfWeek++
          const subtractedDateObj = oldDaysDateObj.subtract('days', cloneToday.daysOfWeek - 1)
          config.otherWeek.push({
            classes: countBeforeToday >= 14 ? 'other-month' : '',
            day: subtractedDateObj.date(),
            daysOfWeek: subtractedDateObj.day(),
            month: subtractedDateObj.month(),
            subtract: cloneToday.daysOfWeek - 1
          })
        }
        config.allDays.push(this._.orderBy(config.otherWeek, ['daysOfWeek']))
        config.otherWeek = []
      }
      config.allDays = this._.orderBy(config.allDays, ['month', 'daysOfWeek'])
      config.allDays.reverse()
      config.allDays.push(config.lastWeek)
      this.days = config.allDays
    },
    loadPastDaysConductor (item) {
      if (item.classes === 'other-month') {
        return false
      }
      this.tvSetSelectedDatePicker(item)
      this.days.forEach(items => {
        items.forEach(item => {
          item.classes = item.classes.indexOf('selected') > -1 ? (item.classes.indexOf('today') > -1 ? 'today' : '') : item.classes
        })
      })
      item.classes = item.classes + ' selected'
      this.$emit('loadPastDaysConductor', item)
      this.hiddenCalendar()
    },
    showSelectedDay () {
      if (this.selectedDay) {
        this.days.forEach(items => {
          items.forEach(item => {
            const selectedDay = this.isOldState === false ? this.conductor[0].startAt : this.selectedDay
            const dayOfMonth = new PersianDate(new Date(selectedDay)).date()
            const month = new PersianDate(new Date(selectedDay)).month()
            if (item.day === dayOfMonth && item.month === month) {
              item.classes += ' selected'
            }
          })
        })
      } else if (this.selectedDatePickerItem) {
        const day = this.selectedDatePickerItem.day
        const month = this.selectedDatePickerItem.month
        this.days.forEach(items => {
          items.forEach(item => {
            if (item.day === day && item.month === month) {
              item.classes += ' selected'
            }
          })
        })
      }
    },
    hiddenCalendar () {
      this.tvToggleShowCalendar(false)
    }
  }
}
</script>
