<template>
  <div
    v-if="enabled"
    class="text-right">
    <div class="info-details-toggle text-center">
      <b-btn
        v-b-toggle.collapse1
        variant="link">
        <toggle-icon />
      </b-btn>
    </div>
    <div class="info-details-toggle--content">
      <b-collapse
        id="collapse1"
        visible>
        <slot />
      </b-collapse>
    </div>
  </div>
  <div v-else>
    <slot />
  </div>
</template>
<script>
import ToggleIcon from '@/components/vue-svg/Bars.vue'

export default {
  name: 'DetailsToggle',
  components: {ToggleIcon},
  props: {
    enabled: {
      type: Boolean,
      default: false
    }
  }
}
</script>
