<!-- https://codepen.io/biomassives/pen/yaZwQw -->
<template>
  <div class="donut-container">
    <svg
      version="1.1"
      xmlns="http://www.w3.org/2000/svg"
      viewBox="0 0 200 200">
      <path
        v-if="showLabel"
        :d="dBg"
        :stroke="backgroundColor"
        :stroke-width="strokeWidth"
        fill="transparent"/>
      <path
        v-if="showLabel"
        :d="d"
        :stroke="foregroundColor"
        :stroke-width="strokeWidth"
        fill="transparent"/>
    </svg>
    <span
      v-if="showLabel"
      class="chart-label text-rtl">
      {{ text }}
    </span>
  </div>
</template>
<script>
/* eslint-disable */
import Config from '@/config/config.js'

export default {
  props: {
    percent: {
      type: Number,
      default: 100
    },
    showLabel: {
      type: Boolean,
      default: true
    },
    text: {
      default: ''
    },
    foregroundColor: {
      type: String,
      default: Config.primaryColor
    },
    backgroundColor: {
      type: String,
      default: '#444'
    }
  },
  replace: true,
  data () {
    return {
      strokeWidth: 6,
      radius: 70,
      value: 25,
      width: 20,
      textPositionX: 50 + '%',
      textPositionY: 50 + '%'
    }
  },
  mounted () {
    if (this.isMobile) {
      this.strokeWidth = 15
      this.radius = 80
    }
  },
  computed: {
    // If more than 50% filled we need to switch arc drawing mode from less than 180 deg to more than 180 deg
    largeArc() {
      return this.percent < 50 ? 0 : 1;
    },
    // Where to put x coordinate of center of circle
    x() {
      return 100;
    },
    // Where to put y coordinate of center of circle
    y() {
      return 100 - this.radius;
    },
    // Calculate X coordinate of end of arc (+ 100 to move it to middle of image)
    // add some rounding error to make arc not disappear at 100%
    endX() {
      return -Math.sin(this.radians) * this.radius + 100 - 0.0001;
    },
    // Calculate Y coordinate of end of arc (+ 100 to move it to middle of image)
    endY() {
      return Math.cos(this.radians) * this.radius + 100;
    },
    // Calculate length of arc in radians
    radians() {
      var degrees = (this.percent / 100) * 360
      var value = degrees - 180; // Turn the circle 180 degrees counter clockwise

      return (value * Math.PI) / 180;
    },
    // If we reach full circle we need to complete the circle, this ties into the rounding error in X coordinate above
    z() {
      return this.percent == 100 ? 'z' : '';
    },
    dBg() {
      return "M " + this.x + " " + this.y + " A " + this.radius + " " + this.radius + " 0 1 1 " + (this.x - 0.0001) + " " + this.y + " z";
    },
    d() {
      return "M " + this.x + " " + this.y + " A " + this.radius + " " + this.radius + " 0 " + this.largeArc + " 1 " + this.endX + " " + this.endY + " " + this.z;
    }
  }
}
</script>

<style scoped>

  .donut-container {
    position: relative;
    font-size: 28px;
  }

  .donut-container svg {
    width: 100%;
    height: 100%;
  }

  .donut-container .chart-label {
    display: block;
    color: white;
    top: 50%;
    width: 100%;
    transform: translateY(-57%);
    position: absolute;
  }

  @media (max-width: 768px) {
    .donut-container {
      font-size: 20px;
    }
  }
</style>
