<template>
  <footer
    v-if="showMainLayoutSections"
    class="footer">
    <div class="container footer-content">
      <a href="/"><img
        src="/static/img/main/logo/anten-logo.svg"
        alt=""
        class="footer__logo"></a>
      <div class="row pt-2 pb-2 pb-md-0 pt-md-0">
        <div class="col-md-6 col-12">
          <div
            :class="{'text-center': !isMD}"
            class="links-container">
            <router-link
              e2e-contactus-footer
              class="footer-link text-rtl ml-2 ml-sm-5"
              to="/contact-us">
              <span>{{ $t("navigation.contactUs") }}</span>
            </router-link>
            <router-link
              e2e-aboutus-footer
              class="footer-link text-rtl ml-2 ml-sm-5"
              to="/about-us">
              <span>{{ $t("navigation.aboutUs") }}</span>
            </router-link>
          </div>
        </div>
        <div class="col-md-6 col-12 text-left">
          <div
            :class="{'text-center': !isMD}"
            class="links-container pb-0">
            <div class="d-inline-block cursor-pointer download-app">
              <a
                :href="sibappLink"
                target="_blank"
                class="pr-1 footer-link"
                e2e-sibapp>
                <sib-app class="ml-2"/>
                <span>
                  {{ $t("formLabel.downloadFrom") }}
                </span>
                <span>
                  &nbsp;{{ $t("navigation.sibApp") }}
                </span>
              </a>
            </div>
            <div class="d-inline-block cursor-pointer mr-md-2 mr-lg-2 download-app">
              <a
                :href="cafebazaarLink"
                target="_blank"
                class="pr-1 footer-link"
                e2e-cafebazar>
                <cafe-bazaar class="ml-2"/>
                <span>{{ $t("formLabel.downloadFrom") }}</span>
                <span>&nbsp;{{ $t("navigation.cafeBazaar") }}</span>
              </a>
            </div>
          </div>
          <div class="col-12 text-center pb-3 text-md-left logo-samadehi">
            <img
              id="sizpsizpwlaojxlzsizp"
              style="cursor:pointer"
              onclick="window.open('https://logo.samandehi.ir/Verify.aspx?id=99419&p=pfvlpfvlaodsrfthpfvl', 'Popup', 'toolbar=no, scrollbars=no, location=no, statusbar=no, menubar=no, resizable=0, width=450, height=630, top=30')"
              alt="logo-samandehi"
              src="https://logo.samandehi.ir/logo.aspx?id=99419&p=bsiybsiyshwlnbpdbsiy">
          </div>
          <!-- <ul class="footer__nav-social d-flex list-unstyled justify-content-end align-items-center p-0 m-auto">
            <li class="mr-2 mr-sm-3"><a><facebook /></a></li>
            <li class="mr-2 mr-sm-3"><a><twitter /></a></li>
            <li class="mr-2 mr-sm-3"><a><telegram /></a></li>
          </ul> -->
        </div>
      </div>
      <hr class="footer__hr">
      <div class="row footer__row2 text-center text-sm-right">
        <div class="col-12 col-sm-8">
          <div class="copyright-container">
            <span>{{ $t('message.copyRight') }} <span
              dir="ltr"
              class="d-inline-block">@2019</span></span>
          </div>
        </div>
        <div class="col-12 col-sm-4 text-center text-sm-left">
          <div class="version-container d-block text-rtl">
            <span>
              {{ $t("version") }} {{ versionNumber }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
import {version} from '../../../../package.json'
import Twitter from '@/components/vue-svg/Twitter.vue'
import Facebook from '@/components/vue-svg/Facebook.vue'
import Telegram from '@/components/vue-svg/Telegram.vue'
import SibApp from '@/components/vue-svg/SibApp.vue'
import CafeBazaar from '@/components/vue-svg/CafeBazaar.vue'
import Config from '@/config/config.js'

export default {
  name: 'Footer',
  components: {SibApp, CafeBazaar, Twitter, Facebook, Telegram},
  computed: {
    versionNumber () {
      return version
    },
    sibappLink () {
      return Config.iosAppUrl
    },
    cafebazaarLink () {
      return Config.androidAppUrl
    }
  }
}
</script>
