<template>
  <div v-if="showMainLayoutSections">
    <div
      v-if="showSidebar"
      class="page-sidebar--overlay"
      @click="toggleSidebar"/>
    <nav class="navbar navbar-expand-lg navbar-light fixed-top navbar--main">
      <div class="container main-navbar-container d-flex justify-content-between px-3 px-sm-0">

        <!-- part right -->
        <div class="d-flex align-items-center navbar-main--part">
          <span class="logos-container ml-2 ml-md-0 d-block">
            <router-link
              class="focusable"
              to="/">
              <div class="logo-right-side float-right">
                <img
                  :alt="$t('header.logoAnten')"
                  src="/static/img/main/logo/anten-fr-logotype.svg"
                  height="20"
                  class="img-logo-main">
              </div>
              <div class="logo-left-side float-right">
                <img
                  :alt="$t('header.logoAnten')"
                  src="/static/img/main/logo/anten-old-logo-color.svg"
                  height="28"
                  class="shima-logo-image">
              </div>
            </router-link>
          </span>
        </div>

        <!-- part center -->
        <div class="collapse navbar-expand d-none d-md-block navbar-main--part main-navigation">
          <ul class="navbar-nav p-0 d-flex justify-content-center">
            <li
              v-if="findTab(1)"
              e2e-live
              class="nav-item">
              <router-link
                :class="{'router-link-exact-active': homeActiveFlag}"
                class="focusable nav-link only-exact-active text-rtl px-3 py-0"
                to="/">
                {{ $t("navigation.program") }}
              </router-link>
            </li>
            <li
              v-if="findTab(0)"
              e2e-tv
              class="nav-item">
              <router-link
                e2e-live-h
                class="focusable nav-link text-rtl px-3 py-0"
                to="/tv">{{ $t("navigation.tv") }}</router-link>
            </li>
            <li
              v-if="findTab(3)"
              e2e-archive
              class="nav-item">
              <router-link
                class="focusable nav-link text-rtl px-3 py-0"
                to="/archive">
                {{ $t("navigation.archive") }}
              </router-link>
            </li>
            <!---->
            <!---->
            <!--<li e2e-profile class="nav-item">-->
            <!--<router-link class="p-2 focusable nav-link" v-if="isLogin" to="/profile">{{ $t("navigation.profile")}}-->
            <!--</router-link>-->
            <!--</li>-->
            <!--<li e2e-notification class="nav-item" v-if="isLogin">-->
            <!--<router-link class="p-2 focusable nav-link" to="/notification">{{ $t("navigation.notification")}}-->
            <!--</router-link>-->
            <!--</li>-->
            <!--<li e2e-logout class="nav-item" v-if="isLogin">-->
            <!--<a class="p-2 btn-md focusable nav-link btn" @click="showLogoutModal()">{{-->
            <!--$t("navigation.logout")}}</a>-->
            <!--</li>-->
          </ul>
        </div>

        <!-- part left -->

        <div class="d-flex align-items-center navbar-main--part">
          <div class="mr-auto">
            <!-- hamburger menu -->
            <div class="d-md-none">
              <!-- <div e2e-nav-button @click="toggleSidebar"
                  class="toggle-wrap page-sidebar--toggle-btn float-left" :class="{active:showSidebar}">
                <menu-icon />
              </div> -->
              <div
                :class="{active:showSidebar}"
                e2e-nav-button
                class="toggle-wrap page-sidebar--toggle-btn float-left text-center position-relative"
                @click="toggleSidebar">
                <span class="toggle-bar"/>
              </div>
              <div
                v-if="!isLogin && $route.fullPath === '/'"
                class="d-flex float-left"
                @click="showLoginModal">
                <icon
                  e2e-login-mobile
                  class="icon-sign-in text-align-left ml-2"
                  name="sign-in"/>
              </div>
            </div>

            <!-- login button -->
            <div
              v-if="!isLogin"
              e2e-login-desktop
              class="d-none d-md-block">
              <button
                class="btn btn-sm btn-outline-primary header-login-button focusable text-rtl"
                @click="showLoginModal"><span>{{ $t("button.login") }}</span></button>
            </div>

            <!-- dropdown -->
            <div
              v-if="isLogin"
              class="header-member-territory d-none d-md-block">
              <b-dropdown
                no-caret
                variant="link" >
                <template
                  slot="button-content"
                  class="text-rtl btn">
                  <div
                    e2e-profile-menu
                    class="member-avatar contain">
                    <avatar/>
                  </div>
                </template>

                <b-dropdown-item
                  v-if="isLogin"
                  e2e-profile
                  class="focusable text-rtl"
                  to="/profile">
                  <icon
                    name="user"
                    class="member-territory-icon"/><span>{{ $t("navigation.profile") }}</span>
                </b-dropdown-item>

                <b-dropdown-item
                  e2e-logout
                  class="focusable text-rtl"
                  @click="showLogoutModal">
                  <icon
                    name="sign-out"
                    class="member-territory-icon"/><span>{{ $t("navigation.logout") }}</span>
                </b-dropdown-item>

              </b-dropdown>
            </div>

            <!-- <div class="header-member-territory d-none d-md-block" v-if="isLogin">
              <b-dropdown class="btn btn-secondary dropdown-toggle text-rtl" id="dropdownMenuButton" text="Dropdown Button">
                <template slot="button-content">
                  <button class="btn btn-secondary text-rtl" type="button">
                    <div e2e-profile-menu class="member-avatar contain">
                      <avatar></avatar>
                    </div>
                  </button>
                </template>

                <b-dropdown-item>
                  <router-link e2e-profile class="focusable text-rtl" v-if="isLogin" to="/profile">
                    <icon name="user" class="member-territory-icon"></icon>
                    {{ $t("navigation.profile")}}
                  </router-link>
                </b-dropdown-item>
                <b-dropdown-item>
                  <div class="dropdown-item">
                    <a e2e-logout class="focusable text-rtl" @click="showLogoutModal">
                      <icon name="sign-out" class="member-territory-icon"></icon>
                      {{$t("navigation.logout")}}
                    </a>
                  </div>
                </b-dropdown-item>
              </b-dropdown>
            </div> -->

          </div>
        </div>
      </div>
    </nav>

    <navbar-mobile :home-active-flag="homeActiveFlag" />
  </div>
</template>
<script>
import Avatar from '@main/components/Avatar.vue'
import NavbarMobile from '@main/components/NavbarMobile.vue'

// import MenuIcon from '@/components/vue-svg/More.vue'
export default {
  name: 'Header',
  components: {Avatar, NavbarMobile},
  data () {
    return {
      homeActiveFlag: this.$router.history.current.path.toLowerCase().indexOf('/program') > -1
    }
  },
  computed: {
    showSidebar () {
      return this.layoutShowSidebar
    },
    activeTabs () {
      // TODO better than condition
      return this.serverConfig ? this.serverConfig.activeTabs : []
    }
  },
  watch: {
    $route (to, from) {
      this.show = false
      this.homeActiveFlag = this.$router.history.current.path.toLowerCase().indexOf('/program') > -1
    }
  },
  methods: {
    findTab (searchKey) {
      return this.activeTabs.find(p => p.programTypeId === searchKey)
    },
    showLoginModal () {
      this.layoutShowLoginModal()
    },
    showLogoutModal () {
      this.layoutShowLogoutModal()
    },
    changeLanguage (lang) {
      this.localeChangeLang(lang)
    },
    toggleSidebar () {
      this.layoutToggleSidebar()
    }
  }
}
</script>
