<template>
  <div class="text-center">
    <!--TODO: i18n-->
    <img
      :alt="$t('button.loading')"
      src="/static/img/main/loading-circle.svg">
  </div>
</template>
<style>
</style>
<script>
export default{
  name: 'BoxLoading'
}
</script>
