<template>
  <b-modal
    v-model="showLoginModal"
    e2e-login-modal
    class="modal-component modal-component--login"
    size="md"
    @hidden="onHide">
    <!------------ Modal Header ---------->
    <div
      slot="modal-header"
      class="w-100 text-center">
      <login-header
        :title="title"
        :hide="onHide"/>
    </div>
    <!------------ Modal Content ---------->
    <div
      v-if="authenticationStep == 1"
      class="content text-center">
      <p
        class="rtl"
        v-html="$t('formLabel.pleaseInsertPhoneNumberForLogin')"/>
      <div class="form-group">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-md-6">
            <input
              ref="textInput1"
              :placeholder="$t('message.loginPhoneNumberPlaceholder')"
              v-model="phoneNumber"
              e2e-phone-number-input-modal
              autofocus
              class="text-center form-control"
              type="tel"
              pattern="\d*"
              maxlength="11"
              @keyup.enter="sendPhoneNumber">
          </div>
        </div>
      </div>
    </div>
    <div
      v-else
      class="content text-center">
      <div class="row justify-content-center">
        <div class="col-xs-12 col-md-6 px-0 mb-4">
          <div
            class="rtl"
            v-html="$t('formLabel.enterVerificationCodeFastLogin', {number: $options.filters.phone(phoneNumber)})"/>
        </div>
      </div>
      <div class="form-group">
        <div class="row justify-content-center">
          <div class="col-xs-12 col-md-6">
            <input
              ref="textInput2"
              v-model="verificationCode"
              e2e-verify-code-input-modal
              class="form-control text-center"
              autofocus
              type="tel"
              maxlength="5"
              pattern="\d*"
              @keyup.enter="sendVerificationCode">
          </div>
        </div>
      </div>
    </div>
    <!------------ Modal Footer ---------->
    <div
      slot="modal-footer"
      class="w-100">
      <div class="row">
        <div
          v-if="authenticationStep == 1"
          class="col-xs-12 col-sm-4">
          <button
            :disabled="phoneSendLoading"
            class="float-left btn btn-submit w-100 "
            e2e-send-phone-number-button-modal
            tabindex="0"
            @click="sendPhoneNumber">
            <span v-if="!phoneSendLoading">{{ $t("button.getLoginCode") }}</span>
            <lottie
              v-else
              :options="defaultOptions"
              :height="30"
              :width="30"/>
          </button>
        </div>
        <div
          v-if="authenticationStep == 2"
          class="col-xs-12 col-sm-5 order-1 order-sm-0">
          <button
            v-if="countDown > 0"
            :class="{'disabled': isDisabledSendVerification}"
            :disabled="verificationSendLoading"
            e2e-submit-verify-code-button-modal
            tabindex="0"
            class="w-100 btn btn-md btn-submit text-rtl"
            @keyup.enter="sendVerificationCode"
            @click="sendVerificationCode">
            <span v-if="!verificationSendLoading">{{ $t("button.confirmCode") }}</span>
            <lottie
              v-else
              :options="defaultOptions"
              :height="30"
              :width="30"/>
          </button>
          <button
            v-else
            e2e-resend-verify-code-button-modal
            class="w-100 btn btn-md btn-submit text-rtl"
            tabindex="0"
            @click="resendVerification();">
            {{ $t("button.resend") }}
          </button>
        </div>
        <div
          v-if="authenticationStep == 2 && countDown > 0"
          class="col-xs-12 col-sm-7 text-sm-right text-center py-2 order-0 order-sm-1 pb-4 pb-sm-2">
          <span class="text-timer">{{ $t("formLabel.resendCodeAfter") }} {{ countDown }}</span>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import Lottie from 'vue-lottie'
import * as loading from '../../../../static/json/loading.json'
import LoginHeader from './ModalHeader.vue'
import Config from '@/config/config'
import i18n from '@/i18n'

export default {
  name: 'LoginModal',
  components: {
    LoginHeader,
    Lottie
  },
  data () {
    return {
      phoneNumber: null,
      title: this.$t(`formLabel.loginToAnten`),
      verificationCode: null,
      countDown: null,
      resendKeyTimer: null,
      countDownInterval: Config.resendVerificationCodeTimeout,
      defaultOptions: {animationData: loading},
      focusInputTimer: null
    }
  },
  computed: {
    showLoginModal: {
      get () { return this.layoutIsShowLoginModal },
      set () {}
    },
    authenticationStep () {
      return this.authStep === 0 ? 1 : this.authStep
    },
    phoneSendLoading () {
      return this.authSendPhoneNumberLoading
    },
    verificationSendLoading () {
      return this.authSendVerificationCodeLoading
    },
    isDisabledSendVerification () {
      return (!this.verificationCode || this.verificationCode.length < 5) && !this.verificationSendLoading
    }
  },
  watch: {
    showLoginModal () {
      this.focusOnInput()
      this.authClearStep()
    },
    authenticationStep () {
      this.focusOnInput()
      if (this.authStep === 2) {
        this.startCountdown(this.countDownInterval)
      } else {
        clearTimeout(this.resendKeyTimer)
      }
    }
  },
  destroyed () {
    clearTimeout(this.resendKeyTimer)
    clearTimeout(this.focusInputTimer)
  },
  methods: {
    focusOnInput () {
      this.focusInputTimer = setTimeout(() => {
        if (this.$refs[`textInput${this.authStep}`]) {
          this.$refs[`textInput${this.authStep}`].focus()
        }
      }, 100)
    },
    sendPhoneNumber () {
      if (!this.phoneNumber) {
        this.notifyShow({type: 'error', message: i18n.t('notifications.loginPhoneNumber')})
      } else {
        this.authSendPhoneNumber(this.phoneNumber)
      }
    },
    startCountdown (interval) {
      this.countDown = interval
      let that = this
      if (interval > 0) {
        this.resendKeyTimer = setTimeout(() => {
          that.startCountdown(--interval)
        }, 1000)
      }
    },
    clearLoginInformation () {
      this.phoneNumber = null
      this.verificationCode = null
    },
    sendVerificationCode () {
      if (!this.verificationCode || this.verificationCode.length < Config.lengthCode) {
        this.notifyShow({type: 'error', message: i18n.t('notifications.loginVerificationCode')})
      } else {
        this.authSendVerificationCode(this.verificationCode).then(() => {
          if (this.isLogin) {
            this.clearLoginInformation()
            this.layoutHideLoginModal()
          }
        })
      }
    },
    resendVerification () {
      this.countDown = Config.resendVerificationCodeTimeout
      this.verificationCode = null
      this.authSendPhoneNumber(this.phoneNumber)
      this.notifyShow({type: 'success', message: this.$t('message.resendVerificationCode')})
      this.startCountdown(this.countDown)
    },
    onHide () {
      clearTimeout(this.resendKeyTimer)
      this.clearLoginInformation()
      this.authClearStep()
      this.layoutHideLoginModal()
    }
  }
}
</script>
