<template>
  <b-modal
    ref="myModalRef"
    v-model="showLogoutModal"
    e2e-logout-modal
    class="modal-component modal-component--logout"
    @hidden="onHide">
    <!------------ Modal Header ---------->
    <div
      slot="modal-header"
      class="w-100 text-center">
      <login-header
        :title="title"
        :hide="onHide"/>
    </div>
    <!------------ Modal Content ---------->
    <div class="content text-center">
      <p class="rtl">{{ $t("message.leaveAccount") }}</p>
    </div>
    <!------------ Modal Footer ---------->
    <div
      slot="modal-footer"
      class="w-100">
      <div class="row">
        <div class="col-5">
          <button
            e2e-logout-cancel
            class="w-100 btn btn-cancel"
            @click="onHide">
            {{ $t("button.cancel") }}
          </button>
        </div>
        <div class="col-5 offset-2">
          <button
            e2e-logout-exit
            class="w-100 btn focusable btn-submit"
            @click="logout">
            {{ $t("navigation.logout") }}
          </button>
        </div>
      </div>
    </div>
  </b-modal>
</template>
<script>
import LoginHeader from './ModalHeader.vue'

export default {
  name: 'LogoutModal',
  components: {
    LoginHeader
  },
  data () {
    return {
      showLogoutModal: false,
      title: this.$t(`message.exitAccount`)
    }
  },
  computed: {
    showLogoutModalSate () {
      return this.layoutIsShowLogoutModal
    }
  },
  watch: {
    showLogoutModalSate () {
      if (this.showLogoutModalSate === true) {
        this.showLogoutModal = true
        this.$refs.myModalRef.show()
      } else {
        this.showLogoutModal = false
        this.$refs.myModalRef.hide()
      }
    }
  },
  methods: {
    onHide () {
      this.layoutHideLogoutModal()
    },
    logout () {
      this.layoutHideLogoutModal()
      this.layoutHideSidebar()
      this.authLogout()
      this.$router.push('/')
    }
  }
}
</script>
