<template>
  <div>
    <span>{{ title }}</span>
    <div
      slot="modal-header-close"
      class="float-left cursor-pointer">
      <img
        src="/static/img/main/close.svg"
        e2e-cancel-modal
        @click="hide" >
    </div>
  </div>
</template>

<script>
export default {
  name: 'HeaderModal',
  props: {
    title: {
      type: String,
      default: ''
    },
    hide: {
      type: Function,
      default: () => {}
    }
  }
}
</script>

<style scoped>

</style>
