<template>
  <nav class="navbar--mobile navbar d-md-none">
    <div class="d-flex justify-content-around list-unstyled w-100 m-0 p-0 h-100 main-navigation container m-auto">
      <router-link
        v-if="findTab(1)"
        :class="{'router-link-exact-active': homeActiveFlag}"
        class="navbar--mobile__link focusable nav-link text-rtl only-exact-active"
        to="/"
        e2e-live>
        <youtube />
      </router-link>

      <router-link
        v-if="findTab(0)"
        class="navbar--mobile__link focusable nav-link"
        to="/tv"
        e2e-tv>
        <tv />
      </router-link>

      <router-link
        v-if="findTab(3)"
        class="navbar--mobile__link focusable nav-link"
        to="/archive"
        e2e-archive>
        <archive />
      </router-link>

      <router-link
        v-if="isLogin"
        class="navbar--mobile__link focusable nav-link"
        to="/profile"
        e2e-profile>
        <profile />
      </router-link>
    </div>
  </nav>
</template>

<script>
import youtube from '@/components/vue-svg/Youtube.vue'
import archive from '@/components/vue-svg/Archive.vue'
import tv from '@/components/vue-svg/Tv.vue'
import profile from '@/components/vue-svg/Profile.vue'

export default {
  name: 'NavbarMobile',
  components: {youtube, archive, tv, profile},
  props: {
    homeActiveFlag: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    activeTabs () {
      // TODO better than condition
      return this.serverConfig ? this.serverConfig.activeTabs : []
    }
  },
  methods: {
    findTab (searchKey) {
      return this.activeTabs.find(p => p.programTypeId === searchKey)
    }
  }
}
</script>
