<template>
  <div/>
</template>
<script>
export default {
  name: 'Notify',
  computed: {
    count () {
      return this.notifyCount
    },
    message () {
      return this.notifyMessage
    },
    type () {
      return this.notifyType
    }
  },
  watch: {
    count () {
      return this.showNotification()
    }
  },
  methods: {
    showNotification () {
      this.$notify({
        position: 'bottom right',
        group: 'server',
        type: `${this.type}`,
        title: '',
        text: `${this.message}`
      })
    }
  }
}
</script>
