<template>
  <div class="notification-cards mb-5">
    <div
      v-if="notificationList.length === 0"
      class="notification-empty">
      <p>{{ $t("message.thereIsNoNotification") }}</p>
    </div>
    <div v-else>
      <div
        v-for="(notification, index) in notificationList"
        :key="index"
        :class="{'notification-has-read': notification.isRead === true}"
        class="card">

        <!-- <h6 class="notification-date">{{ notification.publishDate | persianDate(" MMMM D YYYY")  }}</h6>
         -->
        <div class="card-body px-0">
          <img
            :src="notification.cover"
            class="notification-thumbnail ml-2 ml-md-3"
            alt="">

          <div
            v-if="notification && notification.cover"
            class="text-rtl text-right" >
            <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
              <img
                :src="notification.cover"
                class="img-fluid notification-cover">
            </div>
            <div class="notification-text d-flex flex-column justify-content-between px-2 px-md-3">
              <div class="content">
                <h5 class="upperTitle">{{ notification.upperTitle }}</h5>
                <p class="paragraph">{{ notification.body }}</p>
              </div>
              <div class="notification-time text-ltr d-block m-0">{{ notification.publishDate | fromNow }}</div>
            </div>
          </div>

          <!-- no cover -->
          <div v-else>
            <div class="notification-text">
              <h5 class="notification-upperTitle">{{ notification.upperTitle }}</h5>
              <h6 class="notification-title">{{ notification.title }}</h6>
              <p class="notification-paragraph">{{ notification.body }}</p>
            </div>
            <span class="notification-time text-ltr d-block m-0">{{ notification.publishDate | fromNow }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Notifications',
  computed: {
    // TODO removed computed
    notificationCounts () {
      return this.notificationCount
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    getData () {
      this.notificationGetAll()
    },
    updateLastMessageWhichReadByUser (id) {
      this.notificationUpdateLastMessageWhichReadByUser().then(() => {
        this.notificationGetAll()
      })
    }
  }
}
</script>
