<template>
  <div class="nprogress-container"/>
</template>

<script>
export default {
  name: 'NprogressContainer'
}
</script>

<style lang="css">
@import 'nprogress/nprogress.css';
</style>
