<template>
  <div class="component-packages">
    <div v-if="packages">
      <div
        v-for="(pack, index) in packages"
        :key="index"
        class="card">
        <div class="card-body text-center">
          <div class="d-inline-block package-icon">
            <!-- TODO: Other package images -->
            <img
              src="/static/img/main/anten-silver-circle.svg"
              alt="">
          </div>
          <h5 class="card-title text-center text-rtl">{{ pack.title }}</h5>
          <div class="description-container" >
            <p
              v-if="pack.description"
              class="text-rtl">{{ pack.description }}</p>
          </div>
          <!-- <div class="price-effective text-center">
            <span class="package-price text-rtl">{{pack.effectivePriceTxt}}</span>
          </div> -->
          <button
            v-if="pack.isActive === false"
            class="btn btn-sm btn-primary btn--buyPackage"
            @click="showModal(pack.id)">{{ $t("button.upgradeAnten") }}</button>
          <button
            v-else
            class="btn btn-sm btn-success"
            disabled> {{ $t("button.boughtPackage") }} </button>
        </div>
      </div>
      <div
        v-if="packages.length === 0"
        class="text-md-center w-100 text-muted packages-empty">
        {{ $t('message.noExistPackage') }}
      </div>
    </div>
    <package-modal/>
  </div>
</template>
<script>
import packageModal from './BuyPackageModal.vue'

export default {
  name: 'Package',
  components: { packageModal },
  data () {
    return {
      verificationCode: null,
      packID: null
    }
  },
  computed: {
    packages () {
      return this.userPackages
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    showModal (packID) {
      this.userPackageClearOTPState()
      this.userPackageSetPackageID(packID)
      this.layoutShowOTPModalAction()
      this.userPackageSetBuyPackageStep(1)
      if (this.showOTPModal === true) {
        if (this.whichOS === 'iOS') {
          $('body').css('position', 'fixed')
        }
      } else {
        if (this.whichOS === 'iOS') {
          $('body').css('position', 'relative')
        }
      }
    },
    getData () {
      this.userPackageGetAll({})
    }
  }
}
</script>
