<template>
  <div class="package-piece">
    <img
      :src="url"
      class="icon">
    <div class="title">{{ item.title }}</div>
    <div class="price text-rtl">{{ item.price | price }} {{ $t('formLabel.toman') }}</div>
  </div>
</template>

<script>
export default {
  name: 'PackagePiece',
  props: {
    item: {
      type: Object,
      default: () => {}
    }
  },
  computed: {
    url () {
      return `/static/img/main/${this.item.type || `gold`}-package.svg`
    }
  }
}
</script>
