<template>
  <ul
    v-if="program && program.title"
    class="player-actions d-flex list-unstyled p-0 mb-3 mb-lg-0">
    <!-- <li class="mb-lg-3">
      <button class="action" @click="enableNotification">
        <notification />
      </button>
    </li> -->
    <li class="mb-lg-3">
      <button
        v-if="isLogin"
        :title="$t('button.report')"
        class="action"
        e2e-report-error-button
        @click="showReportModal">
        <report />
      </button>
    </li>
  </ul>
</template>
<script>
import Notification from '@/components/vue-svg/Notification.vue'
import Report from '@/components/vue-svg/Error.vue'

export default {
  name: 'PlayerActions',
  components: {Notification, Report},
  props: {
    program: {
      type: Object,
      default: () => {}
    }
  },
  methods: {
    showReportModal () {
      this.layoutShowReportModal()
    },
    enableNotification () {
      // TODO: enableNotification
      console.log('enableNotification...')
    }
  }
}
</script>
