
<template>
  <b-modal
    v-model="edit"
    e2e-profile-modal
    class="modal-component"
    size="md"
    @hidden="onHide">
    <!------------ Modal Header ---------->
    <div
      slot="modal-header"
      class="w-100 text-center">
      modal header
    </div>
    <!------------ Modal Content ---------->
    <div class="content text-center">
      <div class="form-group">
        form group, modal content...
      </div>
    </div>
    <!------------ Modal Footer ---------->
    <div
      slot="modal-footer"
      class="w-100">
      modal footer...
    </div>
  </b-modal>
</template>

<script>
import Lottie from 'vue-lottie'
import * as loading from '../../../../static/json/loading.json'

export default {
  name: 'ProfileEditModal',
  components: {
    Lottie
  },
  props: {
    edit: {
      type: Boolean,
      default: false
    }
  },
  data () {
    return {
      defaultOptions: {animationData: loading}
    }
  },
  mounted () {
    console.log(this.edit)
  },
  methods: {
    onHide () {
      this.edit = false
    }
  }
}
</script>
