<template>
  <div class="component-conductor pt-3">
    <div class="container p-sm-0 text-center">
      <box-loading v-if="firstLoad" />
      <div v-if="programsList.length > 0">
        <div
          v-for="(day, index1) in programsList"
          :key="index1"
          class="archive-list-area">
          <div class="clearfix">
            <h5
              v-if="index1 === 0"
              class="float-right text-rtl text-right section-title">
              {{ $t('header.programsList') }}
            </h5>
          </div>
          <!-- TODO: is it reliable to say index 0 is always today? -->
          <div class="clearfix d-flex justify-content-between align-items-end text-rtl dates-row">
            <div class="float-right text-rtl text-right program-list-date mt-4 date-start">{{ isToday(day.date) ? $t('today'): isTomorrow(day.date) ? $t('tomorrow') : '' }}</div>
            <button
              v-if="index1 === 0"
              :title="$t('button.update')"
              :class="{'btn-loading': programsListLoading}"
              type="button"
              class="btn btn-sm button-dark btn-refresh btn-secondary text-rtl"
              @click="getData(true)"><reload class="icon" /><span class="text">{{ $t('button.update') }}</span></button>
            <div class="float-left text-rtl text-left program-list-date mt-4 date-end">{{ day.date | persianDate("dddd YY/M/D") }}</div>
          </div>

          <div class="col-12 p-0">
            <program-card
              v-for="program in day.programs"
              :key="program.id"
              :program="program"
              :from-page="'program'"
              @click="setLinkPrevNext(program.id)"/>
          </div>
        </div>
        <div
          v-if="isMore"
          class="db-blcok h-4">
          <button
            v-if="programsList.length > 0 && !programsListLoading"
            class="db-block btn btn-link load-more"
            @click="loadMore">{{ $t("button.loadMore") }}
          </button>
          <box-loading v-if="programsList.length > 0 && programsListLoading && !firstLoad"/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import BoxLoading from './Loading.vue'
import ProgramCard from '@main/components/ProgramCard.vue'
import Reload from '@/components/vue-svg/Reload.vue'

export default {
  name: 'ProgramConductor',
  components: {BoxLoading, ProgramCard, Reload},
  data () {
    return {
      badgeCount: 0,
      firstLoad: true,
      oneDay: 1 * 24 * 60 * 60 * 1000
    }
  },
  computed: {
    playingProgramId () {
      return this.programCurrentProgramData.id
    },
    programsListLoading () {
      return this.conductorListLoading
    },
    isMore () {
      return this.conductorIsMore
    },
    programsList () {
      let programList = this.conductorList
      if (programList && programList.length > 0) {
        programList.forEach((item, index) => {
          programList[index] = {
            date: programList[index].date,
            persianDate: programList[index].persianDate,
            // programs: this._(programList[index].programs).groupBy(x => x.startAt).value()
            programs: programList[index].programs
          }
        })
        return programList
      } else {
        return []
      }
    }
  },
  watch: {
    programsList () {
      if (this.programsList.length > 0) {
        this.firstLoad = false
      }
    }
  },
  mounted () {
    this.conductorClearListState()
    document.addEventListener('touchmove', this.handleScroll, false)
    window.addEventListener('scroll', this.handleScroll)
    this.getData()
  },
  destroyed () {
    document.removeEventListener('touchmove', this.handleScroll, false)
    window.removeEventListener('scroll', this.handleScroll)
  },
  methods: {
    todayStart () {
      return (new Date()).setHours(0, 0, 0, 0)
    },
    isToday (dateString) {
      return (new Date(dateString)).setHours(0, 0, 0, 0) === this.todayStart()
    },
    isTomorrow (dateString) {
      return (new Date(dateString)).setHours(0, 0, 0, 0) - this.todayStart() === this.oneDay
    },
    getData (isUpdate) {
      this.conductorGetAll({
        count: 20,
        getFeatured: true,
        type: 'Live',
        reload: isUpdate
      })
    },
    loadMore () {
      this.getData()
    },
    isLive (program) {
      return program.type === 1 && program.status === 2
    },
    handleScroll () {
      if (!this.programsListLoading) {
        if ($(window).scrollTop() + $(window).height() > $(document).height() - 100) {
          this.getData()
        }
      }
    },
    isReporters (program) {
      return program.descendants && program.descendants.length
    }
  }
}
</script>
