<template>
  <div v-if="isReporters">
    <div
      v-for="(reporter, index) in reportersInfo"
      :key="index"
      :class="{'active': reporter.programId == $route.params.id,
               'ml-2 ml-sm-2 ml-md-2': index !== reportersInfo.length}"
      class="reporter-item d-inline-flex cursor-pointer text-rtl my-1">
      <router-link :to="toLink(reporter)">
        <img
          :src="reporter.reporterImage"
          class="reporter-image d-inline-block ml-md-2 ml-0">
        <div class="reporter-details d-inline-block text-right">
          <div class="reporter-name">
            {{ reporter.reporterName }}
          </div>
          <div class="reporter-description">
            {{ reporter.reporterLanguage }}
            {{ description(reporter.reporterDescription) }}
          </div>
        </div>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'ProgramReporters',
  props: {
    program: {
      type: Object,
      default: () => {}
    },
    fromPage: {
      type: String,
      default: ''
    }
  },
  computed: {
    isReporters () {
      return this.program.parent || (this.program.descendants && this.program.descendants.length)
    },
    reportersInfo () {
      return (this.program.parent && this.program.parent.descendants) || this.program.descendants
    }
  },
  methods: {
    description (description) {
      return description ? `(${description})` : ``
    },
    toLink (reporter) {
      return `/${this.fromPage}/${reporter.programId}${this.fromPage === 'archive' ? `/${this.$options.filters.sanitizeTitle(this.program.title)}` : ``}`
    }
  }
}
</script>
