<template>
  <div
    :class="{'related-programs-enabled': showRelatedPrograms && related.length, 'exists': program && program.title}"
    class="program-details pb-3">
    <div v-if="program && program.title">
      <details-toggle :enabled="toggleDetailsEnable">
        <div class="container p-sm-0">
          <!-- on desktop: -->
          <!--<program-card-->
          <!--v-if="isMD"-->
          <!--:program="program"-->
          <!--class="d-none d-md-block" />-->
          <!--TODO separate component-->
          <template v-if="isMD">
            <div class="card">
              <div
                :class="[`layout-${program.layout}-sides`]"
                class="program-card text-center">
                <!-- layout 1 -->
                <template v-if="program.layout === 1">
                  <div class="layout-one-thumb text-left d-inline-block">
                    <img
                      v-if="program.thumbnail"
                      :src="program.thumbnail"
                      alt="">
                  </div>
                  <div class="card-body py-3">
                    <div class="row h-100">

                      <!-- logo left -->
                      <div class="col-md-3 col-3"/>

                      <!-- center results -->
                      <div
                        :class="{'col-md-9 col-9': !program.layoutData , 'no-padding-sides': program.layoutData}"
                        class="col-md-6 col-6">
                        <div class="match-content d-flex justify-content-center flex-column h-100">
                          <div class="match-content-in">
                            <h6
                              v-if="program.layoutData"
                              :class="{ invisible: !program.upperTitle }"
                              class="match-title">{{ program.upperTitle }}</h6>
                            <h6
                              v-if="!program.layoutData"
                              :class="{ invisible: !program.title }"
                              class="match-title text-align-right text-right">{{ program.title }}</h6>

                            <div class="text-rtl">
                              <span
                                v-if="program.layoutData"
                                :class="{ invisible: !program.upperTitle }"
                                class="btn-sport-name text-left">{{ program.upperTitle }}</span>
                              <span
                                v-if="!program.layoutData"
                                :class="{ invisible: !program.upperTitle }"
                                class="btn-sport-name text-right float-right">{{ program.upperTitle }}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- logo right  -->
                      <div
                        v-if="program.layoutData"
                        class="col-md-3 col-3 img-team-logo-container d-flex justify-content-end align-items-center">
                        <div class="img-w pl-0">
                          <img
                            v-if="program.layoutData"
                            :src="program.layoutData.hostLogo">
                        </div>
                      </div>

                    </div>
                  </div>
                </template>

                <!-- layout 2 -->
                <template v-if="program.layout === 2">
                  <div class="card-body">
                    <div class="row h-100">

                      <!-- logo left -->
                      <div class="col-md-3 col-3 img-team-logo-container d-flex justify-content-start align-items-center">
                        <div class="img-w pr-0">
                          <img
                            v-if="program.layoutData"
                            :src="program.layoutData.guestLogo || '/static/img/favicon/apple-icon-180x180.png'">
                          <img
                            v-else-if="program.thumbnail"
                            :src="program.thumbnail">
                        </div>
                      </div>

                      <!-- center results -->
                      <div
                        :class="{'col-md-9 col-9': !program.layoutData , 'no-padding-sides': program.layoutData}"
                        class="col-md-6 col-6">
                        <div class="match-content d-flex justify-content-center flex-column h-100">
                          <div class="match-content-in">
                            <h6
                              v-if="program.layoutData"
                              :class="{ invisible: !program.upperTitle }"
                              class="match-title">{{ program.title }}</h6>
                            <h6
                              v-if="!program.layoutData"
                              :class="{ invisible: !program.upperTitle }"
                              class="match-title text-align-right text-right">{{ program.title }}</h6>

                            <div class="text-rtl">
                              <span
                                v-if="program.layoutData"
                                :class="{ invisible: !program.upperTitle }"
                                class="btn-sport-name text-left">{{ program.upperTitle }}</span>
                              <span
                                v-if="!program.layoutData"
                                :class="{ invisible: !program.upperTitle }"
                                class="btn-sport-name text-right float-right">{{ program.upperTitle }}</span>
                            </div>
                          </div>
                        </div>
                      </div>

                      <!-- logo right  -->
                      <div class="col-md-3 col-3 img-team-logo-container d-flex justify-content-end align-items-center">
                        <div class="img-w pl-0">
                          <img
                            v-if="program.layoutData"
                            :src="program.layoutData.hostLogo">
                        </div>
                      </div>

                    </div>
                  </div>
                </template>

              </div>
            </div>
          </template>
          <!-- on mobile: -->
          <div
            :class="[`layout-${program.layout}-sides clearfix`]"
            class="program-details-head--mobile text-rtl text-right d-flex justify-content-between d-md-none">

            <!-- logo right -->
            <div class="img-team-logo-container">
              <template v-if="program.layout !== 1">
                <img
                  v-if="program.layoutData"
                  :src="program.layoutData.guestLogo || '/static/img/favicon/apple-icon-180x180.png'"
                  class="float-right">
                <!-- FIXME: backend dont sends image -->
                <img
                  v-else-if="program.thumbnail"
                  :src="program.thumbnail"
                  class="float-right">
              </template>
            </div>

            <!-- center results -->
            <div class="title">
              <h1 class="px-md-2 title-text">{{ program.title }}</h1>
            </div>

            <!-- logo left  -->
            <div class="img-team-logo-container">
              <img
                v-if="program.layoutData"
                :src="program.layoutData.hostLogo"
                class="float-left">
              <template v-if="program.layout === 1">
                <img
                  v-if="program.thumbnail"
                  :src="program.thumbnail"
                  class="float-left"
                  alt="">
              </template>
            </div>
          </div>
          <!-- /end on mobile -->
          <!------------Reporters Details------------>
          <div
            v-if="reportersInfo.length"
            :class="{'two-rows-details': reportersInfo.length > 2 && !isMD}"
            class="d-flex program-details-reporters align-items-center justify-content-center">
            <program-reporters
              :program="program"
              :from-page="fromPage"
              class="text-center text-rtl"/>
          </div>
          <div
            v-if="program.description"
            class="program-description text-rtl text-right mt-3">
            <!--<div v-if="hasReadMore && !isReadMoreToggled">-->
            <!--<div>-->
            <!--{{ programDescriptionIntro }}-->
            <!--<a-->
            <!--v-b-toggle.collapseReadMore-->
            <!--v-if="hasReadMore"-->
            <!--class="toggle mt-2 d-table">-->
            <!--<span class="ml-2">{{ $t('readMore') }}</span><arrow-left />-->
            <!--</a>-->
            <!--</div>-->
            <!--<b-collapse-->
            <!--id="collapseReadMore"-->
            <!--@show="onShowMore()">-->
            <!--<div>-->
            <!--{{ program.description }}-->
            <!--</div>-->
            <!--</b-collapse>-->
            <!--</div>-->
            <div v-html="program.description.replace(/\n/g, '<br />')" />
          </div>
          <table class="program-details-table-mobile w-100 text-rtl text-right my-3 d-lg-none">
            <tr>
              <th><event-icon class="ml-2" /> {{ $t('playDate') }}</th>
              <td class="text-left">{{ program.startAt | persianDate('dddd YY/M/D') }}</td>
            </tr>
            <tr>
              <th><time-icon class="ml-2" /> {{ $t('playTime') }}</th>
              <td class="text-left">{{ program.startAt | persianDate('HH:mm') }}</td>
            </tr>
            <tr v-if="program.league">
              <th><league-icon class="ml-2" /> {{ $t('league') }}</th>
              <td class="text-left">{{ program.league }}</td>
            </tr>
          </table>
          <div class="d-flex d-lg-none">
            <player-actions
              v-if="!isLG"
              :program="program" />
            <share-links-dropdown
              v-if="!isLG && program"
              :to-link="`${fromPage}/${program.id}`"
              :program="program"
              class="ml-auto" />
          </div>
        </div>
      </details-toggle>
      <!-- recommended carousel -->
      <b-container
        v-if="showRelatedPrograms && related.length"
        class="mt-3 mt-md-5">
        <b-row>
          <b-col class="col-12 px-sm-0">
            <h6 class="related-programs-title text-rtl text-right">{{ $t('formLabel.offerOfAntenForYou') }}</h6>
            <related-programs :programs="related" />
          </b-col>
        </b-row>
      </b-container>
    </div>
  </div>
</template>
<script>
import Config from '@/config/config.js'
import DetailsToggle from '@main/components/DetailsToggle.vue'
import ProgramCard from '@main/components/ProgramCard.vue'
import PlayerActions from '@main/components/PlayerActions.vue'
import RelatedPrograms from '@main/components/RelatedPrograms.vue'
import ShareLinksDropdown from '@main/components/ShareLinksDropdown.vue'
import EventIcon from '@/components/vue-svg/Event.vue'
import TimeIcon from '@/components/vue-svg/Time.vue'
import ArrowLeft from '@/components/vue-svg/ArrowLeft.vue'
import LeagueIcon from '@/components/vue-svg/League.vue'
import ProgramReporters from '@main/components/ProgramReporters.vue'
const MAX_INTRO_LEN = 40

export default {
  name: 'ProgramDetails',
  components: {DetailsToggle, ProgramCard, PlayerActions, ShareLinksDropdown, EventIcon, TimeIcon, LeagueIcon, ArrowLeft, RelatedPrograms, ProgramReporters},
  props: {
    program: {
      type: Object,
      default: () => {}
    },
    fromPage: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      toggleDetailsEnable: false,
      isReadMoreToggled: false,
      showRelatedPrograms: Config.showRelatedPrograms
    }
  },
  computed: {
    programDescriptionIntro () {
      const description = (this.program.description || '')
      const endChars = this.hasReadMore ? '…' : ''
      return description.slice(0, MAX_INTRO_LEN) + endChars
    },
    hasReadMore () {
      const description = (this.program.description || '')
      return description.length > MAX_INTRO_LEN
    },
    related () {
      return this.program.relatedPrograms || []
    },
    reportersInfo () {
      return (this.program.parent && this.program.parent.descendants) || this.program.descendants
    }
  },
  methods: {
    onShowMore () {
      this.isReadMoreToggled = true
    }
  }
}
</script>
