<template>
  <div class="my-3 d-flex">
    <router-link
      :class="{'router-link-active': isLinkActive(program)}"
      :to="toLink"
      class="col-10 col-md-11 d-flex no-text-decoration position-relative px-0 pr-1 pr-md-2">
      <div class="card m-0 w-100">
        <anten-indicator class="indicator-current"/>
        <div
          :class="[`layout-${program.layout}-sides`]"
          class="program-card text-center">
          <!------------Layout 1------------>
          <div
            v-if="program.layout === 1"
            class="layout-one-thumb text-left d-inline-block">
            <img
              v-if="program.thumbnail"
              :src="program.thumbnail"
              :class="{'border-radius-top': isReporters && !isMD}"
              alt="thumbnail">
          </div>
          <div class="card-body py-3">
            <div class="row no-gutters">
              <div
                v-if="program.layout === 1"
                class="col-md-3 col-3"/>
              <!------------Layout 2------------>
              <div
                v-if="program.layout === 2"
                class="col-md-4 col-7 d-flex justify-content-left align-items-center p-0 px-md-2">
                <div class="d-flex bg-logo justify-content-center align-items-center ml-1 ml-md-2">
                  <img
                    v-if="program.layoutData"
                    :src="program.layoutData.guestLogo || '/static/img/favicon/apple-icon-180x180.png'"
                    class="logo">
                  <img
                    v-else-if="program.thumbnail"
                    :src="program.thumbnail">
                </div>
                <div class="icon-vs mx-1 mx-md-2">-</div>
                <div class="d-flex bg-logo justify-content-center align-items-center">
                  <img
                    v-if="program.layoutData"
                    :src="program.layoutData.hostLogo"
                    class="logo">
                </div>
              </div>
              <!-- right results -->
              <div
                :class="{'col-md-9 col-9': !program.layoutData}"
                class="col-md-8 col-5 d-flex match-content flex-column match-content">
                <div class="pr-2 pr-md-3 text-rtl">
                  <h6 class="match-title text-align-right text-right">{{ program.title }}</h6>
                  <span
                    :class="{ invisible: !program.upperTitle }"
                    class="btn-sport-name text-right float-right">{{ program.upperTitle }}</span>
                </div>
                <program-reporters
                  v-if="isMD && isReporters"
                  :program="program"
                  :from-page="fromPage"
                  class="text-right text-rtl mt-3 pr-md-3"/>
              </div>
            </div>
          </div>
        </div>
        <!------------Mobile Reporters------------>
        <div
          v-if="!isMD && isReporters"
          :class="{'two-rows': program.descendants.length > 2}"
          class="program-details-reporters d-flex align-items-center justify-content-center">
          <program-reporters
            :program="program"
            :from-page="fromPage"
            class="text-right text-rtl"/>
        </div>
      </div>
    </router-link>
    <div
      :class="{'program-live': isLive}"
      class="col-2 col-md-1 card px-0 m-0 d-flex justify-content-center align-items-center">
      <div class="program-card indicator-list">
        <div class="card-body py-2">
          <label class="m-0">
            {{ program.startAt | persianDate('HH:mm') }}
            <span
              v-if="isLive"
              class="d-block live-badge">{{ $t('liveBadge') }}</span>
          </label>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AntenIndicator from '@/components/vue-svg/AntenIndicator.vue'
import ProgramReporters from '@main/components/ProgramReporters.vue'

export default {
  name: 'ProgramCard',
  components: {AntenIndicator, ProgramReporters},
  props: {
    program: {
      type: Object,
      default: () => {}
    },
    fromPage: {
      type: String,
      default: ''
    }
  },
  computed: {
    playingProgramId () {
      return this.archiveCurrentProgramData.id || this.programCurrentProgramData.id
    },
    toLink () {
      return `/${this.fromPage}/${this.program.id}${this.fromPage === 'archive'
        ? `/${this.$options.filters.sanitizeTitle(this.program.title)}` : ``}`
    },
    isLive () {
      return this.program.type === 1 && this.program.status === 2
    },
    isReporters () {
      return this.program.descendants && this.program.descendants.length
    }
  },
  methods: {
    isLinkActive (program) {
      return this.playingProgramId === program.id ||
        (program.descendants && program.descendants.find(p => p.programId === this.playingProgramId))
    }
  }
}
</script>
