<template>
  <div class="related-programs owl-carousel owl-theme pd-carousel">
    <div
      v-for="(relatedItem, index) in programs"
      :key="relatedItem.id"
      :data-position="index"
      class="related-programs-list">
      <router-link
        :to="toLink(relatedItem)"
        class="program-item d-block text-rtl text-right">
        <div
          :style="{'background-image': `url(${relatedItem.thumbnail})`}"
          class="program-image"/>
        <h5 class="program-title text-center">
          {{ relatedItem.title }}
        </h5>
      </router-link>
    </div>
  </div>
</template>

<script>
export default {
  name: 'RelatedPrograms',
  props: {
    programs: {
      type: Array,
      default: () => []
    }
  },
  data () {
    return {
      showCarousel: false,
      owlCarouselTimer: null
    }
  },
  watch: {
    programs () {
      this.initCarousel()
    }
  },
  destroyed () {
    clearTimeout(this.owlCarouselTimer)
  },
  mounted () {
    this.initCarousel()
  },
  methods: {
    initCarousel () {
      this.showCarousel = this.programs.length > 0
      if (!this.showCarousel) return

      this.owlCarouselTimer = setTimeout(() => {
        $('.related-programs.owl-carousel').owlCarousel({
          items: 4,
          nav: false,
          dots: false,
          rtl: true,
          responsive: {
            0: {
              items: 2
            },
            600: {
              items: 3
            },
            1000: {
              items: 4
            }
          }
        })
      }, 300) // TODO: is really necessary?
    },
    toLink (relatedItem) {
      return `/archive/${relatedItem.id}/${this.$options.filters.sanitizeTitle(relatedItem.title)}`
    }
  }
}
</script>
