<template>
  <b-modal
    v-model="reportModal"
    e2e-report-error-modal
    class="modal-component modal-component--problem-report"
    @hidden="onHide">
    <!------------ Modal Header ---------->
    <div
      slot="modal-header"
      class="w-100 text-center">
      <!--<report-header :title="title" :hide="onHide"></report-header>-->
      <div>
        <span>{{ title }}</span>
        <div class="float-left cursor-pointer">
          <img
            src="/static/img/main/close.svg"
            e2e-cancel-report-modal
            @click="onHide" >
        </div>
      </div>
    </div>
    <!------------ Modal Content ---------->
    <div class="content form-group mb-0">
      <label class="displa-block">{{ $t("formLabel.type") }}</label>
      <div class="row">
        <div class="col-12 col-sm-6 float-right">
          <b-dropdown
            id="type"
            :text="selected.text"
            size="sm"
            class="text-right mb-5 w-100"
            e2e-error-dropdown>
            <b-dropdown-item
              v-for="option in options"
              :key="option.value"
              class="text-right box-bg text-size w-100"
              @click="onTypeChange(option.value)" >{{ option.text }}
            </b-dropdown-item>
          </b-dropdown>
        </div>
      </div>
      <div class="form-group">
        <textarea
          v-model="problemReport"
          :placeholder="$t('formLabel.explainProblem')"
          e2e-report-error-modal-msg-input
          rows="1"
          class="w-100 modal-report-text-area text-rtl text-right"/>
      </div>
    </div>
    <!------------ Modal Footer ---------->
    <div
      slot="modal-footer"
      class="w-100">
      <div class="row">
        <div class="col-12 col-sm-6">
          <button
            e2e-report-error-modal-send-button
            class="w-100 btn btn-primary btn-md float-left btn-submit text-rtl"
            @click="sendReportProblem() ">
            <span v-if="!reportProblemLoading">{{ $t("button.send") }}</span>
            <lottie
              v-else
              :options="defaultOptions"
              :height="30"
              :width="30"/>
          </button>
        </div>
      </div>
    </div>
  </b-modal>
</template>

<script>
import i18n from '@/i18n'
import Lottie from 'vue-lottie'
import ReportHeader from './ModalHeader.vue'
import * as loading from '../../../../static/json/loading.json'
import { find } from 'lodash'

export default {
  name: 'ReportModal',
  components: {
    Lottie,
    ReportHeader
  },
  data () {
    return {
      defaultOptions: {animationData: loading},
      title: this.$t('button.report'),
      options: [
        {text: i18n.t('button.linkFailure'), value: '1'},
        {text: i18n.t('button.inaccessibility'), value: '2'}
      ],
      selected: {value: '1', text: i18n.t('button.linkFailure')},
      problemReport: ''
    }
  },
  computed: {
    reportModal: {
      get () { return this.layoutIsShowReportModal },
      set () {}
    },
    reportProblemLoading () {
      return this.programReportProblemLoading
    }
  },
  methods: {
    onHide () {
      this.problemReport = ''
      this.layoutHideReportModal()
    },
    sendReportProblem () {
      if (this.problemReport) {
        this.problemReport = this.problemReport.replace(/\s\s+/g, ' ')
        if (this.problemReport.length <= 1) {
          this.notifyError({
            message: i18n.t('notifications.contactUsBody')
          })
        } else {
          this.programSendReportProblem({
            body: this.problemReport,
            issueItemId: this.selected.value
          })
            .then(this.onHide)
        }
      } else {
        this.notifyError({
          message: i18n.t('notifications.contactUsBody')
        })
      }
    },
    onTypeChange (value) {
      this.selected = find(this.options, p => p.value === value)
    }
  }
}
</script>
