<template>
  <b-dropdown
    class="share-links-dropdown text-rtl"
    right
    variant="link"
    size="md"
    no-caret
    e2e-share-links>
    <template slot="button-content">
      <share-icon />
    </template>
    <b-dropdown-item
      :href="shareUrl('tg')"
      e2e-telegram-m
      target="_blank">
      <telegram /><span>{{ $t('shareLinks.telegram') }}</span>
    </b-dropdown-item>
    <b-dropdown-item
      :href="shareUrl('tw')"
      e2e-twitter-m
      target="_blank">
      <twitter /><span>{{ $t('shareLinks.twitter') }}</span>
    </b-dropdown-item>
    <b-dropdown-item
      :href="shareUrl('fb')"
      e2e-facebook-m
      target="_blank">
      <facebook /><span>{{ $t('shareLinks.facebook') }}</span>
    </b-dropdown-item>
    <b-dropdown-item
      :href="shareUrl('gp')"
      e2e-google-m
      target="_blank">
      <g-plus /><span>{{ $t('shareLinks.gPlus') }}</span>
    </b-dropdown-item>
  </b-dropdown>
</template>
<script>
import Twitter from '@/components/vue-svg/Twitter.vue'
import Facebook from '@/components/vue-svg/Facebook.vue'
import Telegram from '@/components/vue-svg/Telegram.vue'
import GPlus from '@/components/vue-svg/GPlus.vue'
import ShareIcon from '@/components/vue-svg/Share.vue'
import Config from '@/config/config'

export default {
  name: 'ShareLinks',
  components: {Twitter, Facebook, Telegram, GPlus, ShareIcon},
  props: {
    program: {
      type: Object,
      default: () => {}
    },
    toLink: {
      type: String,
      default: ''
    }
  },
  methods: {
    shareUrl (name) {
      const url = `${Config.baseUrl}${this.toLink}`
      let title = this.$t('shareLinkTitle')
      if (this.program && this.program.title) {
        title = this.$t('shareLinks.shareUrlTitle', {title: title, programTitle: this.program.title})
      }
      switch (name) {
        case 'fb':
          return `https://www.facebook.com/sharer.php?u=${url}`
        case 'tw':
          return `https://twitter.com/intent/tweet?url=${url}&text=${title}&hashtags=video_streaming=`
        case 'tg':
          return `https://telegram.me/share/url?url=${url}&text=${title}`
        case 'gp':
          return `https://plus.google.com/share?url=${url}`
      }
    }
  }
}
</script>
