<template>
  <ul
    v-if="program && program.id"
    class="share-links d-flex list-unstyled p-0 mb-0">
    <li class="mb-2 mb-sm-3">
      <a
        :href="shareUrl('tg')"
        e2e-telegram
        target="_blank"
        class="action">
        <telegram />
      </a>
    </li>
    <li class="mb-2 mb-sm-3">
      <a
        :href="shareUrl('tw')"
        e2e-twitter
        target="_blank"
        class="action">
        <twitter />
      </a>
    </li>
    <li class="mb-2 mb-sm-3">
      <a
        :href="shareUrl('fb')"
        e2e-facebook
        target="_blank"
        class="action">
        <facebook />
      </a>
    </li>
    <li class="mb-2 mb-sm-3">
      <a
        :href="shareUrl('gp')"
        e2e-google
        target="_blank"
        class="action">
        <g-plus />
      </a>
    </li>
  </ul>
</template>
<script>
import Twitter from '@/components/vue-svg/Twitter.vue'
import Facebook from '@/components/vue-svg/Facebook.vue'
import Telegram from '@/components/vue-svg/Telegram.vue'
import GPlus from '@/components/vue-svg/GPlus.vue'
import Config from '@/config/config'

export default {
  name: 'ShareLinks',
  components: {Twitter, Facebook, Telegram, GPlus},
  props: {
    program: {
      type: Object,
      default: () => {}
    },
    toLink: {
      type: String,
      default: ''
    }
  },
  methods: {
    shareUrl (name) {
      const url = `${Config.baseUrl}${this.toLink}`
      let title = this.$t('shareLinkTitle')
      if (this.program && this.program.title) {
        title = this.$t('shareLinks.shareUrlTitle', {title: title, programTitle: this.program.title})
      }
      switch (name) {
        case 'fb':
          return `https://www.facebook.com/sharer.php?u=${url}`
        case 'tw':
          return `https://twitter.com/intent/tweet?url=${url}&text=${title}&hashtags=video_streaming=`
        case 'tg':
          return `https://telegram.me/share/url?url=${url}&text=${title}`
        case 'gp':
          return `https://plus.google.com/share?url=${url}`
      }
    }
  }
}
</script>
