<template>
  <div class="sidebar-component--content">
    <div class="row img-logo">
      <div class="col-2"/>
      <div class="col-8">
        <a href="/">
          <img
            src="/static/img/main/anten-logo-new.svg"
            class="text-center img-fluid">
        </a>
        <br>
        <br>
      </div>
    </div>
    <div class="member-trritory">
      <div v-if="isLogin">
        <div class="page-profile--avatar-area text-center">
          <router-link
            to="/profile"
            @click.native="closeSidebar">
            <avatar/>
          </router-link>
        </div>
        <h4
          v-if="currentUser.fullName"
          class="w-100 text-center sidebar-profile--title text-rtl">
          {{ currentUser.fullName }}
        </h4>
        <h4
          v-else
          class="w-100 text-center page-profile--title text-rtl">...</h4>
      </div>
      <div
        v-else
        class="text-center">
        <br>
        <button
          e2e-login-mobile-menu
          class="btn btn-md btn-primary mx-auto d-table focusable btn-login text-rtl"
          @click="showLoginModal">
          <icon
            class="ml-1"
            name="sign-in"/>
          <span class="text-rtl">
            {{ $t("button.loginToAccount") }}
          </span>
        </button>
        <!--<router-link class="btn btn-success btn-sm w-50 focusable btn-login" to="/login">{{ $t("button.login")}}</router-link>-->
        <br>
        <br>
      </div>
    </div>
    <ul
      :class="{'is-login': !isLogin}"
      class="navbar-nav mr-auto timeline">
      <li
        v-if="findTab(1)"
        e2e-live-s
        class="nav-item">
        <router-link
          :class="{'router-link-exact-active': homeActiveFlag}"
          class="p-2 focusable nav-link only-exact-active text-rtl"
          to="/"
          @click.native="closeSidebar">{{ $t("navigation.program") }}
        </router-link>
        <!-- TODO: change warning class name -->
        <div class="timeline-badge warning"/>
      </li>
      <li
        v-if="isLogin && findTab(0)"
        e2e-tv-s
        class="nav-item">
        <router-link
          :class="{'router-link-exact-active': tvActiveFlag}"
          class="p-2 focusable nav-link text-rtl"
          to="/tv"
          @click.native="closeSidebar">{{ $t("navigation.tv") }}
        </router-link>
        <div class="timeline-badge warning"/>
      </li>
      <li
        v-if="isLogin && findTab(3)"
        e2e-archive-s
        class="nav-item">
        <router-link
          class="p-2 focusable nav-link text-rtl"
          to="/archive"
          @click.native="closeSidebar">{{ $t("navigation.archive") }}
        </router-link>
        <div class="timeline-badge warning"/>
      </li>
      <li
        v-if="isLogin"
        e2e-profile-s
        class="nav-item">
        <router-link
          class="p-2 focusable nav-link text-rtl"
          to="/profile"
          @click.native="closeSidebar">{{
          $t("navigation.profile") }}
        </router-link>
        <div class="timeline-badge warning"/>
      </li>
      <!-- <li e2e-notification-s class="nav-item" v-if="isLogin">
        <router-link class="p-2 focusable nav-link text-rtl" @click.native="closeSidebar" to="/notification">{{
          $t("navigation.notification")}}
        </router-link>
        <div class="timeline-badge warning"></div>
      </li> -->
      <li
        e2e-contact-us-s
        class="nav-item">
        <router-link
          class="p-2 focusable nav-link text-rtl"
          to="/contact-us"
          @click.native="closeSidebar">{{
          $t("navigation.contactUs") }}
        </router-link>
        <div class="timeline-badge warning"/>
      </li>
      <li
        e2e-about-us-s
        class="nav-item">
        <router-link
          class="p-2 focusable nav-link text-rtl"
          to="/about-us"
          @click.native="closeSidebar">{{
          $t("navigation.aboutUs") }}
        </router-link>
        <div class="timeline-badge warning"/>
      </li>
      <li
        v-if="isLogin"
        e2e-logout-s
        class="nav-item">
        <a
          class="p-2 btn-md focusable nav-link text-rtl"
          @click="showLogoutModal">{{
          $t("navigation.logout") }}</a>
        <div class="timeline-badge warning"/>
      </li>
    </ul>
  </div>
</template>
<script>
import Avatar from '@main/components/Avatar.vue'

export default {
  name: 'Sidebar',
  components: {Avatar},
  data () {
    return {
      logOutModal: false,
      homeActiveFlag: false,
      tvActiveFlag: false
    }
  },
  computed: {
    activeTabs () {
      // TODO better than condition
      return this.serverConfig ? this.serverConfig.activeTabs : []
    }
  },
  watch: {
    $route (to, from) {
      this.show = false
      this.homeActiveFlag = this.$router.history.current.path.toLowerCase().indexOf('/program') > -1
      this.tvActiveFlag = this.$router.history.current.path.toLowerCase().indexOf('/tv') > -1
    }
  },
  methods: {
    findTab (searchKey) {
      return this.activeTabs.find(p => p.programTypeId === searchKey)
    },
    closeSidebar () {
      this.layoutHideSidebar()
    },
    showLoginModal () {
      this.layoutShowLoginModal()
      this.closeSidebar()
    },
    showLogoutModal () {
      this.layoutShowLogoutModal()
    }
  }
}
</script>
