<template>
  <div class="component-live-tv-conductor">
    <div class="container">
      <div class="row">
        <div class="col-12 px-3 mb-5">
          <div
            v-for="channelCategory in list"
            v-if="channelCategory && !isLG"
            :key="channelCategory.id"
            :class="{'selected-channel': channelCategory.channels[0] && channelId && channelCategory.channels[0].id.toString() === channelId.toString()}"
            class="card-channel center mx-auto my-3">
            <anten-indicator
              v-if="channelCategory.channels[0] && channelId && channelCategory.channels[0].id.toString() === channelId.toString()"
              class="indicator-current justify-content-center align-content-center d-flex"/>
            <div
              v-for="channel in channelCategory.channels"
              :key="channel.id"
              class="channel-item"
              @click.stop.prevent="changedChannel(channel.slug)">
              <div
                :style="{'background-image': `url(${channel.thumbnail})`}"
                class="channel-thumbnail"/>
              <div class="channel-details justify-content-center align-content-center center">
                <div class="m-auto text-center">
                  <span class="channel-name d-inline-block">{{ channel.title }}</span>
                  <div
                    :style="{'background-image': `url(${channel.logo})`}"
                    class="channel-logo d-inline-block"/>
                </div>
                <div
                  class="programs-list-link m-auto text-center"
                  @click.stop.prevent="getConductorList(channel.slug)">
                  <left-arrow class="d-inline-block vertical-align-middle left-arrow"/>
                  <span class="d-inline-block vertical-align-middle">{{ $t('formLabel.programsList') }}</span>
                </div>
              </div>
            </div>
          </div>
          <div
            v-if="showCarousel && isLG"
            class="owl-carousel owl-theme tv-carousel">
            <div
              v-for="(channelCategory, index) in list"
              :key="channelCategory.id"
              :data-position="index"
              class="channel-category-list">
              <div
                v-for="channel in channelCategory.channels"
                :key="channel.id">
                <div
                  :data-to="'/tv/' + channel.slug"
                  :class="{'router-link-exact-active': channel.id == channelId}"
                  class="channel-item-header text-rtl text-right text-rtl">
                  <div class="channel-item-header-content" >
                    <div
                      :style="{'background-image': `url(${channel.thumbnail})`}"
                      class="channel-thumbnail"/>

                    <div
                      :style="{'background-image': `url(${channel.logo})`}"
                      class="channel-logo"/>
                    <span>
                      {{ channel.title }}
                    </span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Loading from './Loading'
import LeftArrow from '@/components/vue-svg/LeftArrow.vue'
import AntenIndicator from '@/components/vue-svg/AntenIndicator.vue'

export default {
  name: 'TVChannels',
  components: {
    Loading,
    LeftArrow,
    AntenIndicator
  },
  data () {
    return {
      owl: null,
      loadPastDayConductorLoading: false,
      lastTabIndex: false,
      showCarousel: false,
      carouselConfig: {
        responsive: {
          0: {
            items: 2
          },
          480: {
            items: 2
          },
          768: {
            items: 5
          }
        },
        center: true,
        loop: true,
        items: 5,
        rtl: true,
        navText: '',
        margin: 10,
        prevText: '',
        nav: true
      },
      initCarouselTimer: null,
      owlCarouselTimer: null,
      routeSelectChannelTimer: null
    }
  },
  computed: {
    channel () {
      return this.tvCurrentChannel
    },
    channelTitleSlug () {
      return this.$route.params.title_slug
    },
    channelId () {
      return this.tvRouteCurrentChannel.id
    },
    pastDayConductor () {
      return this.tvPastDayConductor
    },
    selectedEpisode () {
      return this.tvCurrentEpisodeId
    },
    currentEpisodeError () {
      return this.tvCurrentEpisodeError
    },
    list () {
      return this.tvList
    },
    conductor () {
      return this.tvCurrentChannelConductor
    }
  },
  watch: {
    list () {
      this.loadInitCarousel()
    },
    isLG () {
      this.loadInitCarousel()
    }
  },
  destroyed () {
    clearTimeout(this.initCarouselTimer)
    clearTimeout(this.owlCarouselTimer)
    clearTimeout(this.routeSelectedChannelTimer)
  },
  mounted () {
    this.initCarouselDays()
  },
  methods: {
    loadInitCarousel () {
      this.showCarousel = true
      this.initCarouselTimer = setTimeout(() => {
        this.initCarousel()
      }, 300)
    },
    initCarouselDays () {
      this.owlCarouselTimer = setTimeout(() => {
        $('.tabs .nav-tabs').find('li').addClass('item')
        $('.tabs .nav-tabs').addClass('owl-carousel').addClass('days-carousel').owlCarousel({
          items: 7,
          nav: true,
          navText: ['', ''],
          responsive: {
            0: {
              items: 3
            },
            600: {
              items: 4
            },
            1000: {
              items: 7
            }
          }
        })
      }, 500)
    },
    loadPastDaysConductor () {
      if (this.lastTabIndex > 0) {
        this.loadPastDayConductorLoading = true
        this.tvGetDayConductor({
          day: this.pastDays[this.lastTabIndex - 1]
        }).then(() => {
          this.loadPastDayConductorLoading = false
        })
      }
    },
    backToLive () {
      this.$emit('backToLive')
    },
    pickEpisode (episode) {
      if (episode.currentProgram) {
        if (!this.isMobile) {
          window.scroll(0, 0, 'smooth')
        }
        this.backToLive()
      } else if (episode.hasEpisode) {
        if (!this.isMobile) {
          window.scroll(0, 0, 'smooth')
        }
        this.$emit('pickEpisode', episode.id)
      }
    },
    changedChannel (title) {
      let self = this
      self.$router.push('/tv/' + title)
      this.tvRouteSetCurrentChannelByTitle({url: 'tv', title: this.channelTitleSlug})
      this.tvClearEpisode()
      this.tvGetOnlyChannel({id: this.channelId})
    },
    getConductorList (title) {
      let self = this
      self.$router.push('/tv/' + title)
      this.$emit('tvConductorList', true)
    },
    initCarousel () {
      let self = this
      let firstCentering = true
      self.owl = window.o = $('.owl-carousel').owlCarousel(this.carouselConfig)
      self.owl.find('.owl-stage').find('.owl-item').each(function () {
        if ($(this).find('.router-link-exact-active').length > 0 && firstCentering) {
          let position = $(this).find('[data-position]').data('position')
          firstCentering = false
          self.owl.trigger('to.owl.carousel', position)
        }
      })
      $(document).on('click', '.owl-item', function (e) {
        const $item = $(this)
        const position = $item.find('> div').data('position')
        const link = $item.find('.channel-item-header').data('to')
        // Check for current selected channel
        if ($item.find('.router-link-exact-active').length <= 0) {
          self.owl.trigger('to.owl.carousel', position)
          $('.channel-item-header').removeClass('router-link-exact-active ')
          $item.find('.channel-item-header').addClass('router-link-exact-active ')
          this.routeSelectedChannelTimer = setTimeout(() => {
            self.$router.push(link)
          }, 1)
          e.preventDefault()
          return false
        }
      })
    }
  }
}
</script>
