<template>
  <div
    ref="programList"
    :class="{'mt-2': !isLG}"
    class="programs-list">
    <div class="title">{{ $t('formLabel.programsList') }}</div>
    <div class="row m-0 d-flex justify-content-center px-3">
      <div class="search-container flex-grow-1">
        <div class="search-icon float-right">
          <search
            :width="26"
            :height="26"/>
        </div>
        <input
          v-model="searchTitle"
          :placeholder="$t('formLabel.search')"
          type="text"
          class="search-input float-right text-rtl"
          e2e-search-program>
      </div>
      <div
        :class="{'history': isOldState}"
        class="calendar-icon ml-2"
        e2e-calendar
        @click.stop="toggleShowCalendar">
        <calendar
          v-if="!loadPastDayConductorLoading"
          class="m-auto d-block calendar-svg"/>
        <lottie
          v-else
          :options="defaultOptions"
          :height="30"
          :width="30"
          class="lottie"/>
        <div
          v-if="isOldState"
          class="badge-history"/>
      </div>
      <date-picker
        v-if="showCalendar"
        :is-old-state="isOldState"
        @loadPastDaysConductor="loadPastDaysConductor"/>
    </div>
    <div
      :class="{'my-4': !isLG, 'my-2': isLG}"
      class="row mx-0 px-3">
      <div
        :class="{'py-2': !isLG}"
        class="col-6 date">{{ persianStartAt }}</div>
      <div
        v-if="!isOldState && filterByProgramName.length"
        class="col-6 text-right date">{{ $t('today') }}</div>
      <button
        v-if="isOldState"
        :class="{'py-2': !isLG}"
        class="col-6 btn btn-submit btn-back"
        e2e-return-live
        @click="backToLive">{{ $t('backToLive') }}</button>
    </div>
    <Loading
      v-if="loadPastDayConductorLoading || loadConductorLoading"
      class="pt-5 position-relative loading-center"/>
    <div
      v-if="!filterByProgramName.length && !loadPastDayConductorLoading && !loadConductorLoading || (filterByProgramName.length <= 0 && searchTitle.length)"
      class="row">
      <div class="col-12 text-center text-rtl">
        <div class="no-result-title mt-2 mt-md-4 mb-5 mb-md-0">{{ $t("message.noResult") }}</div>
      </div>
    </div>
    <!------------------ Desktop UI -------------------->
    <vue-perfect-scrollbar
      v-if="isLG && filterByProgramName && !loadPastDayConductorLoading && !loadConductorLoading"
      ref="perfectScroll"
      :settings="settings"
      class="scroll-area scroll">
      <div
        v-for="(item, index) in filterByProgramName"
        :class="{ 'archive-episod': item.hasEpisode, 'selected-episode': isSelected(item, index), 'cursor-pointer': item.hasEpisode || item.currentProgram}"
        :style="{'background-image': isSelected(item, index) ? `url(/static/img/main/anten-indicator.svg)` : ``}"
        :key="item.id"
        class="conductor w-100 px-3 py-1 border-bottom"
        @click="pickEpisode(item, index)">
        <div
          v-bind="generateE2EAttribute(index)"
          class="row">
          <div class="col-2">
            <div class="time">{{ item.startAt | persianDate('HH:mm') }}</div>
          </div>
          <div class="col-10">
            <div class="text-right text-rtl name">
              {{ item.title }}
              <span
                v-if="item.currentProgram && (indexSelected && index !== indexSelected)"
                class="mr-1 d-inline-block badge-live"/>
            </div>
            <div class="text-right duration text-rtl">
              <span>{{ item.duration }}</span>
              <span
                v-if="item.hasEpisode"
                class="circle d-inline-block"/>
              <span
                v-if="item.hasEpisode"
                class="d-inline-block">{{ $t('navigation.archive') }}</span>
            </div>
          </div>
        </div>
      </div>
    </vue-perfect-scrollbar>
    <!------------------ Mobile UI  -------------------->
    <div v-if="!isLG && filterByProgramName && !loadPastDayConductorLoading && !loadConductorLoading">
      <div
        v-for="(item, index) in filterByProgramName"
        :class="{ 'archive-episod cursor-pointer': item.hasEpisode, 'selected-episode': isSelected(item, index)}"
        :key="item.id"
        class="conductor w-100 px-3 py-1 border-bottom"
        @click="pickEpisode(item, index)">
        <!--TODO icon svg-->
        <img
          v-if="isSelected(item, index)"
          class="indicator"
          src="/static/img/main/anten-indicator.svg">
        <div
          v-bind="generateE2EAttribute(index)"
          class="row">
          <div class="col-3">
            <div class="time">{{ item.startAt | persianDate('HH:mm') }}</div>
          </div>
          <div class="col-9">
            <div class="text-right text-rtl">
              {{ item.title }}
              <span
                v-if="item.currentProgram && (indexSelected && index !== indexSelected)"
                class="mr-1 d-inline-block badge-live"/>
            </div>
            <div class="text-right duration text-rtl">
              <span>{{ item.duration }}</span>
              <span
                v-if="item.hasEpisode"
                class="circle d-inline-block"/>
              <span
                v-if="item.hasEpisode"
                class="d-inline-block">{{ $t('navigation.archive') }}</span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import * as loading from '../../../../static/json/loading.json'
import Calendar from '@/components/vue-svg/Calendar.vue'
import Search from '@/components/vue-svg/Search.vue'
import VuePerfectScrollbar from 'vue-perfect-scrollbar'
import DatePicker from '@main/components/DatePicker.vue'
import PersianDate from 'persian-date'
import Lottie from 'vue-lottie'
import Moment from 'moment'
import Loading from './Loading'

export default {
  name: 'TvConductor',
  components: {
    DatePicker,
    VuePerfectScrollbar,
    Calendar,
    Loading,
    Search,
    Lottie
  },
  data () {
    return {
      settings: {
        suppressScrollX: true
      },
      listConductor: [],
      persianStartAt: '',
      searchTitle: '',
      isOldState: false,
      defaultOptions: {
        animationData: loading
      },
      loadPastDayConductorLoading: false,
      indexSelected: null,
      pastConductorTimer: null
    }
  },
  computed: {
    conductor () {
      return this.tvCurrentChannelConductor
    },
    pastDayConductor () {
      return this.tvPastDayConductor
    },
    selectedEpisode () {
      return this.tvCurrentEpisodeId
    },
    showCalendar () {
      return this.tvShowCalendar
    },
    filterByProgramName () {
      const normalizeSearch = this.$options.filters.normalizeString(this.searchTitle)
      return this.listConductor.filter(item => {
        return item.title.indexOf(normalizeSearch) > -1
      })
    },
    loadConductorLoading () {
      return this.tvLoadConductorLoading
    }
  },
  watch: {
    indexSelected () {
      return this.indexSelected
    },
    conductor () {
      this.processConductor()
    },
    '$route' (to, from) {
      this.persianStartAt = ''
      this.isOldState = false
    },
    pastDayConductor () {
      this.processPastDayConductor()
    }
  },
  destroyed () {
    clearTimeout(this.pastConductorTimer)
  },
  mounted () {
    window.addEventListener('resize', this.handleKeepViewMode, false)
    this.handleKeepViewMode()
    // TODO Process data & back to live when resize window (because two components in the tv page)
    if (this.conductor.length) {
      this.processConductor()
      if (this.isLG) {
        this.backToLive()
      }
    }
  },
  methods: {
    generateE2EAttribute (id) {
      return {
        [`e2e-result-${id}`]: ''
      }
    },
    backToLive () {
      this.searchTitle = ''
      this.isOldState = false
      this.indexSelected = null
      this.$emit('backToLive')
    },
    pickEpisode (episode, index) {
      if (episode.currentProgram) {
        this.isOldState = false
        this.backToLive()
      } else if (episode.hasEpisode) {
        this.indexSelected = index
        this.isOldState = true
        this.$emit('pickEpisode', episode.id)
      }
    },
    toggleShowCalendar () {
      this.tvToggleShowCalendar(!this.showCalendar)
    },
    loadPastDaysConductor (item) {
      this.searchTitle = ''
      this.loadPastDayConductorLoading = true
      this.tvGetDayConductor({
        day: Moment().subtract(item.subtract, 'days')
      }).then(() => {
        this.loadPastDayConductorLoading = false
      }).catch(() => {
        this.loadPastDayConductorLoading = false
      })
    },
    processConductor () {
      this.listConductor = this.conductor
      if (!this.conductor.length) {
        this.persianStartAt = ''
        this.isOldState = false
        return false
      }
      this.persianStartAt = new PersianDate(this.conductor[0].startAt).format('dddd D MMMM')
      this.isOldState = false
      this.indexSelected = null
      const list = this.tvCurrentChannelConductor
      if (list.length) {
        const index = list.findIndex(item => {
          return item.currentProgram
        })
        this.$nextTick(() => {
          if (document.body.offsetWidth < 992) {
            window.scroll(0, 0, 'smooth')
          } else {
            this.$refs.perfectScroll.$el.scrollTop = (index - 3) * 40
            this.handleKeepViewMode()
          }
        })
      }
    },
    processPastDayConductor () {
      if (!this.pastDayConductor.length) {
        this.processConductor()
        return false
      }
      this.indexSelected = -1
      this.isOldState = true
      const day = new Date(this.pastDayConductor[0].startAt)
      this.persianStartAt = new PersianDate(day).format('dddd D MMMM')
      this.listConductor = this.pastDayConductor
      this.$nextTick(() => {
        if (document.body.offsetWidth >= 992) {
          this.pastConductorTimer = setTimeout(() => {
            this.handleKeepViewMode()
          }, 0)
        }
        this.$refs.perfectScroll.$el.scrollTop = 0
      })
    },
    handleKeepViewMode () {
      const videoContainer = document.getElementsByClassName('media-player-area')[0]
      let scrollContainer = document.getElementsByClassName('scroll-area')[0]
      let offsetHeight = videoContainer.offsetHeight
      if (this.$refs.programList && document.body.offsetWidth >= 992) {
        if (offsetHeight) {
          this.$refs.programList.style.minHeight = offsetHeight + 'px'
          this.$refs.programList.style.height = offsetHeight + 'px'
          scrollContainer.style.height = offsetHeight - this.$refs.perfectScroll.$el.offsetTop + 'px'
        }
      }
    },
    isSelected (item, index) {
      return (item.hasEpisode && index === this.indexSelected) || (this.indexSelected === null && item.currentProgram)
    }
  }
}
</script>
