<template>
  <div class="current-channel-item d-flex justify-content-between align-items-center text-rtl text-right px-3 py-2">
    <div>
      <img
        :src="currentChannel.logo"
        class="logo ml-2">
      <span class="title"> {{ currentChannel.title }}</span>
    </div>
    <button
      v-if="showConductorList"
      class="btn btn-tv d-block py-2 px-3"
      @click="toggleConductorList(false)">
      <right-arrow class="arrow"/>
      <span class="mr-1">{{ $t("button.returnToPage") }}</span>
    </button>
    <button
      v-if="!showConductorList"
      class="btn btn-tv py-2 px-3 d-block"
      e2e-program-list
      @click="toggleConductorList(true)">
      <span class="ml-1">{{ $t('formLabel.programsList') }}</span>
      <left-arrow class="arrow"/>
    </button>
  </div>
</template>

<script>
import RightArrow from '@/components/vue-svg/RightArrow.vue'
import LeftArrow from '@/components/vue-svg/LeftArrow.vue'

export default {
  name: 'TVCurrentChannel',
  components: {
    RightArrow,
    LeftArrow
  },
  props: {
    currentChannel: {
      type: Object,
      default: () => {}
    },
    showConductorList: {
      type: Boolean,
      default: false
    }
  },
  methods: {
    toggleConductorList (bool) {
      this.$emit('toggleConductorList', bool)
    }
  }
}
</script>
