<template>
  <div
    id="app"
    :class="{'platform-ios': whichOS == 'iOS'}"
    e2e-home-page
    @click="closeShowCalendar">
    <div
      ref="splashScreen"
      class="splash-screen">
      <div class="splash-logo"/>
    </div>
    <transition name="sidebar">
      <div
        v-show="showSidebar"
        class="page-sidebar app-theme2">
        <sidebar/>
      </div>
    </transition>
    <nprogress-container/>
    <appbar/>
    <page-header class="app-theme2"/>
    <notifications
      :position="notificationPosition"
      class="text-rtl"
      group="server"/>
    <router-view v-if="serverConfig" />
    <page-footer class="app-theme2"/>
    <logout-modal/>
    <login-modal v-if="$route.path !== '/login'"/>
    <notify/>
  </div>
</template>

<script>
import Sidebar from '@main/components/Sidebar.vue'
import Appbar from '@main/components/Appbar.vue'
import PageFooter from '@main/components/Footer.vue'
import PageHeader from '@main/components/Header.vue'
import NprogressContainer from '@main/components/Nprogress'
import LogoutModal from '@main/components/LogoutModal.vue'
import LoginModal from '@main/components/LoginModal.vue'
import Notify from '@main/components/Notify.vue'

export default {
  name: 'App',
  components: {
    Sidebar, NprogressContainer, LogoutModal, LoginModal, PageFooter, PageHeader, Appbar, Notify
  },
  data () {
    return {
      scrollKeyboardMobileTimer: null
    }
  },
  computed: {
    showSidebar () {
      return this.layoutShowSidebar
    },
    notificationPosition () {
      if (this.isMobile) {
        return 'bottom right'
      } else {
        return 'top right'
      }
    },
    // TODO: must move to mixin
    isLogin () {
      return this.authIsLogin
    }
  },
  created () {
    this.serverConfigGetAll()
    if (this.isLogin) {
      this.profileGetInfo()
    }
    window.addEventListener('resize', () => {
      this.layoutUpdateLayoutData()
      this.layoutUpdateResponsiveSize()
    })
    window.addEventListener('native.keyboardshow', () => {
      clearTimeout(this.scrollKeyboardMobileTimer)
      this.scrollKeyboardMobileTimer = setTimeout(() => {
        document.activeElement.scrollIntoViewIfNeeded()
      }, 100)
    })
  },
  methods: {
    closeShowCalendar () {
      this.tvToggleShowCalendar(false)
    }
  }
}
</script>

<style lang="sass">
  @import "./sass/main.scss";
</style>
