.appbar {
  direction: rtl;
  text-align: right;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 2000;
  height: $appBarHeight;
  overflow: hidden;
  background-color: $white !important;
  .appbar-content {
    padding: 0.5em 0.5em 0.5em 0.5em;
    overflow: hidden;
    .no-padding-left {
      padding-left: 0;
      margin-right: 0;
    }
    .img-logo-container {
      max-width: 44px;
      min-width: 44px;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);
      padding: 0.1em;
    }
    .title-container {
      padding-right: 0 !important;
    }
    .application-name-title {
      color: $primaryColor;
      font-size: 0.8em;
      padding-right: 0.5em !important;
      padding-top: 0.3em;
    }
    .application-name-subtitle {
      color: $darkGrayColor;
      font-size: 0.7em;
      line-height: 0.8em;
      padding-bottom: 0;
      padding-right: 0.5em !important;
      margin-bottom: .3em;
    }
    .btn-download-container {
      padding-left: 0.3em;
      padding-top: 0.47em;
      height: 100%;
    }
    .btn-close-container {
      padding: 0.3em;
      padding-top: 0.47em;
      width: 100%;
    }
    .btn-outline-primary {
      border-color: $blue;
      color: $blue;
      &:hover {
        background-color: $blue;
        color: $white;
        border-color: $blue;
      }
      &:active {
        border-color: $blue;
        color: $white;
      }
    }
    .cancel-btn {
      border: 0;
      border-radius: 0;
      color: $lightGrayColor;
      padding-top: 0.4em;
      &:hover,
      &:active{
        background-color: $white;
        color: $lightGrayColor;
        border: 0;
        border-color: $white;
      }
      .icon-cancel {
        width: 1.5em;
        height: 1.5em;
        padding: 0;
        left: 0 !important;
        vertical-align: middle;
      }
    }
  }

  .appbar-content-telegram {
    background-color: $white !important;
    padding: 0.5em 1.7em 0.5em;
    padding-left: 0.5em;
    overflow: hidden;

    .no-padding-left {
      padding-left: 0;
      margin-right: 0;
    }
    .img-logo-container {
      max-width: 44px;
      min-width: 44px;
      position: absolute;
      top: 0;
      left: 25%;
      // TODO: mohsen check this
      // translateX: (-50%);
      padding: 0.1em;
    }
    .title-container {
      padding-right: 0 !important;
      padding-left: 0;
    }
    .application-name-title {
      color: $blue;
      font-size: 1.2em;
      padding-right: 0 !important;
      padding-top: 0.5em;
    }
    .application-name-subtitle {
      color: $darkGrayColor;
      font-size: 0.7em;
      line-height: 0.8em;
      padding-bottom: 0;
      margin-bottom: .3em;
    }
    .btn-download-container {
      padding-left: 0.3em;
      padding-top: 0.5em;
    }
    .btn-close-container {
      padding: 0.3em;
      width: 100%;
    }
    .btn-outline-primary {
      border-color: $blue;
      background-color: $blue;
      color: $white;
      &:hover {
        background-color: $blue;
        color: $white;
        border-color: $blue;
      }
      &:active {
        border-color: $blue;
        color: $blue;
      }
    }
    .cancel-btn {
      border: 0;
      border-radius: 0;
      color: $blue;
      background-color: $white;
      padding-top: 0.5em;
      &:hover {
        color: $blue;
        background-color: $white;
      }
      &:active {
        color: $blue;
        background-color: $white;
      }

      .icon-cancel {
        width: 1.5em;
        height: 1.5em;
        padding: 0;
        left: 0 !important;
      }
    }
  }
}
