.component-archive {
  padding-top: 2em;
  padding-bottom: 2em;
  margin-bottom: 9em;
  //background-color: $grey-4;

  .no-result-title {
    color: $grey-6;
    direction: rtl;
  }
  .search-input-area {
    margin-top: 0;
    background-color: $grey-5;
    border-color: $grey-5;
    height: 3em;
    border-radius: 5px;
    .search-button {
      padding: remy(8);
      cursor: pointer;
    }
    .search-icon {
      color: $gray-9;
    }
    .clear-button {
      padding: remy(8);
      cursor: pointer;
    }
    .clear-icon {
      color: $gray-9;
    }

    .search-input {
      border-radius: 5px;
      background-color: $grey-5;
      border-color: $grey-5;
      direction: rtl;
      font-size: 1em;
      color: $grey-6;
      height: 3em;
      line-height: 2em;
      padding: 0;
      @media (max-width: 769px) {
        height: 3em;
        line-height: 2em;
      }
    }
    .img-slicer {
      padding: 0.625em;
      width: 3em;
      height: 3em;
      cursor: pointer;
      @media (max-width: 769px) {
        height: 3.5em;
        width: 3.5em;
      }
    }
  }
  .no-padding-sides {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
