.component-conductor {
  //
}

// in /archive and /
.archive-list-area {
  .section-title {
    color: $pure-white;
    font-size: $fsize-20;
    margin-bottom: 0;
    line-height: remy(32);
    font-weight: 300;
  }
  .btn-refresh.btn-refresh {
    flex-grow: 0;
    font-weight: bold;
    > * {
      vertical-align: middle;
    }
    .icon {
      margin-left: remy(8);
    }
    @media (max-width: 400px) {
      .text {
        display: none;
      }
      .icon {
        margin-left: 0;
      }
      flex-grow: 1;
      max-width: remy(64);
    }
  }
  .indicator-current {
    position: absolute;
    right: remy(-3);
    top: 50%;
    margin-top: remy(-9);
    z-index: 1;
    display: none;
  }
  .router-link-active {
    .card {
      background-color: rgba(240, 40, 103, .05)!important;
      border: 1px solid $grey-4;
      border-bottom: 1px solid $logoSecondColor;
    }
    .program-details-reporters {
      background-color: rgb(47, 34, 38);
    }
    //.match-title {
    //  color: $logoSecondColor;
    //}
    .indicator-current {
      display: block;
    }
  }
  .program-list-date {
    color: $gray-12;
    font-weight: bold;
    &.date-start {
      font-size: $fsize-14;
    }
    &.date-end {
      font-size: $fsize-12;
    }
  }
  .dates-row {
    > * {
      flex: 1 0;
    }
  }
  .program-live {
    color: $pure-white;
    word-spacing: 100px;
    background-color: $logoSecondColor;
    .card-body {
      color: $pure-white;
      box-shadow: none;
    }
  }
  .indicator-list {
    color: $grey-6;
    font-size: $fsize-12;
    @media (min-width: 768px) {
      font-size: $fsize-16;
    }
    .card-body {
      box-shadow: none!important;
      min-height: auto!important;
    }
  }
  .live-badge::after {
    display: inline-block;
    content: '';
    -webkit-border-radius: 0.3rem;
    border-radius: 0.3rem;
    height: 0.3rem;
    width: 0.3rem;
    margin-left: 0.2rem;
    background-color: $pure-white;
    //content: " ";
    //width: 0.5em;
    //height: 0.5em;
    //-webkit-border-radius: 0.5em;
    //border-radius: 0.5em;
    //background-color: $pure-white;
  }
  // TODO changed bootstrap
  @media (max-width: 400px) {
    .col-2 {
      -ms-flex: 0 0 13.666667%;
      flex: 0 0 13.666667%;
      max-width: 13.666667%;
    }
    .col-10 {
      -ms-flex: 0 0 86.333333%;
      flex: 0 0 86.333333%;
      max-width: 86.333333%;
    }
  }
}
