.component-contdown {
  text-align: center;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: center;
  width: 100%;
  .component-contdown--countdown-graph {
    max-width: 25%;
    padding: 5px;
  }

  .component-contdown--countdown-label {
    display: block;
    width: 100%;
    text-align: center;
    font-size: 1em;
  }
}
