.date-picker {
  border-radius: 5px;
  border: none;
  background-color: $grey-5;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.51), 0 1px 6px 0 rgba(0, 0, 0, 0.8);
  -webkit-border-radius: 5px;
  overflow: hidden;
  display: block;
  width: 100%;
  padding: 3px;
  position: absolute;
  z-index: 100000;
  direction: ltr;
  top: 80px;
  right: 0;
  @media (max-width: 992px) {
    width: 40%;
    top: 50%!important;
    left: 50%;
    position: fixed!important;
    transform: translate(-50%, -50%)!important;
  }
  @media (max-width: 568px) {
    width: 90%;
  }
  .header {
    display: block;
    width: 100%;
    float: left;
    padding-bottom: 8px;
    .header-row {
      display: block;
      width: 100%;
      height: 1.7em;
      float: left;
      .header-row-cell {
        display: block;
        width: 14.2%;
        height: 2em;
        float: right;
        line-height: 2em;
        font-weight: bold;
      }
    }
    .title {
      font-size: $fsize-12;
      color: $pure-white;
    }
    .close {
      left: 3%;
    }
  }
  .table-days {
    width: 100%;
    float: left;
    direction: rtl;
    td {
      width: 14.2%;
      height: 2.5em;
      padding: 0;
      margin: 0;
      position: relative;
      cursor: pointer;
      span {
        display: block;
        width: 26px;
        height: 26px;
        margin: auto;
        line-height: 2;
      }
      &.other-month span {
        color: $gray-17!important;
      }
      &.today span {
        background-color: transparent;
        color: $logoSecondColor!important;
        &::after {
          display: inline-block;
          content: '';
          width: 4px;
          height: 4px;
          -moz-border-radius: 2px;
          -webkit-border-radius: 2px;
          border-radius: 2px;
          background-color: $logoSecondColor;
          position: absolute;
          bottom: 0.4rem;
          margin: auto;
          left: 0;
          right: 0;
        }
        &:hover {
          color: $pure-white!important;
          &::after {
            background-color: $pure-white!important;
          }
        }
      }
      &.selected span,
      span:hover {
        background-color: $logoSecondColor;
        border-radius: 50%;
      }
      &.selected.today span {
        color: $pure-white!important;
        &::after {
          background-color: $pure-white!important;
        }
      }
    }
  }
  table,
  th,
  td {
    border: 0;
    background: none;
  }
}

.date-picker * {
  color: $pure-white;
  font-size: $fsize-14;
  text-align: center;
}
