.footer {
  direction: rtl;
  width: 100%;
  background-color: $grey-5;
  z-index: 1;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 0 0;
  height: $footerHeightDesktop;
  line-height: 1.9em;
  text-align: center;
  @media (max-width: 768px) {
    @if $navbarMobileOnBottom == true {
      bottom: $headerHeightMobile;
    }
  }

  @media (max-width: 768px) {
    height: auto;
  }

  .copyright-container {
    font-size: 0.7em;
    color: $gray-1__2;
  }
  .version-container,
  .version-number {
    color: $gray-1__2;
    span {
      font-size: 0.7em;
    }
  }
  .version-container {
    overflow: hidden;
  }

  .version-number {
    float: left;
    height: $footerHeightDesktop;
    line-height: $footerHeightDesktop;
    display: block;
    padding-left: 0.8em;
  }

  .footer-content {
    position: relative;
    color: $white;
    direction: rtl;
    text-align: right;

    .version-number {
      float: left;
      height: $footerHeightDesktop;
      line-height: $footerHeightDesktop;
      display: block;
      padding-left: 0.8em;
    }

    .links-container {
      padding: 1.28rem 0;
      color: $grey;
      @media (max-width: 768px) {
        padding: 0;
      }
      .footer-link {
        font-size: $fsize-14;
        color: $grey;
        height: 3.125rem;
        line-height: 3.125rem;
        margin-left: 1em;
        @media screen and (max-width: 767px) {
          span {
            font-size: 0.8em;
          }
        }
      }
    }

    .logos-container {
      display: block;
      padding: 0;
      height: $footerHeightDesktop;
      text-decoration: none;
      position: relative;
      float: left;
      overflow: hidden;

      .logo-right-side {
        padding-left: 0.8em;
        padding-right: 0.8em;
        border-left: 1px solid $mirrorLightWhite;
        border-right: 1px solid $mirrorLightWhite;
      }

      .logo-right-side,
      .logo-left-side {
        height: $footerHeightDesktop;
        float: left;
        position: relative;
        img {
          position: relative;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }
      }
    }
  }

  .download-app {
    svg {
      vertical-align: middle;
    }
  }
  .logo-samadehi {
    img {
      width: 17%;
    }
  }
}

.footer__hr {
  border-top-color: rgba(#000000, 0.2);
  margin: 0;
}
.footer__row2 {
  padding: 0.5rem 0;
}
.footer__nav-social {
  height: 100%;
  color: $grey-6;
  a {
    cursor: pointer;
    transition: opacity 300ms;
    display: block;
    &:hover {
      opacity: 0.7;
    }
    svg {
      display: block;
    }
  }
}
.footer__logo {
  position: absolute;
  right: 0.7rem;
  top: -0.5625rem;
  height: 1.125rem;
}
