.info-details-toggle {
  height: remy(56);
  cursor: pointer;
  user-select: none;
  .btn {
    margin-top: remy(6);
    line-height: 0;
    padding: remy(8);
    color: $gray-12;
    &:hover {
      color: darken($gray-12, 20%);
    }
  }
}
.info-details-toggle--content {
  .card {
    margin-top: 0;
  }
}