.modal-component.modal-component--login {
  .content {
    .form-group {
      margin-bottom: 1.75em;
    }
    p {
      @media (max-width: 575px) {
        margin-bottom: 3em;
      }
    }
    input {
      letter-spacing: 4px;
      direction: ltr;
    }
  }
  .text-timer {
    color: $grey-6;
  }
}

.modal-component--packages {
  p {
    line-height: 2;
  }
  .package-piece {
    border-radius: 5px;
    background-color: $grey-5;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
    padding: 2em 1em 1.375em 1em;
    cursor: pointer;
    .price {
      font-size: $fsize-12;
      color: $grey-6;
    }
    .icon {
      position: absolute;
      top: -28px;
      left: 0;
      right: 0;
      margin: auto;
      @media (max-width: 575px) {
        top: 0;
        bottom: 0;
        right: unset;
        height: 100%;
      }
    }
    .text-rtl{
      direction: rtl!important;
    }
    @media (max-width: 575px) {
      width: 90%;
      float: right;
      text-align: right;
    }
    &.active {
      background-color: rgba(240, 40, 103, .1);
    }
  }
  input {
    &.verification-code-input {
      &::placeholder {
        direction: rtl !important;
      }
    }
  }
}

.modal-component.modal-component--problem-report {
  .modal-content {
    text-align: right;
    .content {
      direction: rtl;
    }
    .modal-report-text-area {
      max-height: 5em;
    }
  }
}

.modal-component.modal-component--profile {
  .modal-footer {
    border: none;
  }
  .content {
    color: $gray-10;
    padding: 0.25em;
    input {
      border: none;
      border-radius: unset;
      border-bottom: 2px solid $logo-pink-1;
      background: transparent;
      color: $gray-10;
    }
  }
}
