// https://github.com/twbs/bootstrap/issues/24352
// https://hackernoon.com/how-to-fix-the-ios-11-input-element-in-fixed-modals-bug-aaf66c7ba3f8
// TODO: add this style to ios modal opened mode
// body.modal-open{ -webkit-overflow-scrolling : touch !important; overflow: auto !important; height: 100% !important; }

.modal{
  padding-right: 0 !important;
}

.modal-backdrop {
  background-color: rgb(50,50,50);
  opacity: 0.8 !important;
}

.modal-component {
  .modal-dialog {
    width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    margin: auto;
    transform: translate(-50%, -50%) !important;
    @media (max-width: 575px) {
      width: 85%;
    }
  }
  .modal-header {
    border: none;
    font-weight: bold;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
  }
  .modal-footer {
    padding: 1.5em;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    @media (max-width: 575px) {
      border-top: none;
    }
  }
  .modal-content {
    background-color: $grey-4;
    color: $pure-white;
    border-radius: 7px;
    box-shadow: 0 5px 10px 0 $gray-11;
    &:focus{
      box-shadow: 0 5px 10px 0 $gray-11 !important;
    }
    .content {
      color: $gray-10;
      padding: 0.25em;
      p {
        font-size: $fsize-14;
        padding: 0 1.8em;
        @media (max-width: 575px) {
          padding: 0 0.3em;
        }
      }
    }
    .btn {
      line-height: 1.85;
      font-size: $fzise-15;
      border-radius: 25px;
      font-weight: bold;
      &.disabled,
      &.btn-cancel{
        color: $gray-12;
        border: 1px solid $gray-13;
        background-color: $gray-13;
      }
    }
    .title {
      font-size: $fsize-16;
      font-weight: bold;
      line-height: 2;
    }
    input{
      border: none;
      border-radius: unset;
      border-bottom: 2px solid $logo-pink-1;
      background: transparent;
      color: $gray-10;
      &::placeholder {
        direction: ltr !important;
        color: $gray-10;
      }
    }
    textarea,
    .dropdown .btn-secondary{
      border: none;
      border-radius: unset;
      border-bottom: 2px solid $logo-pink-1;
      background: transparent;
      color: $gray-10;
      text-align: right;
      font-size: $fsize-14;
      line-height: 2;
    }
    textarea {
      &::placeholder {
        color: $grey-6;
      }
    }
    .dropdown {
      .btn-secondary {
        width: 100%;
        white-space: normal;
        padding-left: .25rem !important;
        padding-right: .25rem !important;
      }
      .dropdown-toggle {
        &:hover,
        &:focus,
        &:active {
          background: none !important;
        }
        &::after {
          float: left;
          margin-top: 6%;
        }
      }
      .dropdown-menu {
        right: 0;
        text-align: right;
      }
      .dropdown-item {
        font-size: $fsize-14;
      }
    }
  }
}
