.header-login-button {
  width: 6.25rem;
  span {
    line-height: 1.375rem;
    // NOTE: font bug
    position: relative;
    top: -2px;
  }
}

.header-member-territory {
  .dropdown-menu {
    margin-top: 0;
    padding: 0;
    background-color: $gray-1__2;
    border: 0;
    border-radius: 5px;
  }
  .dropdown-item {
    padding-left: 1em;
    padding-right: 1em;
    cursor: pointer;
    height: 2.8em;
    border: 0;
    display: block;
    font-size: 0.875rem;
    line-height: 2.8em;
    color: $gray-10;
    text-align: right;
    background: transparent;
    > * {
      vertical-align: middle;
      float: right;
      height: remy(32);
      line-height: remy(32);
    }

    &:hover {
      text-decoration: none;
      color: $logoSecondColor;
      .member-territory-icon {
        color: $logoSecondColor;
      }
    }
    &:focus,
    &:active,
    &:hover {
      background-color: transparent;
    }

    &.active {
      color: $primaryColor;
    }

    .member-territory-icon {
      margin-left: remy(14);
    }
  }
  .dropdown-toggle {
    padding: 0;
    width: 2em;
    height: 2em;
    overflow: hidden;
    border-radius: 100%;
    border: none;
    display: block;
    &::after,
    &::before {
      content: none !important;
      display: none !important;
    }
  }
  .member-avatar {
    position: relative;
    width: 2em;
    height: 2em;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $gray-1;
    border-radius: 100px;

    img {
      height: 100%;
    }
    .contain {
      width: 100%;
      object-fit: cover;
    }
    svg {
      position: relative;
      top: 1px;
      color: $grey-6;
    }
  }
}

.navbar {
  padding: 0;
  z-index: 1000;
  direction: rtl;
  text-align: right;
  color: $white;
  line-height: 2rem;
  height: $headerHeightMobile;
  &.navbar--main {
    background-color: $grey-5;
  }

  @media (min-width: 768px) {
    height: $headerHeightDesktop;
  }

  .navbar-collapse {
    direction: rtl;
    text-align: right;
  }
  .navbar-toggler {
    font-size: 1em;
    &:focus {
      outline: none;
    }
  }

  .logos-container {
    padding: 0;
    height: $headerHeightMobile;
    text-decoration: none;

    .logo-right-side {
      padding-left: .8em;
      border-left: 1px solid $mirrorLightWhite;
      img {
        margin-top: remy(15);
      }
    }
    .logo-left-side {
      img {
        margin-top: remy(11);
      }
    }

    .logo-right-side,
    .logo-left-side {
      display: table;
      height: $headerHeightMobile;
      img {
        display: table-cell;
        vertical-align: middle;
      }
    }
  }

  .shima-logo-image {
    margin-right: 1em;
    @media (max-width: 335px) {
      margin-right: 0;
    }
  }

  .img-logo-main {
    height: 20px;
  }
  .navbar-toggler-icon {
    color: $primaryColor;
    background-color: $black;
  }
  .nav-link {
    color: $grey-6 !important;
    font-size: .875rem;
    line-height: remy(68 - 2);
    border-bottom: 2px solid transparent;
    white-space: nowrap;
    @media (min-width: 768px) {
      margin-right: .2em;
    }
  }

  .main-navigation {
    .router-link-active {
      color: $primaryColor !important;
      border-bottom: 2px solid $primaryColor;
      &.only-exact-active {
        color: $grey-6 !important;
        border-bottom: 2px solid transparent;
        &.router-link-exact-active {
          color: $primaryColor !important;
          border-bottom: 2px solid $primaryColor;
        }
      }
    }
  }

  .toggle-wrap {
    height: remy(28);
    width: remy(40);
    padding: remy(4);
    cursor: pointer;

    @media (min-width: 576px) {
      padding-left: 0;
    }

    /*disable selection*/
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .toggle-bar,
  .toggle-bar::before,
  .toggle-bar::after,
  .toggle-wrap.active .toggle-bar,
  .toggle-wrap.active .toggle-bar::before,
  .toggle-wrap.active .toggle-bar::after {
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
    transition: all 200ms ease-in-out;
  }
  .toggle-bar {
    width: 30px;
    position: relative;
    top: 8px;
    border-top: 3px solid $white;
    display: block;
  }
  .toggle-bar::before,
  .toggle-bar::after {
    content: '';
    display: block;
    background: $navBarTogglebarAfter;
    height: 3px;
    width: 30px;
    position: absolute;
    top: -12px;
    -ms-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform-origin: 13%;
    -webkit-transform-origin: 13%;
    transform-origin: 13%;
    background-color: $white;
  }
  .toggle-bar::after {
    top: 6px;
  }
  .toggle-wrap.active .toggle-bar {
    border-top: 3px solid transparent;
  }

  .toggle-wrap.active .toggle-bar::before {
    -ms-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background-color: $primaryColor;
    top: -10px;
  }
  .toggle-wrap.active .toggle-bar::after {
    -ms-transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
    background-color: $primaryColor;
    top: 6px;
  }
}

.header-tv-link {
  float: left;
  height: 2.5em;
  line-height: 1.5em;
  a {
    padding: .35em;
  }
  & .router-link-active {
    svg,
    span {
      color: $primaryColor !important;
    }
  }

  .nav-link {
    padding-left: .8em !important;
  }

  svg {
    max-width: 2.3em;
    max-height: 2.3em;
    display: inline-block;
    fill: currentColor;
  }
}

.main-navbar-container {
  height: 100%;
  .icon-sign-in {
    width: 2em;
    height: 2em;
  }
}

.navbar--mobile {
  background-color: $grey-4;
  z-index: 1000 - 2;
  position: fixed;
  right: 0;
  left: 0;
  @if $navbarMobileOnBottom == false {
    top: $headerHeightMobile;
    .top-app-bar-visible & {
      top: $headerHeightMobile + $appBarHeight;
    }
  } @else {
    bottom: 0;
  }
}
.navbar--mobile__link {
  height: 100%;
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: center;
  color: $gray-1__2;
  background-color: $grey-4;
  svg {
    width: remy(30);
    height: remy(30);
  }
}
.navbar--main {
  z-index: 1000 + 1;
}
.navbar-main--part {
  @media (min-width:768px) {
    flex-grow: 1;
    flex-basis: 0;
  }
}
.navbar__title {
  white-space: nowrap;
}
