.notifications {
  margin: remy(12);
  @media (max-width: 576px) {
    width: 100% !important;
    padding: remy(5) 0 0 0;
    margin: 0;
  }
  .notification {
    text-align: center;
  }
}

.notification-cards {
  .upperTitle {
    font-size: remy(14);
    font-weight: bold;
    line-height: 1.5;
  }
  .title {
    font-size: remy(12);
    font-weight: normal;
  }
  .paragraph {
    font-size: remy(12);
    color: $gray-10;
    margin-top: remy(16);
  }
  .notification-thumbnail {
    float: right;
    border-radius: remy(6) 0 0 remy(6);
    max-width: remy(100);
  }
  .notification-time {
    line-height: remy(12);
    height: remy(12);
    font-size: remy(10);
    color: $grey-6;
  }
  .notification-empty p {
    font-size: remy(12);
    color: $gray-12;
    @media (min-width: 768px) {
      margin-top: 3rem;
    }
  }
  .notification-text {
    min-height: remy(100);
  }
}
