.app-theme2 {
  .btn {
    border-radius: 2rem;
    border: none;
    &:disabled,
    &.disabled {
      background-color: $gray-1__2;
      border: none;
      cursor: default;
      color: $gray-12;
    }
    &:hover,
    &:focus,
    &:active {
      text-decoration: none;
      border: none;
    }
  }
}
.btn-sm {
  line-height: 1.75;
  font-size: remy(12);
  padding: remy(5) 1rem;
}
.btn-md {
  line-height: 1.75;
  font-size: remy(14);
  padding: remy(8) 1rem;
}
.btn-extend {
  padding-left: remy(48);
  padding-right: remy(48);
}
// .btn-lg {
//   font-size: remy(16);
//   padding: remy(10) 1rem;
// }

//.form-control-transparet{
//  background: $mirrorGray;
//  border-color: $mirrorGray;
//  color: #333;
//  transition: background $globalAnimationDuration;
//}

.form-group {
  margin-bottom: 1.75rem;
  label {
    color: $grey-6;
    font-size: $fsize-12;
    font-weight: bold;
  }
  textarea {
    min-height: remy(44);
    padding-left: 0;
    padding-right: 0;
  }
  input {
    padding-left: 0;
    padding-right: 0;
  }
}
.form-control {
  .app-theme2 & {
    direction: rtl;
    border: none;
    border-radius: unset;
    border-bottom: 2px solid $logo-pink-1;
    background: transparent;
    color: $gray-10;
    font-size: $fsize-16;
    &::placeholder {
      color: $gray-12;
    }
    &:focus,
    &:active {
      background: none;
      color: inherit;
      border-color: lighten($logo-pink-1, 10%);
    }
  }
  &.is-invalid{
    border-bottom: 2px solid $red;
  }
}

.btn-primary {
  background: $logoSecondColor !important;
  border: none;
  &:hover {
    background: darken($logoSecondColor, 10) !important;
  }
  &:focus,
  &:active {
    background: darken($logoSecondColor, 20) !important;
  }
}
.btn-secondary {
  background: $gray-10;
  border: none;
  color: $gray-2;
  &:hover {
    background: darken($gray-10, 10) !important;
  }
  &:focus,
  &:active {
    background: darken($gray-10, 20) !important;
  }
}
.btn-primary:not(:disabled):not(.disabled).active,
.btn-primary:not(:disabled):not(.disabled):active,
.show>.btn-primary.dropdown-toggle {
  border-color: $pure-white;
}
.btn-outline-primary {
  background: rgba($logoSecondColor, 0.2) !important;
  border: 1px solid $logoSecondColor !important;
  color: $logoSecondColor !important;
  &:hover {
    background: darken(rgba($logoSecondColor, 0.2), 10) !important;
  }
  &:focus,
  &:active {
    background: darken(rgba($logoSecondColor, 0.2), 20) !important;
  }
}

.text-mute{
  color: $gray-9;
}

.btn-loading {
  position: relative;
  &::before {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    content: ' ';
    background-color: rgba(0, 0, 0, .6);
    background-image: url('/static/img/main/loading-circle.svg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 100px;
  }
}

.text-rtl {
  direction: rtl;
}

.card {
  background-color: $grey-5;
  border-color: $grey-5;
  margin-top: remy(15);
  margin-bottom: remy(15);
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
}
.card-title {
  color: $gray-10;
  font-weight: bold;
  font-size: 1rem;
  margin-bottom: 0.65rem;
}

svg,
.btn {
  user-select: none;
}
