.component-packages {
  margin-top: remy(44);
  @media (min-width: 768px) {
    margin-top: 0;
    position: relative;
    top: remy(-24);
  }
  .card {
    position: relative;
    margin-bottom: 4rem;
  }
  .card-body {
    font-size: remy(12);
    color: $grey-6;
    padding-top: 0;
    padding-bottom: remy(24);
  }
  .description-container {
    border: 2px solid transparent;
    max-height: 4rem;
    min-height: 4rem;
  }
  // .price-effective {
  //   width: 100%;
  //   padding: 1em;
  //   .package-price {
  //     color: $primaryColor;
  //   }
  // }
  .btn--buyPackage {
    width: 7.75rem;
    position: absolute;
    bottom: -1rem;
    left: 50%;
    margin-left: remy(-62);
  }
  .package-icon {
    position: relative;
    top: remy(-28);
    margin: auto;
    height: 0;
  }
}
