.player-actions {
  flex-direction: column;
  margin-top: remy(16);
  .action {
    border: none;
    border-radius: 50px;
    padding: remy(7);
    width: remy(44);
    height: remy(44);
    margin: auto;
    background-color: $grey-5;
    color: $gray-12;
    display: block;
    transition: background-color 150ms ease;
    &:hover {
      background-color: lighten($grey-5, 10%);
      cursor: pointer;
    }
  }
  svg {
    display: block;
  }
}