.player-overlay {
  .player-overlay--artworked-content {
    @include centerer;
  }
  .player-overlay--artwork {
    max-width: 100%;
    height: remy(42);
    @media (min-width: 768px) {
      height: auto;
    }
  }
  .player-overlay--title {
    margin-top: remy(16);
    margin-bottom: remy(8);
    font-size: $fsize-12;
    font-weight: bold;
    @media (min-width: 768px) {
      font-size: $fsize-14;
      margin-top: remy(36);
      margin-bottom: remy(16);
    }
  }
  .player-overlay--message {
    font-size: $fsize-10;
    @media (min-width: 768px) {
      font-size: $fsize-12;
    }
  }
  .player-overlay--cta {
    margin-top: remy(16);
    line-height: 1.15;
    @media (min-width: 768px) {
      margin-top: remy(36);
      line-height: 1.75;
    }
  }
}