// todo: remove all unused comments
.video-js:hover button.play,
.video-js:hover button.vjs-big-play-button,
.video-js button.play,
.video-js button.vjs-big-play-button {
  &,
  &:hover {
    width: 179px !important;
    height: 194px !important;
    @include border-radius(0);
    border-radius: 0 !important;
    background: transparent url('/static/img/main/live-icon.png') no-repeat center center !important;
    @media (max-width: 768px) {
      width: 89.5px !important;
      height: 97px !important;
      -webkit-background-size: cover !important;
      background-size: cover !important;
    }
    &::before {
      display: none !important;
    }
  }
}


.fkplayer {

  .vjs-big-play-button{
    .vjs-icon-placeholder::before{
      display: none !important;
    }
  }

  .video-js.vjs-paused.vjs-has-started .vjs-big-play-button {
    display: block !important;
    z-index: 1;
  }
  .video-js.vjs-waiting .vjs-big-play-button,
  .video-js.vjs-seeking .vjs-big-play-button {
    display: none !important;
    visibility: hidden !important;
  }
}

.fkplayer .video-js .vjs-progress-control .vjs-play-progress,
.fkplayer .video-js .vjs-progress-control .vjs-play-progress::after {
  background: $primaryColor;
}


.platform-ios {

  .vjs-resolution-button,
  .vjs-subs-caps-button{
    display: none !important;
  }

  .vjs-waiting {
    button.vjs-big-play-button {
      display: none !important;
    }
  }
}

.vjs-user-inactive {
  .vjs-control-bar {
    transition: 0ms linear all !important;
  }
}

.vjsplayer-live-dvr.vjsplayer-medium-view {
  .vjs-live-dvr-button {
    width: 14em;
  }
}

.vjs-player-wrapper {
  position: relative;

  .vjs-live-dvr-label,
  .vjs-live-label {
    font-family: 'Iranyekan', 'IranyekanNumeral';
    line-height: 1.8em !important;
  }

  .vjs-playback-rate {
    .vjs-playback-rate-value,
    .vjs-menu .vjs-menu-item {
      font-family: 'IranyekanNumeral';
    }
  }

  .vjs-menu-item.vjs-selected,
  .vjs-live-display::before,
  .vjs-dvr-seekbar--progress {
    background: $primaryColor !important;
  }

  .video-js.vjs-custom-skin .vjs-loading-spinner {
    border-color: $primaryColor;
    min-width: 1em;
    min-height: 1em;
  }

  .video-js.vjs-custom-skin .vjs-play-progress,
  .video-js.vjs-custom-skin .vjs-volume-level {
    background: $primaryColor;
  }

  .video-js.vjs-custom-skin .vjs-big-play-button {
    margin-left: 0;
  }

  .vjs-control.vjs-button.vjs-theater-mode-btn {
    display: none;
  }
  .video-player {
    > .video-js {
      min-height: 480px;
      position: relative;

      @include respond-to(small) {
        min-height: auto;
      }

      .vjs-tech {
        width: 100%;
        height: auto;
      }
      /* stylelint-disable */
      @at-root div.program-stream-wrapper.is-live div.preview div.vjs-player-wrapper div.vjs-player-live div.video-js button.vjs-big-play-button,
        button.vjs-big-play-button {
        @include respond-to(small) {
          width: 89px !important;
          height: 97px !important;
          background-size: cover !important;

          @include centerer();
        }
      }
      /* stylelint-enable */
    }
  }

  .video-js {
    position: absolute !important;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;

    &.vjs-error,
    &.vjs-paused {
      .vjs-loading-spinner {
        display: none !important;
      }
    }

    &.vjs-error {
      .vjs-big-play-button {
        display: none;
      }
    }
  }

  //.vjs-duration.vjs-time-control.vjs-control {
  //  display: none !important;
  //}

  .video-js.vjs-fullscreen {
    font-size: 1em;
  }

  .vjs-live-control {
    font-family: 'IranyekanNumeral';
  }

  .vjs-loading-spinner {
    padding: 0 !important;
    text-align: center;
    font-size: 1em;

    &::before,
    &::after {
      display: none !important;
    }

    top: 50%;
    border: 0;
    margin: 0;
    width: 10px;
    height: 10px;
    color: $white;
    min-width: 10px;
    min-height: 10px;
    max-width: 10px;
    max-height: 10px;
    position: absolute;
    background: transparent;
    @include border-radius(100%);
    @include translate(40px, -250%);
    -webkit-animation: m3g-blinking-dots 1500ms infinite;
    -moz-animation: m3g-blinking-dots 1500ms infinite;
    -o-animation: m3g-blinking-dots 1500ms infinite;
    animation: m3g-blinking-dots 1500ms infinite !important;
    box-shadow: $white -65px 20px 0 5px,
      $white -40px 20px 0 5px,
      $primaryColor -15px 20px 0 5px;
  }

  @keyframes m3g-blinking-dots {
    0% {
      box-shadow: $logo-pink-1 -65px 20px 0 5px,
        $logo-pink-2 -40px 20px 0 5px,
        $logo-pink-3 -15px 20px 0 5px;
    }
    25% {
      box-shadow: $gray-1      -65px 20px 0 5px,
        $logo-pink-2 -40px 20px 0 10px,
        $logo-pink-3 -15px 20px 0 5px;
    }
    50% {
      box-shadow: $gray-1      -65px 20px 0 10px,
        $gray-2      -40px 20px 0 5px,
        $logo-pink-3 -15px 20px 0 5px;
    }
    75% {
      box-shadow: $gray-1 -65px 20px 0 5px,
        $gray-2 -40px 20px 0 5px,
        $gray-3 -15px 20px 0 10px;
    }
    100% {
      box-shadow: $logo-pink-1 -65px 20px 0 5px,
        $logo-pink-2 -40px 20px 0 5px,
        $logo-pink-3 -15px 20px 0 5px;
    }
  }
}
