.programs-list {
  height: 462px;
  padding: 0;
  border-radius: 6px;
  background-color: $grey-5;
  color: $pure-white;
  @media (max-width: 992px) {
    height: 100%;
    padding-bottom: 9em;
    background-color: $grey-4;
  }
  @media (max-width: 568px) {
    padding-bottom: 7em;
  }
  .title {
    text-align: center;
    font-size: $fsize-14;
    font-weight: bold;
    line-height: 3;
  }
  .search-container {
    flex-grow: 100;
    //width: 80%;
    height: 2rem;
    border-radius: 8px;
    background-color: $grey-4;
    .search-input {
      background-color: transparent;
      font-size: $fsize-10;
      border: none;
      text-align: right;
      flex-grow: 100;
      width: 80%;
      height: 100%;
      color: $pure-white;
      &::placeholder {
        color: $grey-6;
      }
    }
    .search-icon {
      color: $grey-6;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  @media (max-width: 992px) {
    .search-container {
      height: 2.5em!important;
      background-color: $grey-5;
    }
  }
  .calendar-icon {
    position: relative;
    width: 2rem;
    height: 2rem;
    border-radius: 8px;
    cursor: pointer;
    background-color: $grey-4;
    color: $pure-white;
    &:hover {
      background-color: $pure-white;
      color: $grey-5;
      .lottie {
        path {
          stroke: $logoSecondColor;
        }
      }
    }
    @media (max-width: 992px) {
      background-color: $grey-5;
      height: 2.5em!important;
      width: 2.5em!important;
    }
    .calendar-svg {
      position: absolute;
      top: 50%;
      right: 50%;
      transform: translate(50%,-50%);
    }
    &.history {
      background-color: $pure-white;
      color: $logoSecondColor;
      .lottie {
        path {
          stroke: $logoSecondColor;
        }
      }
    }
    .badge-history {
      position: absolute;
      bottom: -2px;
      left: -4px;
      width: 11px;
      height: 11px;
      border-radius: 50%;
      background-color: $logoSecondColor;
      border: solid 1px $grey-5;
    }
  }
  .btn-back,
  .date{
    padding: 0;
    font-size: $fsize-10;
    font-weight: bold;
    padding-top: 1px;
    padding-bottom: 1px;
  }
  .scroll {
    height: 354px;
    overflow: hidden;
    overflow-y: scroll;
    border-radius: 0 0 6px 6px;
  }
  .conductor {
    height: 4em;
    margin: 0;
    font-size: $fsize-10;
    position: relative;
    background-repeat: no-repeat;
    background-position: 98%;
    &.border-bottom {
      border-bottom: 1px dashed $gray-15!important;
    }
    .name {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    .duration {
      color: $grey-6;
      font-size: $fsize-8;
      line-height: 2;
      .circle {
        width: 3px;
        height: 3px;
        margin: 0 0.2rem;
        border-radius: 50%;
        background-color: $grey-6;
      }
    }
    .time {
      font-size: $fsize-12;
      color: $grey-6;
      line-height: 2.5;
    }
    &.selected-episode {
      background-color: rgba(240, 40, 103, .1)!important;
    }
    &.archive-episod {
      background-color: rgba(158, 158, 158, .1);
    }
    .indicator {
      position: absolute;
      right: 4px;
      top: 0;
      bottom: 0;
      margin: auto;
    }
  }
  .loading-center {
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
  }
  .no-result-title {
    font-size: $fsize-12;
  }
  .badge-live {
    width: 0.5em;
    height: 0.5em;
    border-radius: 0.5em;
    background-color: $logoSecondColor;
  }
}
