.reporter-item {
  .reporter-image {
    width: remy(34);
    height: remy(34);
    border-radius: 50%;
    border: remy(2) solid transparent;
  }
  .reporter-details {
    vertical-align: middle;
  }
  .reporter-name {
    color: $pure-white;
    font-size: $fsize-10;
  }
  .reporter-description {
    color: $grey-6;
    font-size: $fsize-9;
  }
  &.active,
  &:hover {
    a {
      text-decoration: unset;
    }
    .reporter-name,
    .reporter-description {
      color: $logoSecondColor;
    }
    .reporter-image {
      border: remy(2) solid $logoSecondColor;
    }
  }
}
.program-details-reporters {
  background-color: $gray-20;
  width: 100%;
  height: remy(66);
  border-radius: 0 0 remy(5) remy(5);
  &.two-rows {
    height: remy(86)!important;
    padding: 0 remy(8);
    @media (max-width: 326px) {
      padding: remy(0)!important;
    }
  }
  &.two-rows-details {
    height: remy(100)!important;
    padding: 0 remy(4);
  }
}
//.reporter-size {
//  height: remy(154)!important;
//  @media (min-width: 768px) {
//    height: remy(154)!important;
//  }
//}
//.reporter-resize {
//  height: remy(174)!important;
//  @media (min-width: 768px) {
//    height: remy(208)!important;
//  }
//}
