.program-card {
  position: relative;
  .indicator {
    cursor: default;
    user-select: none;
  }
  .layout-one-thumb {
    position: absolute;
    left: 0;
    top: 0;
    overflow: hidden;
    height: 100%;
    max-width: 10rem;
    @media (min-width: 768px) {
      max-width: 12rem;
    }
    img {
      width: auto;
      height: remy(96);
      border-radius: $card-border-radius 0 0 $card-border-radius;
      @media (min-width: 768px) {
        height: remy(112);
      }
    }
    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      border-radius: $card-border-radius 0 0 $card-border-radius;
      background: linear-gradient(to right, transparent 40%, rgba($grey-5,1) 100%);
    }
  }
  .card-body {
    position: relative;
    padding: 0;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
    overflow: hidden;
    .indicator-live {
      background-color: $logoSecondColor;
      color: $grey-4;
      border-radius: remy(12);
      font-size: $fsize-12;
      font-weight: bold;
      padding: remy(2) remy(24);
      z-index: 1;
      cursor: inherit;
    }
    .indicator-time {
      font-size: $fsize-14;
      background-color: $grey-4;
      color: $grey-6;
      border-radius: remy(12);
      font-weight: bold;
      padding: remy(2) remy(16);
    }
    .indicator-layout1 {
      position: absolute;
      bottom: remy(8);
      left: remy(8);
      z-index: 1;
    }
    .indicator-layout2 {
      position: static;
      margin: remy(2) auto 0;
      @media (min-width: 768px) {
        margin: remy(8) auto 0;
      }
    }
    .btn-sport-name {
      font-size: $fsize-12;
      border-color: $grey-5;
      color: $grey-6;
      border-radius: 0.2em;
      direction: rtl;
      //font-size: .8em;
      line-height: 1.8em;
      @media (max-width: 400px) {
        font-size: $fsize-10;
        line-height: 1.1;
      }
    }
    .match-title {
      //font-size: $fsize-12;
      overflow: hidden;
      color: $white;
      line-height: 1.5em;
      text-decoration: none;
      margin-top: 0;
      margin-bottom: 0.2em;
      direction: rtl;
      @media (max-width: 568px) {
        font-size: $fsize-12;
        margin-bottom: 0;
      }
      @media (max-width: 400px) {
        height: remy(40);
        font-size: $fsize-10;
        //line-height: 1.3;
      }

      @media (min-width: 768px) {
        font-size: $fsize-16;
      }
    }
  }
  &.layout-1-sides {
    .match-content-in {
      padding: 0 remy(8);
      @media (min-width: 768px) {
        padding: 0 remy(16);
      }
    }
    .card-body {
      min-height: remy(86);
      .match-title {
        height: remy(52);
      }
      @media (min-width: 768px) {
        min-height: remy(112);
        .match-title {
          height: remy(40);
          margin-top: remy(0);
        }
      }
    }
  }
  &.layout-2-sides {
    .match-content-in {
      padding: 0 remy(24);
    }
    .card-body {
      min-height: remy(90);
      @media (min-width: 768px) {
        min-height: remy(112);
      }
      .match-title {
        height: remy(52);
        @media (min-width: 768px) {
          height: remy(45);
          margin-top: remy(0);
        }
      }
    }
    .bg-logo {
      width: remy(86);
      height: remy(86);
      position: relative;
      border-radius: 50%;
      background-color: $grey-4;
      overflow: hidden;
      .logo {
        width: remy(62);
        height: remy(62);
        //border-radius: 50%;
      }
    }
    .icon-vs {
      width: remy(22);
      height: remy(22);
      border-radius: 50%;
      font-size: $fsize-30;
      line-height: 0.9;
      color: $gray-19;
      font-weight: bold;
    }
    @media (max-width: 768px) {
      .bg-logo {
        width: remy(58);
        height: remy(58);
        .logo {
          width: remy(42);
          height: remy(42);
        }
      }
      .icon-vs {
        width: remy(20);
        height: remy(20);
        font-size: $fsize-20;
        line-height: 1.2;
      }
      .btn-sport-name {
        overflow: hidden;
        text-overflow: ellipsis;
        width: remy(112);
        white-space: nowrap;
      }
    }
    @media (max-width: 400px) {
      .bg-logo {
        width: remy(50);
        height: remy(50);
        .logo {
          width: remy(38);
          height: remy(38);
        }
      }
      .btn-sport-name {
        width: remy(100);
      }
    }
    @media (max-width: 320px) {
      .btn-sport-name {
        width: remy(80);
      }
    }
    @media (min-width: 767px) and (max-width: 1200px) {
      .bg-logo {
        width: remy(54);
        height: remy(54);
        .logo {
          width: remy(42);
          height: remy(42);
        }
      }
    }
  }
  .img-team-logo-container {
    .img-w {
      padding: remy(19);
      @media (min-width: 768px) {
        padding: remy(24);
      }
    }
    img {
      height: remy(48);
      width: remy(48);
      @media (min-width: 768px) {
        height: remy(64);
        width: remy(64);
      }
    }
  }
  .btn-date {
    background-color: $grey-4;
    color: $grey-6;
    font-size: 0.875rem;
    @media (min-width: 768px) {
      margin-bottom: 0em;
    }
  }
  .rounded-circle {
    width: 50%;
    padding-top: 50%;
    overflow: hidden;
    position: relative;
    // background-color: $pure-white;
    top: 50%;
    transform: translate(0, -50%);
    @media (max-width: 568px) {
      width: 90%;
      padding-top: 90%;
    }

    > img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: 100%;
    }
  }
  .image-thumbnail {
    width: 5em;
    height: 5em;
    padding: .75em;
    overflow: hidden;
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    // background-color: $pure-white;

    @media (max-width: 568px) {
      width: 3em;
      height: 3em;
    }
  }
  .btn-time {
    background-color: $grey-4;
    border: none;
    color: $grey-6;
    margin-bottom: 0.2em;
  }
  .router-link-active{
    .match-title {
      color: $logoSecondColor;
    }
  }
  .border-radius-top {
    border-radius: $card-border-radius 0 0 0 !important;
  }
}
