.program-details {
  .indicator-live {
    display: none !important;
  }
  // Fix blink on load
  min-height: remy(346);
  @media (min-width: 576px) {
    min-height: auto;
  }
  &.related-programs-enabled {
    min-height: remy(516);
    @media (min-width: 576px) {
      min-height: auto;
    }
  }
  // TODO: add another condition for min-height if toggleDetailsEnable=true

  .related-programs-title {
    font-size: $fsize-14;
    color: $gray-12;
    margin-bottom: remy(20);
  }
  .card {
    border-radius: 0 0 $card-border-radius $card-border-radius;
    margin: 0;
    &.reporter-timeline {
      height: remy(150);
    }
  }
  .program-description {
    color: $gray-10;
    font-size: $fsize-12;
    .toggle {
      transition: opacity 150ms ease;
      color: $logoSecondColor;
      &:hover,
      &:focus {
        color: lighten($logoSecondColor, 10%);
        cursor: pointer;
      }
      svg {
        width: remy(24);
        height: remy(24);
        vertical-align: middle;
      }
    }
    .toggle:not(.collapsed) {
      opacity: 0;
    }
  }
  .player-actions,
  .share-links {
    margin-top: remy(16);
    .action {
      width: remy(32);
      height: remy(32);
      padding: 0;
      background: none;
      transition: color 150ms ease;
      &:hover {
        background: none;
        color: darken($gray-12, 10%);
      }
    }
    svg {
      width: remy(32);
      height: remy(32);
    }
  }
  .player-actions {
    margin-left: 0;
    flex-direction: row;
    .action {
      margin-right: remy(16);
    }
  }
  .share-links {
    margin-right: 0;
    margin-left: auto;
    flex-direction: row-reverse;
    .action {
      margin-left: remy(16);
    }
  }
  .indicator-time2 {
    display: none;
  }
  .program-details-table-mobile {
    color: $grey-6;
    font-size: $fsize-14;
    line-height: 3.5;
    th {
      font-weight: normal;
      svg {
        vertical-align: middle;
      }
    }
    td {
      color: $white;
    }
  }
  .indicator-current {
    display: none;
  }
  .indicator-time {
    display: none !important;
  }
  &.exists {
    padding-bottom: remy(16);
  }
}
.program-details-head--mobile {
  height: remy(48);
  flex: 1 0;
  border-bottom: 1px solid darken($grey-4, 2%);
  .title-text {
    font-size: $fsize-12;
    color: $white;
    padding-top: remy(8);
    line-height: 2.3;
    max-height: remy(64);
    overflow: hidden;
    @media (max-width: 767px) {
      line-height: 1.3;
    }
  }
  &.layout-1-sides {
    .title {
      text-align: right;
      flex-grow: 1;
    }
    .img-team-logo-container img {
      max-width: remy(84);
      max-height: remy(48);
    }
  }
  &.layout-2-sides {
    .title {
      flex-grow: 1;
      text-align: center;
    }
    .img-team-logo-container {
      padding: remy(7);
      img {
        max-width: remy(48);
        max-height: 100%;
      }
    }
  }
}
