.related-programs {
  .program-item {
    padding: 0 remy(4);
    text-decoration: none;
    &:hover .program-title {
      color: $logoSecondColor;
    }
  }
  .program-image {
    height: remy(95);
    background: no-repeat center;
    background-size: contain;
  }
  .program-title {
    font-size: $fsize-12;
    line-height: 1.5;
    color: $grey-6;
    margin-top: remy(12);
    transition: color 150ms ease;
  }
}
