.share-links {
  flex-direction: column;
  margin-top: remy(24);
  .action {
    border-radius: 50px;
    padding: remy(7);
    background-color: $grey-5;
    color: $gray-12;
    display: block;
    transition: background-color 150ms ease;
    width: remy(44);
    height: remy(44);
    margin: auto;
    &:hover {
      background-color: lighten($grey-5, 10%);
      cursor: pointer;
    }
  }
  svg {
    display: block;
  }
}
.share-links-dropdown {
  .btn-link {
    color: $gray-12;
    padding: 0;
    &:hover {
      color: darken($gray-12, 10%);
      cursor: pointer;
    }
  }
  .dropdown-item {
    text-align: right;
    padding: remy(4) remy(8) remy(4) 0;
    color: $grey-5;
    font-size: $fsize-14;
  }
  span {
    margin-right: remy(8);
  }
  svg {
    vertical-align: middle;
  }
}