
.page-sidebar--toggle-btn {
  background: none;
  border: 0;
  color: $grey-6;
}


.page-sidebar--overlay {
  display: block;
  position: fixed;
  top: 3em;
  right: 0;
  bottom: 0;
  width: 100%;
  background: $mirrorLightDark;
  height: 100%;
  z-index: 999;
}

.page-sidebar {
  position: fixed;
  top: 0 !important;
  border-left: 1px solid $black-0;
  right: 0%;
  bottom: 0;
  width: 70%;
  max-width: 280px;
  transform: scale(1) !important;
  background: $black-3;
  z-index: 1002;
  background-color: $gray-2;
  overflow: auto;
  overflow-x: hidden;
  padding: 0;
  zoom: 1;
  * {
    zoom: 1;
    font-size: 1em;
    font-weight: normal;
  }
}


.top-app-bar-visible {
  .page-sidebar{
    top: 3.8em !important;
  }
}

.sidebar-component--content {
  direction: rtl;
  text-align: right;
  color: $white;
  user-select: none;
  .router-link-exact-active + .timeline-badge.warning {
    background: $primaryColor !important;
    border-color: $logoThirdColor !important;
  }

  .nav-item:hover {
    cursor: pointer;
    .timeline-badge {
      background: $primaryColor !important;
      border-color: $logoThirdColor !important;
      transition: $globalAnimationDuration all;
    }
  }
  .btn-login {
    svg {
      vertical-align: middle;
      width: remy(24);
      height: remy(24);
    }
  }

  .img-logo {
    margin-top: 2em;
    margin-bottom: 1em;
  }

  .page-profile--avatar-area {
    display: block;
    width: remy(100);
    height: remy(100);
    margin: 0 auto;
    background-color: $white;
    border: remy(2) solid $white;
    border-radius: 100%;
    overflow: hidden;
    a {
      color: $gray-1__2;
      background-color: $gray-15;
      display: block;
      width: remy(96);
      height: remy(96);
    }

    .profile-img {
      height: remy(96);
    }

    .contain {
      width: 100%;
      object-fit: cover;
    }
  }
  .sidebar-profile--title {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  .nav-link {
    color: $white;
    margin-right: .5em;
  }

  .timeline {
    list-style: none;
    padding: 0px 0 20px;
    position: relative;
    right: 1em;

    .router-link-active {
      color: $primaryColor !important;
      &.only-exact-active {
        color: $white !important;
        &.router-link-exact-active{
          color: $primaryColor !important;
        }
      }
    }

    .timeline-badge.warning {
      background-color: $gray-2;
      border: 1px $grey solid;
      &:hover {
        background-color: $primaryColor;
        border-color: $primaryColor;
      }
      &:active {
        background-color: $primaryColor;
        border-color: $primaryColor;
      }
    }

    &:before {
      top: 8%;
      bottom: 14%;
      position: absolute;
      content: ' ';
      width: .05em;
      background-color: $grey;
      left: 0%;
      margin-left: -1.5px;
    }
    &.is-login::before {
      bottom: 25%;
      top: 10%;
    }
    & > li {
      padding: 0 1em;
      position: relative;
    }
  }

  ul.timeline:before {
    right: .7em;
  }
  ul.timeline > li > .timeline-badge {
    width: .5em;
    height: .5em;
    font-size: 1.4em;
    position: absolute;
    background-color: $black;
    border-radius: 50%;
    right: 6px;
    top: .6em;

    &:hover {
      background-color: $primaryColor;
    }
  }
}
