.splash-screen {
  display: none;
  position: fixed;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100000;
  background: radial-gradient(ellipse at center, $black-3 0%, $black-0 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

  .splash-logo {
    display: block;
    position: fixed;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-image: url('/static/img/main/anten-logo-new.svg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 200px;
  }
}
