.fade-enter-active,
.fade-leave-active {
  transition: opacity 500ms;
}
.fade-enter,
.fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}

.sidebar-enter-active,
.sidebar-leave-active {
  transition: right $globalAnimationDuration;
}

.sidebar-enter,
.sidebar-leave-to /* .fade-leave-active below version 2.1.8 */ {
  right: -100%;
}
