// TODO: please lint me
/* stylelint-disable */
.component-live-tv-conductor {
  .card-channel {
    position: relative;
    width: 100%;
    height: 5.5em;
    border-radius: 5px;
    background-color: $grey-5;
    background-repeat: no-repeat;
    background-position: 98%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
    &.selected-channel {
      background-color: rgba(240, 40, 103, .1)!important;
    }
    .indicator-current {
      position: absolute;
      right: remy(-3);
      top: 50%;
      margin-top: remy(-9);
      z-index: 1;
    }
    .channel-thumbnail {
      position: absolute;
      top: 0;
      right: 0;
      width: 10em;
      height: 100%;
      border-radius: 0 5% 5% 0;
      opacity: 0.5;
      background-repeat: no-repeat;
      background-position: top right;
      background-size: contain;
      filter: grayscale(100%);
    }
    .channel-details {
      width: 56%;
      height: 6em;
      padding: 0.8em 0;
      @media (max-width: 320px) {
        width: 46%;
        .programs-list-link {
          width: 60%!important;
        }
        .channel-name {
          font-size: $fsize-10!important;
        }
      }
      .channel-logo {
        width: 2em;
        height: 2em;
        vertical-align: middle;
        background-repeat: no-repeat;
        background-position: top center;
        background-size: contain;
        filter: grayscale(100%);
      }
      .channel-name {
        color: $gray-18;
        font-size: $fsize-14;
        font-weight: bold;
      }
      .programs-list-link {
        color: $pure-white;
        font-size: $fsize-10;
        width: 48%;
        cursor: pointer;
        line-height: 3;
        .left-arrow {
          width: 0.8em;
          //vertical-align: middle;
        }
      }
    }
    .channel-item {
      width: 100%;
    }
  }


  padding-bottom: 5em;

  .nav-tabs {
    .nav-item a {
      color: $white;
      background: none;
      border: 0;
      &.active {
        color: $primaryColor;
      }
    }
  }

  .conductor-area {
    display: block;
    width: 100%;
    .card {
      height: 3em;
      background: none;
      cursor: pointer;
      span {
        height: 3em;
        line-height: 3em;
        width: 100%;
        font-size: .9em;
        white-space: nowrap;
        direction: rtl;
        text-overflow: ellipsis;
        overflow: hidden;
      }
    }

    .current-program {
      cursor: pointer;
      position: relative;
      &::before {
        display: block;
        content: ' ';
        border-radius: 100%;
        width: .8em;
        height: .8em;
        left: 1.2em;
        top: 1.2em;
        position: absolute;

        background: $primaryColor;
      }
    }

    .selected-episod {
      background: $primaryColor;
    }

    .no-archive-episod {
      cursor: default;
      background: $grey-5;
    }
  }

  .channel-category-header {
    img {
      max-width: 2.5rem;
      max-height: 2.5rem;
      margin-left: .5rem;
      position: relative;
      top: .3rem;
    }
  }

  .channel-item-header {
    display: block;
    width: 100%;
    float: right;
    padding: 0em;
	  padding-top: 88%;
    position: relative;
    border-radius: 5px;
    text-decoration: none;
    background-color: #262626;
    cursor: pointer;

	.channel-item-header-content {
		position: absolute;
		width: 100%;
		top: 0;
		right: 0;
		bottom: 0;
		& > span {
			display: block;
			color: $white;
			position: absolute;
			top: 77%;
			right: 4em;
			left: 0em;
			text-align: right;
			margin-left: .8em;
			font-size: .8em;
			float: right;
			overflow: hidden;
			text-oberflow: ellipsis;
			white-space: nowrap;
		}
	}

    &::before {
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      z-index: auto;
      border: 2px solid $primaryColor !important;
      background: $mirrorBlack;
    }


    &.router-link-exact-active {
      padding: 1em;
	    padding-top: 90%;
      top: -.3em;
      border-radius: 5px !important;
      background-color: #262626;
      box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.32), 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      .channel-thumbnail{
        display: none;
      }
	  .channel-logo{
		  width: 40%;
		  height: 3em;
		  margin: 0 auto;
		  position: static;
		  float: none;
		  margin-top: 30%;
	  }

	  span {
		  margin-top: .5em;
		  position: static;
		  width: 100%;
		  text-align: center;
	  }
    }

	.channel-thumbnail {
		background-repeat: no-repeat;
		background-position: top center;
		background-size: contain;
		width: 100%;
		padding-top: 56.25%;
		top: 0;
		right: 0;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		filter: grayscale(100%);
	}

    .channel-logo {
      background-repeat: no-repeat;
      background-position: center center;
      background-size: contain;
      display: block;
      margin: .5em;
      position: absolute;
	  top: 66%;
	  width: 2em;
	  right: .2em;
	  left: auto;
      bottom: 0;
	  float: right;
    }
  }

  .days-carousel {
    padding-right: 0 !important;

    .nav-link{
		padding-right: .3em;
		padding-left: .3em;
	}

    .owl-dots {
      display: none !important;
    }

    .owl-next,
    .owl-prev {
      color: $white !important;
    }

    .owl-next,
    .owl-prev {
      top: 0em;
      float: left;
      position: absolute;
      display: block;
      width: 2em;
      height: 2em;
      font-weight: bold;
      border-radius: 5px;
      background-color: #262626;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.32), 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      &::before {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2em;
        height: 2em;
        background-repeat: no-repeat;
        background-position: center center;
      }
      &:focus,
      &:active {
        border-radius: 5px !important;
        background-color: #262626 !important;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.32), 0 1px 3px 0 rgba(0, 0, 0, 0.5) !important;
      }
    }
    .owl-next {
      left: auto;
      right: -2.5em;
      &::before {
        content: ' ' !important;
        background-image: url('/static/img/main/right-arrow.svg');
      }
    }
    .owl-prev {
      right: auto;
      left: -2.5em;
      &::before {
        content: ' ' !important;
        background-image: url('/static/img/main/left-arrow.svg');

      }
    }
  }

  .tv-carousel.owl-carousel {
    position: relative;

    .owl-stage-outer {
      padding-top: 1em;
    }

    .card {
      background-color: transparent !important;
    }

    .owl-nav {
      width: 100%;
      top: 0;
      right: 0;
      left: 0;
      position: absolute !important;
    }

    .owl-next,
    .owl-prev {
      top: 1em;
      float: left;
      position: absolute;
      display: block;
      width: 2em;
      height: 7em;
      font-weight: bold;
      border-radius: 5px;
      background-color: #262626;
      box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.32), 0 1px 3px 0 rgba(0, 0, 0, 0.5);
      &::before {
        content: ' ';
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 2em;
        height: 2em;
        background-repeat: no-repeat;
        background-position: center center;
      }

      &:focus,
      &:active {
        border-radius: 5px !important;
        background-color: #262626 !important;
        box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.32), 0 1px 3px 0 rgba(0, 0, 0, 0.5) !important;
      }
    }

    .owl-next {
      right: auto;
      left: -2.5em;
      &::before {
        background-image: url('/static/img/main/left-arrow.svg');
      }
    }

    .owl-prev {
      left: auto;
      right: -2.5em;
      &::before {
        background-image: url('/static/img/main/right-arrow.svg');
      }
    }
  }


  //@media screen and (max-width: 767px) {
  //  overflow-x: hidden;
  //
  //  .channel-item-header {
  //    padding-top: 90%;
	//  .channel-item-header-content {
	//	  & > span {
	//		  top: 76%;
	//	  }
	//  }
	//  &.router-link-exact-active {
	//	  padding: 1em;
  //      height: 7em;
  //    }
	//  &.router-link-exact-active {
	//	  .channel-logo{
	//		  margin-top: 20%;
	//	  }
  //
	//	  span {
	//		  margin-top: .5em;
	//		  position: static;
	//		  width: 100%;
	//	  }
	//  }
  //  }
  //
  //  .days-carousel.owl-carousel{
  //    width: 80%;
  //    margin: 0 auto;
  //  }
  //  .tv-carousel.owl-carousel {
  //    width: 80%;
  //    margin: 0 auto;
  //    .owl-next,
  //    .owl-prev {
  //      height: 6.5em;
  //    }
  //  }
  //}
  //
  //@media screen and (max-width:600px) {
	//  .channel-item-header {
	//	  padding-top: 110%;
	//	  &.router-link-exact-active {
	//		  padding-top: 110%;
	//		  .channel-item-header-content {
	//			  & > span {
	//				  margin: .5em 10%;
	//				  width: 80%;
	//				  position: static;
	//				  text-align: center;
	//				  font-size: .6em;
	//			  }
	//		  }
	//		  .channel-logo {
	//			margin-top: 35%;
	//		  }
	//	  }
	//	  .channel-item-header-content {
	//		  & > span {
	//			  margin: .2em 10% 0 10%;
	//			  width: 80%;
	//			  position: static;
	//			  text-align: center;
	//			  font-size: .6em;
	//		  }
	//	  }
	//	  .channel-logo {
	//		  float: none;
	//		  position: static;
	//		  margin: .4em auto;
	//		  width: 50%;
	//		  height: 1.6em;
	//	  }
	//  }
  //}
  //
  //@media screen and (max-width:400px) {
	//  .channel-item-header {
	//	  padding-top: 110%;
	//	  &.router-link-exact-active {
	//		  padding-top: 110%;
	//	  }
	//  }
  //}

}

/* stylelint-enable */
