// Colors
/* stylelint-disable */
$primaryColor: #eb3a64;
$logoSecondColor: #f02867;
$logoThirdColor: #A3244C;
$ovalColor : #1e1c1c;
$darkGrayColor: #2d2d2d;
$lightGrayColor: #575757;
$lightBlackColor: #0d0c0c;
$white: #f0f0f0;
$blue: #33aade;
$pure-white: #fff;
$black: #0d0c0c;
$grey: #a9a9a9;
$braightGrey: #aaaaaa;
$green: #00a238;
$red: #f93707;
$darkgray: #a9a9a9;
$lightGold: #f8bb86;
$rightelColor: #9c2776;
$mirrorPink: rgba(235, 58, 100, 0.9);
$mirrorDarkPink: rgba(235, 58, 100, 0.7);
$mirrorBlack: rgba(0, 0, 0, 0.5);
$mirrorLightBlack: rgba(0, 0, 0, 0.4);
$mirrorLight: rgba(0, 0, 0, 0.3);
$mirrorDark: rgba(0, 0, 0, 0.9);
$mirrorLightDark: rgba(0, 0, 0, 0.6);
$mirrorGray: rgba(255, 255, 255, 0.6);
$mirrorLightWhite: rgba(255, 255, 255, 0.2);
// Animations
$globalAnimationDuration: 200ms;

// loading-spinner-colors
$logo-pink-1: #f02867;
$logo-pink-2: #c92658;
$logo-pink-3: #a3254c;

$gray-1: #454545;
$gray-1__2: #494949;
$gray-2: #2d2d2d;
$gray-3: #0d0c0c;
$grey-4: #1c1c1c;
$grey-5: #262626;
$grey-6: #a4a4a4;
$gray-9: #999999;
$gray-10: #d2d2d2;
$gray-11: #1c1c1c; // NOTE: duplicate of grey-4
$gray-12: #777777;
$gray-13: #494949;
$gray-14: #101010;
$gray-15: #373737;
$gray-16: #9e9e9e;
$gray-17: #646464;
$gray-18: #7c7c7c;
$gray-19: #585858;
$gray-20: #202020;

$black-0: #000000;
$black-1: #101010;
$black-2: #222222;
$black-3: #333333;

// font size
$fsize-8: remy(8);
$fsize-9: remy(9);
$fsize-10: remy(10);
$fsize-12: remy(12);
$fsize-14: remy(14);
$fzise-15: remy(15); // NOTE: maybe better to use 16 instead.
$fsize-16: remy(16);
$fsize-20: remy(20);
$fsize-30: remy(30);

// TODO: merge this color with other
$modalFormControl: #ced4da;
$navBarTogglebarAfter: #303030;
/* stylelint-enable */
