// -----------------------------------------------------------------------------------
@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

/*
  ----------------------------
  EXAMPLE USAGE
  ----------------------------
input,
textarea {
    @include input-placeholder {
        color: $grey;
    }
}
*/
// -----------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  border-radius: $radius;
  background-clip: padding-box; /* stops bg color from leaking outside the border: */
}

/*
  ----------------------------
  EXAMPLE USAGE
  ----------------------------
.button {
  @include border-radius(5px);
}
*/
// -----------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------
@mixin transition($transition...) {
  -moz-transition: $transition;
  -o-transition: $transition;
  -webkit-transition: $transition;
  transition: $transition;
}

/*
  ----------------------------
  EXAMPLE USAGE
  ----------------------------
.button {
  @include transition(background-color 1s .5s, color 2s);
}
*/
// -----------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------
@mixin opacity($opacity) {
  opacity: $opacity;
  $opacity-ie: $opacity * 100;
  filter: alpha(opacity=$opacity-ie); //IE8
}

/*
  ----------------------------
  EXAMPLE USAGE
  ----------------------------
.faded-text {
  @include opacity(0.8);
}
*/
// -----------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------
@mixin transform($transforms) {
  -moz-transform: $transforms;
  -o-transform: $transforms;
  -ms-transform: $transforms;
  -webkit-transform: $transforms;
  transform: $transforms;
}

// rotate
@mixin rotate($deg) {
  @include transform(rotate(#{$deg}deg));
}

// scale
@mixin scale($scale) {
  @include transform(scale($scale));
}

// translate
@mixin translate($x, $y) {
  @include transform(translate($x, $y));
}

// skew
@mixin skew($x, $y) {
  @include transform(skew(#{$x}deg, #{$y}deg));
}

//transform origin
@mixin transform-origin($origin) {
  -o-transform-origin: $origin;
  -ms-transform-origin: $origin;
  -webkit-transform-origin: $origin;
  transform-origin: $origin;
}

/*
  ----------------------------
  EXAMPLE USAGE
  ----------------------------
.test {
  @include skew(25,10);
  @include transform-origin(top left);
  position: absolute;
  top: 25%;
  bottom: 25%;
  left: 25%;
  right: 25%;
  background-color: rgba(20,20,20,.5);
}
*/
// -----------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------
@mixin box-shadow($top, $left, $blur, $color, $inset: false) {
  @if $inset {
    -webkit-box-shadow: inset $top $left $blur $color;
    -moz-box-shadow: inset $top $left $blur $color;
    box-shadow: inset $top $left $blur $color;
  } @else {
    -webkit-box-shadow: $top $left $blur $color;
    -moz-box-shadow: $top $left $blur $color;
    box-shadow: $top $left $blur $color;
  }
}

/*
  ----------------------------
  EXAMPLE USAGE
  ----------------------------
.test {
  @include box-shadow(0, 0, 8px, red)
}
*/
// -----------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------
@mixin css-triangle($direction: 'down', $size: 20px, $color: #000) {
  width: 0;
  height: 0;
  border-left: $size solid #{setTriangleColor($direction, 'left', $color)};
  border-right: $size solid #{setTriangleColor($direction, 'right', $color)};
  border-bottom: $size solid #{setTriangleColor($direction, 'bottom', $color)};
  border-top: $size solid #{setTriangleColor($direction, 'top', $color)};
}

//Utility function to return the relevant colour depending on what type of arrow it is
@function setTriangleColor($direction, $side, $color) {
  @if $direction == 'left' and $side == 'right'
    or  $direction == 'right' and $side == 'left'
    or $direction == 'down' and $side == 'top'
    or $direction == 'up' and $side == 'bottom' {
    @return $color
  }
  @else {
    @return 'transparent';
  }
}

/*
  ----------------------------
  EXAMPLE USAGE
  ----------------------------
.test:before {
  @include css-triangle ("up", 10px, #fff);
}
*/
// -----------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------
$breakpoints: (
  'small' : (max-width: 560),
  'medium' : (max-width: 720),
  'large' : (max-width: 990)
);

@mixin respond-to($name) {
  // If the key exists in the map
  @if map-has-key($breakpoints, $name) {
    // Prints a media query based on the value
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  }

  // If the key doesn't exist in the map
  @else {
    @warn 'Unfortunately, no value could be retrieved from `#{$breakpoint}`. '
      + 'Please make sure it is defined in `$breakpoints` map.';
  }
}

// -----------------------------------------------------------------------------------

// -----------------------------------------------------------------------------------
@mixin centerer {
  position: absolute;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
  -o-transform: translate(-50%, -50%) !important;
  -ms-transform: translate(-50%, -50%) !important;
  -webkit-transform: translate(-50%, -50%) !important;
}

/*
  ----------------------------
  EXAMPLE USAGE
  ----------------------------
.parent {
  position: relative;
}
.childe {
  @include centerer;
}
*/
// -----------------------------------------------------------------------------------


@function remy($pxsize) {
  @return ($pxsize/16)+rem;
}

@mixin contentPageSpacings {
  padding-top: 2rem;
  margin-bottom: $pagesBottomMargin;
  @if $navbarMobileOnBottom == true {
    @media (max-width: 768px) {
      margin-bottom: $pagesBottomMargin + $headerHeightMobile;
    }
  }
}

@mixin player-top-distance() {
  @if $navbarMobileOnBottom == true {
    top: 3rem;
  } @else {
    top: 3rem + $headerHeightMobile;
    .top-app-bar-visible & {
      top: 3rem + $headerHeightMobile + $appBarHeight;
    }
  }
}