<template>
  <div class="video-js-box vjs-player vjs-player-wrapper">
    <div
      v-if="preLoadsOn"
      class="preloads-box">
      <img
        :src="preLoadsImage"
        alt="">
      <div class="preloads-box--countdown">
        {{ preLoadsCountdown }}
      </div>
    </div>
    <template v-if="isMp4">
      <video
        v-if="playbackUrl"
        :data-source="playbackUrl"
        data-tech="MP4"
        crossorigin="anonymous"
        preload="auto"
        controls
        playsinline
        muted
        autoplay
        style="opacity:0">
        <!-- eslint-disable vue/html-self-closing -->
        <source
          :src="playbackUrl"
          type="video/mp4" />
          <!-- eslint-enable vue/html-self-closing -->
      </video>
    </template>
    <template v-else>
      <template v-if="isIOS ">
        <video
          v-if="playbackUrl"
          :data-stream-start="startStream"
          :data-tech="computedTech"
          :data-source="playbackUrl"
          :src="playbackUrl"
          crossorigin="anonymous"
          preload="auto"
          controls
          playsinline
          muted
          autoplay
          style="opacity:0"
          data-type="application/x-mpegURL"
          type="application/x-mpegURL"/>
      </template>
      <template v-else>
        <template v-if="isMobile">
          <video
            v-if="playbackUrl"
            :poster="program.cover"
            :data-stream-start="streamStart"
            :data-tech="computedTech"
            :data-source="playbackUrl"
            playsinline
            preload="true"
            controls
            autoplay
            muted
            style="opacity:0"
            data-type="application/x-mpegURL"/>
        </template>
        <template v-else>
          <video
            v-if="playbackUrl"
            :poster="program.cover"
            :data-stream-start="streamStart"
            :data-tech="computedTech"
            :data-source="playbackUrl"
            playsinline
            autoplay
            controls
            style="opacity:0"
            data-type="application/x-mpegURL"/>
        </template>
      </template>
    </template>
    <transition name="fade">
      <img
        v-if="!playbackUrl"
        v-show="noVideoCoverVisibility"
        :src="program.cover"
        class="no-video-cover"
        @load="visibleAfterLoad">
    </transition>
  </div>
</template>
<script>
import Client from '@/helpers/client'
import AdsTracker from '@/helpers/ads-tracker.js'
import entitiesMixin from '@/mixins/entities'

export default {
  name: 'PlayerWeb',
  mixins: [entitiesMixin],
  props: {
    program: {
      type: Object,
      default: null
    },
    tech: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      killList: [],
      noVideoCoverVisibility: false,
      playerInstance: null,
      playerInitDelayTimer: null,
      preLoadsImage: null,
      preLoadsOn: false,
      preLoadDuration: 0,
      preLoadsCountdown: 0,
      preLoadsCountdownTime: null,
      preLoadsDurationTime: null,
      isIOS: Client.isIOS,
      vastIsEnabled: false
    }
  },
  computed: {
    computedTech () {
      let that = this
      let out
      if (this.tech === 'HLS') {
        that.vastIsEnabled = false
        out = 'HLS'
      } else if (this.mediaPlayerIsDVR) {
        that.vastIsEnabled = false
        out = 'HLS_DVR'
      } else {
        that.vastIsEnabled = true
        out = 'HLS_LIVE'
      }
      return out
    },
    killedByOtherSession () {
      return this.programCurrentProgramOtherSession
    },
    isMp4 () {
      return this.mediaPlayerIsMp4
    },
    playbackUrl () {
      return this.mediaPlayerPlaybackUrl
    },
    streamStart () {
      return new Date(this.program.streamStartAt).valueOf()
    },
    preLoads () {
      return this.mediaPlayerPreLoads
    },
    vastEnabled () {
      return this.serverConfig.vast.enabled
    },
    vastUrls () {
      return this.serverConfig.vast.urls
    }
  },
  watch: {
    killedByOtherSession () {
      if (this.killedByOtherSession && $('.video-js video').length > 0) {
        document.webkitCancelFullScreen()
      }
    },
    playbackUrl () {
      this.afterPlayBackChange()
    }
  },
  mounted () {
    this.afterPlayBackChange()
  },
  beforeDestroy () {
    if (this.playerInstance) {
      this.killList.push(this.playerInstance)
      this.killPlayers()
    }
    this.clearTimers()
  },
  methods: {
    afterPlayBackChange () {
      this.clearTimers()
      if (this.preLoads && this.preLoads.length > 0) {
        this.preLoadsOn = true
        this.preLoadsImage = this.preLoads[0].url
        this.preLoadDuration = this.preLoads[0].duration * 1000
        this.preLoadsCountdown = this.preLoads[0].duration
        this.preLoadsCountdownTime = setInterval(() => {
          this.preLoadsCountdown = this.preLoadsCountdown - 1
        }, 1000)
        setTimeout(() => {
          this.preLoadsOn = false
          this.clearTimers()
          this.initPlayer()
        }, this.preLoadDuration)
      } else {
        this.initPlayer()
      }
    },
    visibleAfterLoad () {
      this.noVideoCoverVisibility = true
    },
    killPlayers () {
      this.killList.forEach((item) => {
        if (item) {
          item.pause()
        }
        if (item && item.hls && item.hls.stopLoad && item.hls.destroy) {
          item.hls.stopLoad()
          item.hls.destroy()
        }
      })
      if (this.killList.length > 30) {
        this.killList.shift()
      }
    },
    initPlayer () {
      const adsTracker = new AdsTracker()
      const vastUrl = this.vastUrls[Math.floor(Math.random() * this.vastUrls.length)]
      const that = this
      const videoId = this.program.id
      this.noVideoCoverVisibility = false

      if (this.playbackUrl) {
        // Delay for make sure video player element is visible
        if (this.playerInitDelayTimer) {
          clearTimeout(this.playerInitDelayTimer)
        }
        this.playerInitDelayTimer = setTimeout(() => {
          $('.vjs-player').vjsPlayer({
            autoplay: true,
            videojs: {
              autoplay: true,
              playbackRates: false
            },
            hlsjsConfig: {
              autoStartLoad: true
            },
            vast: {
              enabled: that.vastIsEnabled && that.vastEnabled,
              forceSkipTimeout: 5000,
              verbosity: 0,
              adTagUrl: vastUrl,
              playAdAlways: false,
              adCancelTimeout: 3000,
              adsEnabled: true
            },
            oneAdError: function (player) {
              var adsUrl = ''
              try {
                adsUrl = player.vast.adUnit._src.src
              } catch (e) {
                adsUrl = ''
              }
              adsTracker.timeout({
                adsUrl: adsUrl,
                videoId: videoId
              })
            },
            oneSkipAds: function (player) {
              var adsUrl = ''
              try {
                adsUrl = player.vast.adUnit._src.src
              } catch (e) {
                adsUrl = ''
              }
              adsTracker.skipped({
                adsUrl: adsUrl,
                videoId: videoId
              })
            },
            oneAdsStart: function (player) {
              var adsUrl = ''
              try {
                adsUrl = player.vast.adUnit._src.src
              } catch (e) {
                adsUrl = ''
              }
              adsTracker.start({
                adsUrl: adsUrl,
                videoId: videoId
              })
            },
            oneAdsEnd: function (player) {
              var adsUrl = ''
              try {
                adsUrl = player.vast.adUnit._src.src
              } catch (e) {
                adsUrl = ''
              }
              adsTracker.finished({
                adsUrl: adsUrl,
                videoId: videoId
              })
            }
          })
          $('.video-js-box').show()
          $('video').css('opacity', 1)
          $('.video-js').css('opacity', 1)
          $('.video-js').css('visibility', 'visible')
          setTimeout(() => {
            this.playerInstance = $('.vjs-player').data('player')
            this.mediaPlayerSetInstance(this.playerInstance)
          }, 100)
          this.mediaPlayerSetInstance(this.playerInstance)
        }, 150)
      } else {
        if (this.playerInstance) {
          this.playerInstance.pause()
          if (this.playerInstance.hls) {
            this.playerInstance.hls.stopLoad()
          }
        }
      }
    },
    clearTimers () {
      clearTimeout(this.preLoadsCountdownTime)
      clearInterval(this.preLoadsDurationTime)
    }
  }
}
</script>
<style scoped>
  .preloads-box {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .preloads-box img {
    max-width: 100%;
    height: 100%;
  }

  .preloads-box .preloads-box--countdown {
    display: block;
    position: absolute;
    bottom: 2em;
    right: 0;
    width: 4em;
    height: 2.5em;
    line-height: 2.5em;
    background: rgba(0, 0, 0, .5);
    text-align: center;
  }

  .player {
    display: block;
    float: right;
    overflow: hidden;
  }

  .video-js-box {
    display: block;
    width: 100%;
    position: relative;
    float: left;
  }

  .no-video-cover {
    max-width: 100%;
    max-height: 100%;
  }
</style>
