<template>
  <div class="player-overlay">
    <transition name="fade">
      <div
        v-if="type === 'need-package'"
        class="media-player--locked">
        <div class="player-overlay--artworked-content">
          <img
            class="player-overlay--artwork d-block mx-auto"
            src="/static/img/main/artwork-shop.svg"
            alt="">
          <h5 class="text-rtl text-center player-overlay--title">{{ $t("header.buyPackage") }}</h5>
          <p class="text-rtl text-center player-overlay--message">
            {{ message || $t('player.needPackage') }}
          </p>
          <button
            class="btn btn-md btn-primary btn-extend player-overlay--cta mx-auto d-table"
            @click="showOTPModal">
            {{ $t("button.buyPackage") }}
          </button>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div
        v-if="type === 'is-locked'"
        class="media-player--locked">
        <div class="player-overlay--artworked-content">
          <img
            class="player-overlay--artwork d-block mx-auto"
            src="/static/img/main/artwork-lock.svg"
            alt="">
          <h5 class="text-rtl text-center player-overlay--title">{{ $t("header.videoLocked") }}</h5>
          <p class="text-rtl text-center player-overlay--message">
            {{ message || $t('player.availableProblem') }}
          </p>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div
        v-if="type === 'is-finished'"
        class="media-player--locked">
        <div class="player-overlay--artworked-content">
          <img
            class="player-overlay--artwork d-block mx-auto"
            src="/static/img/main/artwork-end-program.svg"
            alt="">
          <h5 class="text-rtl text-center player-overlay--title">{{ $t("header.programFinished") }}</h5>
          <p class="text-rtl text-center player-overlay--message">
            {{ message || $t('message.programFinished') }}
          </p>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div
        v-if="type === 'countdown'"
        class="media-player--countdown">
        <div
          e2e-countdown
          class="media-player--countdown-content">
          <div class="media-player--countdown-content-timer-area">
            <countdown :data="remainingTime" />
          </div>
          <span class="media-player--countdown-message text-rtl">{{ $t("player.timeLeft") }}</span>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div
        v-if="type === 'kill-other-sessions'"
        class="kill-session-form">
        <div class="player-overlay--artworked-content">
          <img
            class="player-overlay--artwork d-block mx-auto"
            src="/static/img/main/artwork-simultaneous.svg"
            alt="">
          <h5 class="text-rtl text-center player-overlay--title">{{ $t("header.simultaneousPlaying") }}</h5>
          <p class="text-rtl text-center player-overlay--message">
            {{ message || $t('message.simultaneousPlaying') }}
          </p>
          <button
            e2e-killOtherSessions
            class="btn btn-md btn-primary btn-extend player-overlay--cta mx-auto d-table"
            @click="killOtherSessions">
            {{ $t("button.simultaneousPlaying") }}
          </button>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div
        v-if="type === 'is-missing'"
        class="missing-program">
        <div class="player-overlay--artworked-content">
          <img
            class="player-overlay--artwork d-block mx-auto"
            src="/static/img/main/artwork-no-video.svg"
            alt="">
          <h5 class="text-rtl text-center player-overlay--title">{{ $t("header.noVideo") }}</h5>
          <p class="text-rtl text-center player-overlay--message">
            {{ message || $t('message.noVideo') }}
          </p>
          <a
            class="btn btn-md btn-primary btn-extend player-overlay--cta mx-auto d-table"
            href="/archive">
            {{ $t("button.archive") }}
          </a>
        </div>
      </div>
    </transition>
    <transition name="fade">
      <div
        v-if="type === 'is-missing-tv'"
        class="missing-program">
        <div class="player-overlay--artworked-content">
          <img
            class="player-overlay--artwork d-block mx-auto"
            src="/static/img/main/artwork-no-video.svg"
            alt="">
          <h5 class="text-rtl text-center player-overlay--title">{{ $t("header.noVideo") }}</h5>
          <p class="text-rtl text-center player-overlay--message">
            {{ message || $t('message.noVideo') }}
          </p>
        </div>
      </div>
    </transition>
    <div
      v-if="type === 'not-login'"
      class="media-player--need-login">
      <div class="player-overlay--artworked-content">
        <img
          class="player-overlay--artwork d-block mx-auto"
          src="/static/img/main/artwork-login.svg"
          alt="">
        <h5 class="text-rtl text-center player-overlay--title">{{ $t("header.loginToAccount") }}</h5>
        <p class="text-rtl text-center player-overlay--message">
          {{ message || $t('message.needLogin') }}
        </p>
        <button
          e2e-open-login-modal-button
          class="btn btn-md btn-primary btn-extend player-overlay--cta mx-auto d-table"
          @click="showLoginModal">
          {{ $t("button.loginOrSignup") }}
        </button>
      </div>
    </div>
    <!--TODO: need fix classes / what is this TODO? -->
    <div
      v-if="type === 'is-forbidden'"
      class="media-player--locked">
      <div class="player-overlay--artworked-content">
        <img
          class="player-overlay--artwork d-block mx-auto"
          src="/static/img/main/artwork-vpn.svg"
          alt="">
        <h5 class="text-rtl text-center player-overlay--title">{{ $t("header.onlyInIran") }}</h5>
        <p class="text-rtl text-center player-overlay--message">
          {{ message || $t('message.onlyInIran') }}
        </p>
      </div>
    </div>
  </div>
</template>
<script>
import Countdown from '@main/components/Countdown.vue'
import entitiesMixin from '@/mixins/entities'

export default {
  name: 'PlayerOverlay',
  components: {Countdown},
  mixins: [entitiesMixin],
  props: {
    message: {
      type: String,
      default: ''
    },
    remainingTime: {
      type: Object,
      default: () => {}
    },
    type: {
      type: String,
      default: ''
    }
  },
  methods: {
    showOTPModal () {
      this.layoutShowOTPModalAction()
    },
    showLoginModal () {
      this.$emit('showLoginModal')
    },
    killOtherSessions () {
      this.$emit('killOtherSessions')
    }
  }
}
</script>
