<template>
  <svg
    :width="width"
    :height="height"
    :viewBox="viewBox"
    xmlns="http://www.w3.org/2000/svg"
    xmlns:xlink="http://www.w3.org/1999/xlink">
    <slot />
  </svg>
</template>

<script>
export default {
  name: 'SvgBase',
  props: {
    width: {
      type: String,
      default: '32'
    },
    height: {
      type: String,
      default: '32'
    },
    viewBox: {
      type: String,
      default: '0 0 32 32'
    }
  }
}
</script>
