<template>
  <div
    v-show="showVideo"
    v-if="videoVisibility"
    class="video-js-box vjs-player vjs-player-wrapper">
    <template v-if="isIOS">

      <video
        :data-stream-start="startStream"
        :data-tech="tech"
        :data-source="playbackUrl"
        :src="playbackUrl"
        crossorigin="anonymous"
        controls
        preload="auto"
        muted
        autoplay
        style="opacity:0"
        data-type="application/x-mpegURL"
        type="application/x-mpegURL"/>
    </template>
    <template v-else>
      <template v-if="isMobile">
        <video
          :data-stream-start="startStream"
          :data-tech="tech"
          :data-source="playbackUrl"
          playsinline
          preload="true"
          autoplay
          controls
          muted
          style="opacity:0"
          data-type="application/x-mpegURL"/>
      </template>
      <template v-else>
        <video
          :data-stream-start="startStream"
          :data-tech="tech"
          :data-source="playbackUrl"
          playsinline
          preload="true"
          autoplay
          controls="false"
          style="opacity:0"
          data-type="application/x-mpegURL"/>
      </template>
    </template>
  </div>
</template>
<script>
import Client from '@/helpers/client'
import entitiesMixin from '@/mixins/entities'

export default {
  name: 'PlayerWeb',
  mixins: [entitiesMixin],
  props: {
    tech: {
      type: String,
      default: ''
    }
  },
  data () {
    return {
      killList: [],
      playerInstance: null,
      playerInitDelayTimer: null,
      playerInitDelayTimer2: null,
      videoVisibility: false,
      showVideo: true,
      isIOS: Client.isIOS
    }
  },
  computed: {
    playbackUrl () {
      return this.mediaPlayerPlaybackUrl
    },
    startStream () {
      let out
      if (this.tech === 'HLS_DVR') {
        out = new Date().valueOf() - (1000 * 120 * 60)
      } else {
        out = false
      }
      return out
    }
  },
  watch: {
    playbackUrl () {
      this.showVideo = false
      this.videoVisibility = false
      if (this.playerInitDelayTimer) {
        clearTimeout(this.playerInitDelayTimer)
        clearTimeout(this.playerInitDelayTimer2)
      }
      if (this.playbackUrl) {
        if (this.playerInstance && this.playerInstance.hls && this.playerInstance.hls.stopLoad && this.playerInstance.hls.destroy) {
          this.playerInstance.hls.stopLoad()
          this.playerInstance.hls.destroy()
        }
        this.videoVisibility = true
        // Delay for make sure video player element is visible
        this.playerInitDelayTimer = setTimeout(() => {
          $('video').css('visibility', 'visible')
          $('.vjs-player').vjsPlayer({
            'autoplay': true,
            'vast': {
              'enabled': false
            },
            'videojs': {
              'playbackRates': false
            },
            'hlsjsConfig': {
              'autoStartLoad': true
            }
          })
          this.playerInstance = $('.vjs-player').data('player')
          this.mediaPlayerSetInstance(this.playerInstance)
          this.playerInstance = $('.vjs-player').data('player')
          this.killList.push(this.playerInstance)
          this.playerInitDelayTimer2 = setTimeout(() => {
            $('.video-js-box').show()
            $('video').css('opacity', 1)
            $('video').show()
            $('.video-js').css('opacity', 1)
            this.showVideo = true
          }, 800)
        }, 50)
      } else {
        if (this.playerInstance) {
          this.killList.push(this.playerInstance)
        }
        this.killPlayers()
        this.videoVisibility = false
      }
    }
  },
  beforeDestroy () {
    if (this.playerInstance) {
      this.killList.push(this.playerInstance)
      this.killPlayers()
    }
  },
  methods: {
    killPlayers () {
      if ($('video')[0]) {
        $('video')[0].pause()
        $('video')[0].setAttribute('src', '')
        $('video')[0].src = ['']
      }
      this.killList.forEach((item) => {
        if (item) {
          item.pause()
        }
        if (item && item.hls && item.hls.stopLoad && item.hls.destroy) {
          item.hls.stopLoad()
          item.hls.destroy()
        }
      })
      if (this.killList.length > 30) {
        this.killList.shift()
      }
    }
  }
}
</script>
<style scoped>
  .video-js-box {
    display: block;
    width: 100%;
    position: relative;
    float: left;
  }
</style>
