html {
  height: 100%;
  box-sizing: border-box;
}
a[disabled]{
  cursor: default !important;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.line-height-fixture {
  line-height: 2em;
}
.rightel-announce-box {
  background-color: $rightelColor;
  color: $white;
  border-radius: 6px;
}

.nprogress-container {
  z-index: 1000000;
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  right: 0;
  left: 0;
  height: 3px;
  .bar {
    background: $primaryColor !important;
    height: 5px !important;
  }
  .peg {
    background: $primaryColor !important;
    box-shadow: none !important;
  }
}

body {
  width: 100%;
  padding-top: $headerHeightDesktop;
  padding-right: 0;
  padding-left: 0 !important;
  font-family: 'Iranyekan', 'IranyekanNumeral', 'Roboto', sans-serif;
  // TODO: move color to setting
  background-color: $grey-4;
  position: relative;
  margin: 0;
  padding-bottom: $footerHeightDesktop;
  min-height: 100% !important;
  min-width: 296px;
  overflow: auto;

  @media (max-width: 767px) {
    padding-top: 2 * $headerHeightMobile;
    @if $navbarMobileOnBottom == true {
      padding-top: $headerHeightMobile;
    }
    .no-padding-mobile {
      padding-left: 0px !important;
      padding-right: 0px !important;
    }
  }
  @media (max-width: 575px) {
    padding-bottom: $footerHeightMobile;
    @if $navbarMobileOnBottom == true {
      padding-bottom: $headerHeightMobile + $footerHeightMobile;
    }
  }

  *:focus {
    box-shadow: none !important;
    outline: 0 !important;
  }

  [focused],
  *.focused {
    outline: 6px dashed $mirrorDarkPink !important;
    border-radius: 5px !important;
  }

  &.top-app-bar-visible {
    margin-top: $appBarHeight;
    .fixed-top {
      top: $appBarHeight;
    }
  }
}

.language {
  margin-left: 10px;
}

.ltr {
  direction: ltr;
}

.rtl {
  direction: rtl;
}

.cursor-pointer {
  cursor: pointer;
}

.display-inline-block {
  display: inline-block;
}

.btn-circle {
  border-radius: 100%;
  width: 2.5rem;
  height: 2.5rem;
  padding: 0.25rem 0px;
  text-align: center;
  font-size: 1rem;
  line-height: 1.42857;
}

.section-title--mini {
  font-size: remy(14);
  font-weight: normal;
  color: $gray-12;
  @media (min-width: 768px) {
    font-size: remy(10);
    color: $pure-white;
  }
}

.list-bullet {
  // list-style: none;
  padding-right: remy(16);
  margin-right: remy(16);
  li {
    padding-right: remy(8);
    list-style-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSI4IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPiA8Zz4gIDxjaXJjbGUgZmlsbD0iIzc3Nzc3NyIgaWQ9InN2Z18xIiByPSI0IiBjeT0iNCIgY3g9IjQiLz4gPC9nPjwvc3ZnPg==);
  }
}

.page-title {
  color: $pure-white;
  font-size: $fsize-20;
  margin-bottom: remy(24);
}

.rc-anchor {
  font-family: 'Iranyekan', 'IranyekanNumeral', 'Roboto', sans-serif;
}

.btn.btn-submit {
  color: $pure-white;
  background-color: $logo-pink-1;
  border: 1px solid transparent;
  &:active,
  &:hover {
    border: 1px solid transparent;
    @media (max-width: 575px) {
      border-color: transparent !important;
    }
  }
  &:focus {
    border: 1px solid $pure-white !important;
    @media (max-width: 575px) {
      border-color: transparent !important;
    }
  }
}

.ps>.ps__scrollbar-y-rail>.ps__scrollbar-y {
  right: unset !important;
}

.ps:hover>.ps__scrollbar-y-rail:hover,
.ps>.ps__scrollbar-y-rail,
.ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail {
  background-color: $grey-4 !important;
}

.ps>.ps__scrollbar-y-rail {
  width: 8px !important;
}

.ps:hover.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y,
.ps>.ps__scrollbar-y-rail>.ps__scrollbar-y,
.ps.ps--in-scrolling.ps--y>.ps__scrollbar-y-rail>.ps__scrollbar-y {
  width: 8px !important;
  background-color: $gray-13 !important;
}

.no-text-decoration {
  text-decoration: none;
  &:hover {
    text-decoration: none;
  }
}

.button-unstyled {
  border: none;
  background: none;
  appearance: none;
}
.button-dark {
  background-color: $grey-5;
  color: $pure-white;
  &:hover,
  &:focus,
  &:active {
    background-color: $gray-13 !important;
  }
}
