@import 'helpers/mixin';
@import '../../../config/config';
// TODO: move to ui specific settings
@import 'settings';
@import 'components/overstrap';
@import './pages/login';
@import './pages/contact-us';
@import './pages/about-us';
@import './pages/profile';
@import './pages/program';
@import './pages/notification';
@import './pages/tv';
@import './pages/404';
@import './pages/archive';
@import '../../../../static/fonts/fonts';
@import 'components/notification';
@import 'components/navbar';
@import 'components/packages';
@import 'components/conductor';
@import 'components/footer';
@import 'components/modal-global';
@import 'components/modal';
@import 'components/sidebar';
@import 'components/transitions';
@import 'components/countdown';
@import 'components/player';
@import 'components/player-overlay';
@import 'components/tv';
@import 'components/splashcreen';
@import 'components/appbar';
@import 'components/program-card';
@import 'components/archive';
@import 'components/programs-list';
@import 'components/datepicker';
@import 'components/info-details-toggle';
@import 'components/program-details';
@import 'components/program-reports';
@import 'components/related-programs';
@import 'components/share-links';
@import 'components/player-actions';
@import 'global';
@import 'temporary';

// HOTFIX IOS CONTROL BAR ISSUE
.fkplayer-ios-mode{
  .vjs-control-bar{
    opacity: 1 !important;
  }
  .vjs-has-started.vjs-user-inactive.vjs-playing .vjs-control-bar{
    opacity: 1 !important;
  }
}
.fkplayer .video-js.vjs-paused.vjs-has-started .vjs-control-bar,
.fkplayer .video-js.vjs-scrubbing .vjs-control-bar,
.fkplayer .video-js.vjs-user-active.vjs-playing .vjs-control-bar{
  opacity: .9 !important;
}
