$appBarHeight : 3.75rem;  // 60
$headerHeightDesktop: 4.375rem; // 70
$headerHeightMobile: 3.125rem; // 50
$navbarMobileOnBottom: false;
$footerHeightDesktop: 14.75rem;  // 140
$footerHeightMobile: 10.625rem; // 170
$pagesBottomMargin: 8rem !default;
$card-border-radius: 0.25rem; // 4
