<template>
  <div class="container page-about-us app-theme2 pb-5">
    <h1 class="text-rtl page-title">{{ $t('pages.aboutUs') }}</h1>
    <p class="text-rtl">{{ $t('pages.aboutAnten') }}</p>
    <p class="text-rtl">
      {{ $t('pages.aboutOTTApplication') }}
    </p>
    <p class="text-rtl">
      {{ $t('pages.waysAccessToAnten') }}
      {{ $t('pages.interactiveIranianIntegratedNetwork') }}
    </p>
    <h3 class="text-rtl">{{ $t('pages.features') }}:</h3>
    <ul class="text-rtl list-bullet">
      <li>{{ $t('pages.featureHighSpeed') }}</li>
      <li>{{ $t('pages.featureArchiveProgramsList') }}</li>
      <li>{{ $t('pages.featurePlayPastPrograms') }}</li>
      <li>{{ $t('pages.featurePlayLiveProgram') }}</li>
      <li>{{ $t('pages.featureSearchDownload') }}</li>
    </ul>
  </div>
</template>
<script>
import pageMixin from '@/mixins/page'

export default {
  name: 'AboutUs',
  mixins: [pageMixin],
  computed: {
    aboutUs () {
      return this.aboutContent
    }
  },
  mounted () {
    this.updateSeoInfo()
    this.getData()
  },
  methods: {
    getData () {
      // TODO: no comment in deploy version
      // this.aboutUsGetContent()
    }
  }
}
</script>
