<template>
  <div
    ref="pageMainElement"
    class="archive-page app-theme2">
    <!-- <b-container>
      <b-row v-if="profile && profile.carrier === 'Rightel'">
        <b-col class="text-center my-3 text-rtl">
          <span class="text-center rightel-announce-box px-2" >
            <small>
            {{$t('message.rightelArchiveAccess')}}
            </small>
          </span>
        </b-col>
      </b-row>
    </b-container> -->
    <b-container>
      <b-row>
        <div class="col-12 col-lg-8 col-md-12 offset-lg-2 p-0 mb-5">
          <archive-list/>
        </div>
      </b-row>
    </b-container>
    <package-modal :program-id="program.id"/>
    <report-modal/>
  </div>
</template>
<script>
import pageMixin from '@/mixins/page'
import playerWeb from '@/components/PlayerWeb.vue'
import playerOverlay from '@/components/PlayerOverlay.vue'
import archiveList from '@main/components/ArchiveList.vue'
import Countdown from '@main/components/Countdown.vue'
import packageModal from '@main/components/BuyPackageModal.vue'
import ReportModal from '@main/components/ReportModal.vue'

export default {
  name: 'Archive',
  components: {
    ReportModal,
    packageModal,
    archiveList,
    Countdown,
    playerOverlay,
    playerWeb
  },
  mixins: [pageMixin],
  data () {
    return {
      isLoginTimer: null
    }
  },
  computed: {
    forbiddenMessage () {
      return this.archiveForbiddenMessage
    },
    overlayMessage () {
      return this.isForbidden && this.isLogin ? this.forbiddenMessage : ''
    },
    overlayType () {
      if (!this.isLogin) return 'not-login'

      if (this.needPackage) return 'need-package'
      if (this.isLocked) return 'is-locked'
      if (this.isFinished) return 'is-finished'
      if (this.remainingSecond) return 'countdown'
      if (this.currentProgramOtherSession) return 'kill-other-sessions'
      if (this.isMissing) return 'is-missing'
      if (this.isForbidden) return 'is-forbidden'
    },
    needPackage () {
      return this.archiveCurrentProgramData.lock
    },
    orientation () {
      return this.layoutOrientation
    },
    isLocked () {
      return this.archiveIsLocked
    },
    isFinished () {
      return this.archiveIsFinished
    },
    isForbidden () {
      return this.archiveIsForbidden
    },
    isMissing () {
      return this.archiveIsMissing
    },
    currentProgramOtherSession () {
      return this.archiveCurrentProgramOtherSession
    },
    remainingSecond () {
      return this.programCountDownRemainingSecond
    },
    remainingTime () {
      return this.programCountDownRemainingTime
    },
    program () {
      return this.archiveCurrentProgramData
    },
    programId () {
      return this.$route.params.id
    },
    lastProgram () {
      if (this.archiveConductorLastProgram) {
        return this.archiveConductorLastProgram.id
      } else {
        return null
      }
    }
  },
  watch: {
    programId () {
      if (this.$refs.pageMainElement.offsetWidth > 576) {
        window.scroll(0, 0, 'smooth')
      }
      this.clearStore()
    },
    lastProgram () {
      this.clearStore()
    },
    isLogin () {
      this.isLoginTimer = setTimeout(() => {
        this.clearStore()
      }, 200)
    }
  },
  destroyed () {
    document.removeEventListener('touchmove', this.handleScroll, false)
    window.removeEventListener('scroll', this.handleScroll)
    window.removeEventListener('resize', this.handleKeepViewMode, false)
    this.clearStore()
    clearTimeout(this.isLoginTimer)
  },
  methods: {
    clearStore () {
      this.archiveClearStates()
      this.mediaPlayerClearStates()
      this.programCountdownClearStates()
    },
    setMetaTags () {
      const title = this.program.title
      if (!title) {
        this.setDefaultMetaKeys()
        return
      }
      const description = this.$t('head.description', {title: title})
      this.setHtmlMeta({
        key: 'keywords',
        value: this.$t('head.keyword', {title: title})
      })
      this.setHtmlMeta({
        key: 'og:image',
        value: this.program.cover,
        propertyKey: 'property'
      })
      this.setDescriptionMetaTag(description)
    },
    showReportModal () {
      this.layoutShowReportModal()
    },
    handleScroll (e) {
      this.handleKeepViewMode()
    },
    killOtherSessions () {
      this.archiveKillOtherSession()
    },
    handleKeepViewMode () {
      let calculate = null
      let calculatePadding = null
      if (this.$refs.pageTitle && this.$refs.pagePlayerAreaContent && this.$refs.pageMainElement && this.$refs.pageMainElement.offsetWidth <= 576 && this.orientation === 'Portrait') {
        // Set Header text height
        if ((52 - window.scrollY) > 0) {
          this.$refs.pageTitle.style.height = (52 - window.scrollY) + 'px'
          this.$refs.pageTitle.style.opacity = 1 - window.scrollY / 52
        } else {
          this.$refs.pageTitle.style.height = 0
          this.$refs.pageTitle.style.minHeight = 0
        }
        // Set Header text height
        if ((this.$refs.pagePlayerAreaContent.offsetWidth * 9 / 16) + 130 - window.scrollY > this.$refs.pageMainElement.offsetWidth * 9 / 16) {
          calculate = (this.$refs.pagePlayerAreaContent.offsetWidth * 9 / 16) + 130 - window.scrollY
          calculatePadding = (this.$refs.pagePlayerAreaContent.offsetWidth * 9 / 16) + 130
        } else {
          calculate = this.$refs.pageMainElement.offsetWidth * 9 / 16
          calculatePadding = this.$refs.pageMainElement.offsetWidth * 9 / 16 + 130
        }
        if (calculate) {
          this.$refs.pageMainElement.style.paddingTop = calculatePadding + 'px'
          this.$refs.pagePlayerArea.style.height = calculate + 'px'
          this.$refs.pagePlayerArea.style.minHeight = calculate + 'px'
        }
      } else {
        this.$refs.pageMainElement.style.paddingTop = '0px'
        this.$refs.pagePlayerArea.style.height = 'auto'
        this.$refs.pagePlayerArea.style.minHeight = 'auto'
      }
    },
    showLoginModal () {
      this.layoutShowLoginModalMethod()
    }
  }
}
</script>
