<template>
  <div class="contact-us container app-theme2">
    <div
      @touchstart="initRecaptcha"
      @mouseenter="initRecaptcha"
      @focus="initRecaptcha">

      <h1 class="text-rtl page-title">{{ $t('header.contactUs') }}</h1>
      <p>
        {{ $t('formLabel.contactUsMessage') }}
      </p>

      <template v-if="!isLogin">
        <div class="form-group">
          <label>{{ $t('formLabel.name') }}</label>
          <input
            v-validate="'required'"
            :data-vv-as="$t('formLabel.name')"
            :class="{'is-invalid': errors.has('name') }"
            v-model="name"
            :placeholder=" $t('formPlaceholder.contactUsName')"
            class="form-control focusable"
            e2e-msg-name
            name="name"
            @focus="initRecaptcha" >
          <div
            v-if="errors.has('name')"
            class="invalid-feedback text-rtl">{{ errors.first('name') }}</div>
        </div>

        <div class="form-group">
          <label>{{ $t('formLabel.mobile') }}</label>
          <input
            v-validate="'required|digits:11'"
            :data-vv-as="$t('formLabel.mobile')"
            :class="{'is-invalid': errors.has('mobile') }"
            v-model="mobile"
            :placeholder=" $t('formPlaceholder.contactUsMobile')"
            class="form-control focusable"
            e2e-msg-mobile
            type="tel"
            name="mobile"
            @focus="initRecaptcha" >
          <div
            v-if="errors.has('mobile')"
            class="invalid-feedback text-rtl">{{ errors.first('mobile') }}</div>
        </div>

        <div class="form-group">
          <label>{{ $t('formLabel.email') }}</label>
          <input
            v-validate="'required|email'"
            :data-vv-as="$t('formLabel.email')"
            :class="{'is-invalid': errors.has('email'), [emailClass]: true }"
            v-model="email"
            :placeholder=" $t('formPlaceholder.contactUsEmail')"
            class="form-control focusable"
            e2e-msg-email
            name="email"
            @focus="emailClass = 'ltr'"
            @blur="emailClass = email ? 'ltr' : ''" >
          <div
            v-if="errors.has('email')"
            class="invalid-feedback text-rtl">{{ errors.first('email') }}</div>
        </div>
      </template>

      <div class="form-group">
        <label for="contactus-body">{{ $t('formLabel.body') }}</label>
        <textarea
          v-validate="'required'"
          id="contactus-body"
          :data-vv-as="$t('formLabel.body')"
          :class="{'is-invalid': errors.has('body') }"
          v-model="body"
          :placeholder="$t('formPlaceholder.contactUsMessageBodyPlaceholder')"
          class="form-control text-area focusable"
          e2e-msg-text
          name="body"
          rows="1"/>
        <div
          v-if="errors.has('body')"
          class="invalid-feedback text-rtl">{{ errors.first('body') }}</div>
      </div>

      <div class="clearfix">
        <div
          v-if="!isLogin"
          ref="recaptchaWrapper"
          class="form-group float-right recaptcha-wrapper">
          <div
            ref="recaptchaContainer"
            :class="{'is-invalid': errors.has('gRecaptcha') }"
            class="form-control recaptcha-container border-0">
            <input
              v-validate="'required'"
              :data-vv-as="$t('formLabel.gRecaptcha')"
              v-model="gRecaptcha"
              e2e-msg-captcha
              type="hidden"
              name="gRecaptcha" >

            <div
              ref="gRecaptcha"
              :data-sitekey="gRecaptchaSiteKey"
              class="g-recaptcha"/>
          </div>

          <div
            v-if="errors.has('gRecaptcha')"
            class="invalid-feedback">{{ errors.first('gRecaptcha') }}</div>
        </div>

        <div class="form-group float-left col-xs-12 col-sm-5 contact-us--submit d-flex align-items-center justify-content-end mb-xs-2 px-0">
          <a
            :class="{ 'btn-loading': loading }"
            e2e-msg-send-a
            class="btn btn-md btn-primary focusable pull-left text-rtl w-100"
            @click="submitFeedback">{{ $t("button.send") }}</a>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import config from '@/config/config'
import pageMixin from '@/mixins/page'
import { mapMutations, mapActions, mapState } from 'vuex'

export default {
  name: 'ContactUs',
  mixins: [pageMixin],
  data () {
    return {
      emailClass: '',
      initRecaptchaTimer: null,
      sizeRecaptchaTimer: null,
      recaptcha: {
        id: 0,
        initialized: false
      }
    }
  },
  computed: {
    gRecaptchaSiteKey: () => config.gRecaptchaSitekey,
    ...mapState('contactUs', [ 'loading' ]),
    gRecaptcha: {
      get () { return this.contactUsRecaptcha },
      set (value) { this.updateProperty({ key: 'gRecaptcha', value }) }
    },
    body: {
      get () { return this.contactUsBody },
      set (value) { this.updateProperty({ key: 'body', value }) }
    },
    name: {
      get () { return this.contactUsName },
      set (value) { this.updateProperty({ key: 'name', value }) }
    },
    email: {
      get () { return this.contactUsEmail },
      set (value) { this.updateProperty({ key: 'email', value }) }
    },
    mobile: {
      get () { return this.contactUsMobile },
      set (value) { this.updateProperty({ key: 'mobile', value }) }
    }
  },
  destroyed () {
    clearTimeout(this.initRecaptchaTimer)
    clearTimeout(this.sizeRecaptchaTimer)
  },
  mounted () {
    this.resetForm()
    this.initRecaptchaTimer = window.setTimeout(this.initRecaptcha, 1000)
  },
  methods: {
    ...mapMutations('contactUs', [ 'updateProperty' ]),
    ...mapActions('contactUs', [ 'sendFeedback' ]),
    initRecaptcha () {
      if (this.isLogin || this.recaptcha.initialized) {
        return true
      }

      if (window.grecaptcha && !this.recaptcha.id) {
        const recaptchaElement = this.$refs.gRecaptcha
        this.$set(this.recaptcha, 'id', window.grecaptcha.render(recaptchaElement, {
          theme: 'dark',
          sitekey: this.gRecaptchaSiteKey
        }))

        this.$set(this.recaptcha, 'initialized', true)

        this.fixRecaptchaSize()

        return true
      }

      return false
    },
    // todo: Read the `768` from sass config (detect XS via css)
    isXS () {
      const viewportWidth = Math.max(window.document.documentElement.clientWidth, window.innerWidth || 0)

      return viewportWidth <= 768
    },
    fixRecaptchaSize () {
      const recaptchaWrapper = this.$refs.recaptchaWrapper

      recaptchaWrapper.classList.remove('is-xs-resized')

      // if it's not XS view, don't continue
      if (!this.isXS()) {
        return false
      }

      recaptchaWrapper.classList.add('is-xs-resized')

      const recaptchaElement = this.$refs.gRecaptcha
      const recaptchaInnerElement = recaptchaElement.querySelector('div[style*="width"]')

      const widths = {
        recaptchaWrapper: recaptchaWrapper.offsetWidth,
        recaptchaInnerElement: recaptchaInnerElement.offsetWidth
      }

      recaptchaInnerElement.style.transform = `scale(${widths.recaptchaWrapper / widths.recaptchaInnerElement})`
      recaptchaInnerElement.style.transformOrigin = 'right'
    },
    resetForm () {
      this.updateProperty({ key: 'name', value: '' })
      this.updateProperty({ key: 'mobile', value: '' })
      this.updateProperty({ key: 'email', value: '' })
      this.updateProperty({ key: 'body', value: '' })
      this.updateProperty({ key: 'gRecaptcha', value: null })

      if (!this.isLogin && this.recaptcha.initialized && this.recaptcha.id) {
        window.grecaptcha.reset(this.recaptcha.id)

        this.$nextTick(() => {
          this.sizeRecaptchaTimer = window.setTimeout(this.fixRecaptchaSize, 2000)
        })
      }
    },
    submitFeedback () {
      if (!this.isLogin && window.grecaptcha && typeof window.grecaptcha.getResponse === 'function') {
        this.gRecaptcha = window.grecaptcha.getResponse(this.recaptcha.id)
      }

      this.$nextTick(() => {
        this
          .$validator.validateAll()
          .then(() => {
            if (this.errors.any()) {
              return false
            }

            this.sendFeedback()
              .then(this.resetForm, null)
          })
      })
    }
  }
}
</script>
