<template>
  <div class="page-404 app-theme2">
    <div class="continer">
      <br>
      <br>
      <div class="text-light text-center" >
        <h5 class="text-rtl">{{ $t("message.error404") }}</h5>
        <br>
        <p class="text-rtl">
          <router-link
            to="/"
            class="page-404-link">{{ $t("message.returnToPlaylist") }}</router-link>
        </p>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Error404'
}
</script>
