<template>
  <applayout>
    <h1 class="text-rtl">Kitchen page</h1>
    <donut percent="40" />
  </applayout>
</template>
<script>
import donut from '@main/components/Donut.vue'
export default {
  name: 'Kitchen',
  components: {donut},
  mounted () {
    this.$notify({
      group: 'foo',
      title: 'Important message',
      text: 'Hello user! This is a notification!'
    })
  }
}
</script>
