<template>
  <div
    ref="pageMainElement"
    class="program-page app-theme2 pb-3">
    <div
      v-if="featuredProgramList.length"
      ref="pagePlayerArea"
      class="program-page--header">
      <div
        ref="pagePlayerAreaContent"
        class="container text-white">
        <div class="row">
          <div class="col-lg-8 col-md-12 p-0 m-auto">
            <div class="media-player-area--ratio-fixer">
              <div class="featured-area pt-0">
                <div class="owl-carousel owl-theme">
                  <router-link
                    v-for="(feature, index) in featuredProgramList"
                    :key="index"
                    :to="'/program/' + feature.id">
                    <img :src="feature.cover">
                  </router-link>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- end fixed section -->

    <div class="container">
      <div class="row">
        <div class="col-12 col-lg-8 col-md-12 offset-lg-2 p-0 mb-5">
          <program-conductor/>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import pageMixin from '@/mixins/page'
import ProgramConductor from '@main/components/ProgramConductor.vue'
import ProgramDetails from '@main/components/ProgramDetails.vue'

export default {
  name: 'Landing',
  components: {
    ProgramConductor,
    ProgramDetails
  },
  mixins: [pageMixin],
  data () {
    return {
      clearStoreTimer: null,
      featuredProgramListTimer: null,
      owlCarouselTimer: null
    }
  },
  computed: {
    orientation () {
      return this.layoutOrientation
    },
    featuredProgramList () {
      return this.conductorFeaturedList
    }
  },
  watch: {
    isLogin () {
      this.clearStoreTimer = setTimeout(() => {
        this.clearStore()
      }, 200)
    },
    featuredProgramList () {
      this.initCarousel()
      this.featuredProgramListTimer = setTimeout(() => {
        this.handleKeepViewMode()
      }, 200)
    }
  },
  destroyed () {
    document.removeEventListener('touchmove', this.handleScroll, false)
    window.removeEventListener('scroll', this.handleScroll)
    window.removeEventListener('resize', this.handleKeepViewMode, false)
    this.clearStore()
    clearTimeout(this.clearStoreTimer)
    clearTimeout(this.featuredProgramListTimer)
    clearTimeout(this.owlCarouselTimer)
  },
  mounted () {
    this.initCarousel()
    document.addEventListener('touchmove', this.handleScroll, false)
    window.addEventListener('scroll', this.handleScroll)
    window.addEventListener('resize', this.handleKeepViewMode, false)
    this.handleKeepViewMode()
  },
  methods: {
    initCarousel () {
      if (!this.featuredProgramList.length) return
      this.owlCarouselTimer = setTimeout(() => {
        $('.owl-carousel').owlCarousel({
          items: 1,
          nav: false,
          dots: false,
          rtl: true,
          loop: true,
          autoplay: true,
          autoplayTimeout: 4000,
          autoplayHoverPause: true,
          responsive: {
            0: {
              items: 1
            },
            600: {
              items: 1
            },
            1000: {
              items: 1
            }
          }
        })
      }, 300) // TODO: is really necessary?
    },
    clearStore () {
      this.programClearStates()
      this.mediaPlayerClearStates()
      this.programCountdownClearStates()
    },
    checkoutLastProgram () {
      if (this.programId) {
        this.programSetCurrentProgramID(this.programId)
        this.getProgramById(this.programId)
          .then(this.setMetaTags, this.setMetaTags)
      } else if (this.lastProgram) {
        this.programSetCurrentProgramID(this.lastProgram)
        this.getProgramById(this.lastProgram)
          .then(this.setMetaTags, this.setMetaTags)
      }
    },
    setMetaTags () {
      const title = this.program.title

      if (!title) {
        this.setDefaultMetaKeys()
        return
      }

      const description = this.$t('head.description', {title: title})

      this.setHtmlMeta({
        key: 'keywords',
        value: this.$t('head.keyword', {title: title})
      })

      this.setHtmlMeta({
        key: 'og:image',
        value: this.program.cover,
        propertyKey: 'property'
      })

      this.setDescriptionMetaTag(description)
    },
    handleScroll (e) {
      this.handleKeepViewMode()
    },
    killOtherSessions () {
      this.programKillOtherSession()
    },
    handleKeepViewMode () {
      if (!this.$refs.pagePlayerArea) return false
      let calculate = null
      let calculatePadding = null
      if (this.$refs.pagePlayerAreaContent && this.$refs.pageMainElement && this.$refs.pageMainElement.offsetWidth <= 576 && this.orientation === 'Portrait') {
        // // Set Header text height
        const heightOfTitleAndShare = 0
        // Set Header text height
        if ((this.$refs.pagePlayerAreaContent.offsetWidth * 9 / 16) + heightOfTitleAndShare - window.scrollY > this.$refs.pageMainElement.offsetWidth * 9 / 16) {
          calculate = (this.$refs.pagePlayerAreaContent.offsetWidth * 9 / 16) + heightOfTitleAndShare - window.scrollY
          calculatePadding = (this.$refs.pagePlayerAreaContent.offsetWidth * 9 / 16) + heightOfTitleAndShare
        } else {
          calculate = this.$refs.pageMainElement.offsetWidth * 9 / 16
          calculatePadding = this.$refs.pageMainElement.offsetWidth * 9 / 16 + heightOfTitleAndShare
        }
        if (calculate) {
          this.$refs.pageMainElement.style.paddingTop = calculatePadding + 'px'
          this.$refs.pagePlayerArea.style.height = calculate + 'px'
          this.$refs.pagePlayerArea.style.minHeight = calculate + 'px'
        }
      } else {
        this.$refs.pageMainElement.style.paddingTop = '0px'
        this.$refs.pagePlayerArea.style.height = 'auto'
        this.$refs.pagePlayerArea.style.minHeight = 'auto'
      }
    },
    showLoginModal () {
      this.layoutShowLoginModal()
    }
  }
}
</script>
