<template>
  <div
    :class="'login-page--bg-' + authStep"
    class="login-page">
    <div class="login-page--steps">
      <div class="login-artwork">
        <!-- TODO: Remove unused css class -->
        <img
          class="img-fluid device-login"
          src="/static/img/main/anten-devices.png">
      </div>
      <div class="steps-bullet-area">
        <div :class="authStep >= 0 ? 'active' : ''"/>
        <div :class="authStep >= 1 ? 'active' : ''"/>
        <div :class="authStep >= 2 ? 'active' : ''"/>
        <div :class="authStep >= 3 ? 'active' : ''"/>
      </div>
      <div class="form-area">
        <!--Step 0-->
        <div
          v-if="authStep == 0"
          class="row">
          <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xs-10 text-center">
            <div class="form-contents">
              <h6 class="step-title text-rtl">{{ $t("formLabel.informationLogin") }}</h6>
              <button
                e2e-login-button
                class="btn btn-success focusable btn-primary-color btn-login text-rtl"
                @keyup.enter="getToStep(1)"
                @click="getToStep(1)">{{ $t("button.login") }}
              </button>
            </div>
          </div>
        </div>
        <!--Step 1-->
        <div
          v-if="authStep == 1"
          class="row">
          <div class="col-xl-4 offset-xl-4  col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xs-10 text-center">
            <div class="form-contents">
              <h6 class="step-title text-rtl">{{ $t("formLabel.enterPhoneNumber") }}</h6>
              <div class="form-group">
                <input
                  ref="textInput1"
                  :placeholder="$t('message.loginPhoneNumberPlaceholder')"
                  v-model="phoneNumber"
                  e2e-phone-number-input
                  class="form-control-transparet focusable text-center form-control phone-number-input"
                  type="tel"
                  pattern="\d*"
                  maxlength="11"
                  @keyup.enter="sendPhoneNumber();">
                <button
                  e2e-send-phone-number-button
                  class="btn btn-md btn-success focusable btn-primary-color text-rtl"
                  @click="sendPhoneNumber();">{{
                  $t("button.send") }}
                </button>
              </div>
            </div>
          </div>
        </div>
        <!--Step 2-->
        <div
          v-if="authStep == 2"
          class="row">
          <div class="col-xl-4 offset-xl-4 col-md-6 offset-md-3 col-sm-10 offset-sm-1 col-xs-10 text-center">
            <div class="form-contents">
              <h6 class="step-title text-rtl">{{ $t("formLabel.joinUsVerification") }}</h6>
              <div class="form-group">
                <input
                  ref="textInput2"
                  :placeholder="$t('message.loginVerificationCodePlaceholder')"
                  v-model="verificationCode"
                  e2e-verify-code-input
                  class="form-control-transparet focusable form-control verification-code-input"
                  type="tel"
                  maxlength="5"
                  pattern="\d*"
                  @keyup.enter="sendVerificationCode()">
                <button
                  v-if="countDown > 0"
                  e2e-verify-code-submit-button
                  class="btn btn-md btn-success focusable btn-send btn-primary-color text-rtl"
                  @keyup.enter="sendVerificationCode()"
                  @click="sendVerificationCode();">
                  {{ $t("button.submit") }} {{ countDown }}
                </button>
                <button
                  v-else
                  e2e-verify-code-resend-button
                  class="btn btn-md btn-success focusable btn-send btn-primary-color text-rtl"
                  @click="resendVerification();">
                  {{ $t("button.resend") }}
                </button>

              </div>
            </div>
          </div>
        </div>
        <div class="row text-center">
          <router-link
            e2e-login-without-membership
            class="btn btn-link btn-sm btn-login-without-membership focusable text-rtl"
            to="/">{{ $t("button.withoutLogin") }}</router-link>
        </div>
      </div>
      <div
        v-if="authStep == 0"
        class="download-app-area">
        <div>
          <a
            :href="config.iosAppUrl"
            e2e-appstore-a
            target="_blank"
            class="focusable">
            <img
              e2e-appstore-img
              class="img-fluid"
              src="/static/img/main/sibapp-badge.png">
          </a>
        </div>
        <div>
          <a
            :href="config.androidAppUrl"
            e2e-cafebazar-a
            target="_blank"
            class="focusable">
            <img
              e2e-cafebazar-img
              class="img-fluid"
              src="/static/img/main/badge-bazaar.png">
          </a>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Config from '@/config/config'
import i18n from '@/i18n'
import pageMixin from '@/mixins/page'

export default {
  name: 'Login',
  mixins: [pageMixin],
  data () {
    return {
      loginStep: 1,
      config: Config,
      phoneNumber: null,
      verificationCode: null,
      countDown: null,
      resendKeyTimer: null,
      countDownInterval: Config.resendVerificationCodeTimeout,
      focusInputTimer: null
    }
  },
  computed: {
    authStep () {
      return this.authStep
    }
  },
  watch: {
    authStep () {
      this.focusInputTimer = setTimeout(() => {
        if (this.$refs[`textInput${this.authStep}`]) {
          this.$refs[`textInput${this.authStep}`].focus()
        }
      }, 100)
      if (this.authStep === 2) {
        this.startCountdown(this.countDownInterval)
      } else {
        clearTimeout(this.resendKeyTimer)
      }
    }
  },
  mounted () {
    this.layoutClear()
  },
  destroyed () {
    clearTimeout(this.resendKeyTimer)
    clearTimeout(this.focusInputTimer)
  },
  methods: {
    getToStep (step) {
      this.authChangeStep(step)
    },
    resendVerification () {
      this.countDown = Config.resendVerificationCodeTimeout
      this.authSendPhoneNumber(this.phoneNumber)
      this.notifySuccess({message: this.$t('message.resendVerificationCode')}, {root: true})
      this.startCountdown(this.countDown)
    },
    sendPhoneNumber () {
      // TODO: add regex to check phone number pattern
      if (!this.phoneNumber) {
        this.notifyError({
          message: i18n.t('notifications.loginPhoneNumber')
        })
      } else {
        this.authSendPhoneNumber(this.phoneNumber)
      }
    },
    sendVerificationCode () {
      // TODO: add regex to check verification pattern
      if (!this.verificationCode) {
        this.notifyError({
          message: i18n.t('notifications.loginVerificationCode')
        })
      } else {
        this.authSendVerificationCode(this.verificationCode)
        if (this.authIsLogin) {
          this.$router.push('/')
        }
      }
    },
    startCountdown (interval) {
      this.countDown = interval
      let that = this
      if (interval > 0) {
        this.resendKeyTimer = setTimeout(() => {
          that.startCountdown(--interval)
        }, 1000)
      }
    }
  }
}
</script>
