<template>
  <div/>
</template>

<script>
import pageMixin from '@/mixins/page'

export default {
  name: 'Logout',
  mixins: [pageMixin],
  created () {
    this.authLogout()
    this.$router.push('/')
  }
}
</script>
