<template>
  <div class="container">
    <div class="page-notification app-theme2">
      <div v-if="notificationList.length === 0">
        <div class="page-notification--no-notification text-center">
          <h6 class="text-rtl">{{ $t("message.thereIsNoNotification") }}</h6>
        </div>
      </div>
      <div
        v-else
        class="page-notification--notification-list">
        <div
          v-for="(notification, index) in notificationList"
          :key="index"
          :class="{'notification-has-read': notification.isRead === true}"
          class="card">
          <!-- TODO: fix it to show how notifications will shows Unreaded and read - it must be different-->
          <div class="card-header">
            <div class="row">
              <div class="col-lg-6 col-md-6 col-sm-6 col-8">
                <!--TODO: fix it to show the real date and time-->
                <h6 class="notification-date text-rtl">{{ notification.publishDate | persianDate(" MMMM D YYYY") }}</h6>
              </div>
              <div class="col-lg-6 col-md-6 col-sm-6 col-4">
                <h6 class="float-left notification-time text-rtl">{{ notification.publishDate | moment("HH:mm") }}</h6>
              </div>
            </div>
          </div>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div
                  v-if="notification && notification.cover"
                  class="row" >
                  <div class="col-lg-4 col-md-4 col-sm-4 col-xs-12 text-center">
                    <img
                      :src="notification.cover"
                      class="img-fluid notification-cover">
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-8 col-xs-12 card-body-content">
                    <h5 class="text-rtl">{{ notification.upperTitle }}</h5>
                    <h6 class="text-justify notification-subtitle text-rtl">{{ notification.title }}</h6>
                    <p class="text-justify notification-paragraph text-rtl">{{ notification.body }}</p>
                    <div
                      v-if="notification.isRead === false"
                      class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-seen">
                        <!--TODO: it should send a message to the server to show user readed the message-->
                        <a
                          class="btn btn-success btn-sm float-left text-rtl"
                          @click="updateLastMessageWhichReadByUser(notification.id);">{{ $t("button.seen") }}<icon
                            class="notification-btn-icon"
                            name="check"/></a>
                      </div>
                    </div>
                  </div>
                </div>
                <div
                  v-else
                  class="row">
                  <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 card-body-content">
                    <h5 class="text-rtl">{{ notification.upperTitle }}</h5>
                    <h6 class="text-justify notification-subtitle text-rtl">{{ notification.title }}</h6>
                    <p class="text-justify notification-paragraph text-rtl">{{ notification.body }}</p>
                    <div
                      v-if="notification.isRead === false"
                      class="row">
                      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 btn-seen">
                        <a
                          class="btn btn-success btn-sm float-left text-rtl"
                          @click="updateLastMessageWhichReadByUser(notification.id);">{{ $t("button.seen") }}<icon
                            class="notification-btn-icon"
                            name="check"/></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Icon from 'vue-awesome/components/Icon.vue'
import pageMixin from '@/mixins/page'

export default {
  name: 'Notification',
  components: {Icon},
  mixins: [pageMixin],
  computed: {
    notificationCounts () {
      return this.notificationCount
    },
    notificationList () {
      return this.notificationList
    }
  },
  mounted () {
    this.getData()
  },
  methods: {
    getData () {
      this.notificationGetAll()
    },
    updateLastMessageWhichReadByUser (id) {
      this.notificationUpdateLastMessageWhichReadByUser(id).then(() => {
        this.notificationGetAll()
      })
    }
  }
}
</script>
