<template>
  <div class="container">
    <packages/>
  </div>
</template>
<script>
import pageMixin from '@/mixins/page'
import Packages from '@main/components/Packages.vue'
export default {
  name: 'PackagePage',
  components: {
    Packages
  },
  mixins: [pageMixin]
}
</script>
