<template>
  <div class="page-profile app-theme2 mb-5 pb-5">
    <div class="page-profile--header w-100">

      <div class="container h-100">
        <div class="d-flex align-items-center h-100">
          <div class="col-8 col-md-6 pr-md-0">
            <!-- Go to Edit-->
            <div
              v-if="edit === false"
              class="page-profile--header-content w-100 d-flex align-items-center">
              <div class="text-center ml-2 ml-md-4">
                <div class="page-profile--avatar-area">
                  <avatar class="profile-img"/>
                </div>
              </div>

              <div class="text-right">
                <h4
                  v-if="currentUser.fullName"
                  class="w-100 page-profile__title">{{ currentUser.fullName }}</h4>
                <h4
                  v-else
                  class="w-100 text-center page-profile__title text-rtl">...</h4>

                <span class="d-block text-ltr page-profile__phone">{{ currentUser.phone }}</span>
              </div>
            </div>
          </div>
          <div class="col-4 col-md-6 pl-md-0">

            <div
              e2e-username-edit
              class="d-flex justify-content-end"
              role="group"
              aria-label="Basic example"
              @click="editProfile()">
              <button
                type="button"
                class="focusable btn btn-md btn-edit btn-primary btn-primary-color d-none d-md-inline" >
                {{ $t("button.editProfile") }}
              </button>

              <button
                type="button"
                class="focusable btn btn-edit btn-circle btn-primary btn-primary-color d-md-none" >
                <edit-icon />
              </button>
            </div>

          </div>
        </div>
      </div>

    </div>
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
          <packages/>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
          <div class="page-profile__notifications">
            <h5 class="section-title--mini">{{ $t('formLabel.lastMessage') }}</h5>
            <notifications/>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <b-modal
      v-model="edit"
      e2e-profile-modal
      class="modal-component modal-component--profile"
      size="md"
      @hidden="cancelEdits">

      <!-- Modal Header -->
      <div
        slot="modal-header"
        class="w-100 text-center">
        <!--<profile-header :title="titleEdit" :hide="cancelEdits"></profile-header>-->
        <div>
          <span>{{ titleEdit }}</span>
          <div
            slot="modal-header-close"
            class="float-left cursor-pointer">
            <img
              src="/static/img/main/close.svg"
              e2e-cancel-profile-modal
              @click="cancelEdits" >
          </div>
        </div>
      </div>
      <!-- Modal Content -->
      <div class="content">

        <!-- Save Edits-->
        <div class="page-profile--header-content w-100">
          <div class="page-profile--avatar-area text-center m-auto">
            <!-- TODO: change this to a real input file drag and drop -->
            <div
              v-if="imageFlag === false"
              class="upload-box">
              <div class="hold">
                <span class="btn-file-edit d-block">
                  <div class="icon-edit-container">
                    <icon
                      name="camera"
                      class="camera-icon"
                      @click="onFileChange"/>
                  </div>
                  <avatar class="profile-img contain" />
                  <input
                    type="file"
                    accept="image/*"
                    @change="onFileChange">
                </span>
              </div>
            </div>
            <div
              v-else
              class="upload-box">
              <div class="hold">
                <span class="btn-file-edit d-block">
                  <div class="icon-edit-container">
                    <icon
                      name="camera"
                      class="camera-icon"
                      @click="onFileChange"/>
                  </div>
                  <img
                    v-if="image"
                    :src="image"
                    class="profile-img contain">
                  <input
                    type="file"
                    accept="image/*"
                    @change="onFileChange">
                </span>
              </div>
            </div>
          </div>
          <br>
          <div class="w-100">
            <div class="form-group">
              <label>{{ $t('formLabel.name') }}</label>
              <input
                v-model="fullName"
                :placeholder="$t('formLabel.enterNewUserName')"
                e2e-username-input
                class="form-control-transparet page-profile--full-name form-control text-rtl text-right focusable"
                maxlength="30"
                type="text">
            </div>
          </div>
        </div>
      </div>
      <!-- Modal Footer -->
      <div
        slot="modal-footer"
        class="w-100">
        <button
          :class="{'btn-loading': sendProfileChangesLoading}"
          e2e-username-save
          class="focusable btn btn-primary btn-md btn-submit focusable text-rtl w-100"
          @click="submitProfileChanges">
          <span class="text-rtl">
            {{ $t("button.save") }}
          </span>
        </button>
      </div>
    </b-modal>
  </div>
</template>
<script>
import i18n from '@/i18n'
import pageMixin from '@/mixins/page'
import Packages from '@main/components/Packages.vue'
import Avatar from '@main/components/Avatar.vue'
import Icon from 'vue-awesome/components/Icon.vue'
import Lottie from 'vue-lottie'
import * as loading from '../../../../static/json/loading.json'
import ProfileHeader from '@main/components/ModalHeader.vue'
import EditIcon from '@/components/vue-svg/Edit.vue'
import Notifications from '@main/components/Notifications.vue'

export default {
  name: 'Profile',
  components: {
    Lottie,
    Icon,
    Packages,
    Avatar,
    ProfileHeader,
    Notifications,
    EditIcon
  },
  mixins: [pageMixin],
  data () {
    return {
      titleEdit: this.$t('account.editProfile'),
      defaultOptions: {animationData: loading},
      image: null,
      edit: false,
      imageFlag: false
    }
  },
  computed: {
    sendProfileChangesLoading () {
      return this.profileSendProfileChangesLoading
    },
    fullName: {
      get () {
        return this.authMemberInfo.fullName
      },
      set (newValue) {
        this.authMemberInfo.fullName = newValue
      }
    }
  },
  methods: {
    onFileChange (e) {
      let files = e.target.files || e.dataTransfer.files
      if (!files[0]) {
        console.warn('No file')
        return
      }
      if (files[0].type.match(/.(jpg|jpeg|png|bmp)$/i)) {
        if (!files[0]) {
          return false
        } else if (parseFloat(files[0].size / 1024).toFixed(2) > 5000) {
          this.notifyError({
            message: i18n.t('notifications.imageSizeError')
          })
        } else {
          this.createImage(files[0])
        }
      } else {
        this.notifyError({
          message: i18n.t('notifications.imageExtensionError')
        })
      }
    },
    createImage (file) {
      let reader = new FileReader()
      let that = this
      reader.onload = (e) => {
        that.image = e.target.result
      }
      reader.readAsDataURL(file)
      this.imageFlag = true
    },
    submitProfileChanges () {
      let that = this
      this.profileSendChanges({
        fullName: that.fullName,
        image: that.image
      }).then(() => {
        that.edit = false
      })
    },
    editProfile () {
      this.edit = true
      this.imageFlag = false
    },
    cancelEdits () {
      this.edit = false
    }
  }
}
</script>
