<template>
  <div
    ref="pageMainElement"
    class="live-tv-page app-theme2">
    <div
      v-show="isChannelListLoaded">
      <div
        ref="pagePlayerArea"
        class="live-tv-page--header">
        <div
          ref="pagePlayerAreaContent"
          class="container text-white">
          <h1
            ref="pageTitle"
            class="text-center live-tv-page--title text-rtl">
            {{ channelTitle }}
            <span v-if="currentEpisode">
              ({{ currentEpisode.title }})
            </span>
            <span v-else>
              ({{ $t('live') }})
            </span>
          </h1>
          <div class="row">
            <div
              :class="{'col-9': isLG, 'col-12': !isLG }"
              class="no-padding-mobile">
              <div
                :style="{'background-color': '#000'}"
                class="media-player-area--ratio-fixer">
                <div
                  :class="{'bg-mirror': !!overlayMessage}"
                  class="media-player-area">
                  <player-overlay
                    :type="overlayType"
                    :message="overlayMessage"/>
                  <player-web
                    v-if="channelId && !currentEpisode && currentEpisodeError === false"
                    tech="HLS_DVR"
                    e2e-player/>
                  <player-web
                    v-if="channelId && currentEpisode && currentEpisodeError === false"
                    tech="HLS"/>
                </div>
              </div>
            </div>
            <tv-conductor
              v-if="isLG"
              class="col-3"
              @pickEpisode="pickEpisode"
              @backToLive="backToLive"/>
          </div>
        </div>
      </div>
      <div class="container">
        <div class="row">
          <div class="col-12 p-0">
            <tv-current-channel
              v-if="currentChannel && !isLG"
              :current-channel="currentChannel"
              :show-conductor-list="showConductorList"
              @toggleConductorList="toggleConductorList"/>
            <tv-channels
              v-if="isLG || (!isLG && !showConductorList)"
              @pickEpisode="pickEpisode"
              @backToLive="backToLive"
              @tvConductorList="tvConductorList"/>
            <tv-conductor
              v-if="!isLG && showConductorList"
              class="col-12"
              @pickEpisode="pickEpisode"
              @backToLive="backToLive"/>
          </div>
        </div>
      </div>
    </div>
    <Loading
      v-show="!isChannelListLoaded"
      class="live-tv-page app-theme2 mt-3"/>
  </div>
</template>
<script>
import TvConductor from '@main/components/TVConductor.vue'
import playerWeb from '@/components/TvPlayerWeb.vue'
import pageMixin from '@/mixins/page'
import tvChannels from '@main/components/TVChannels.vue'
import TvCurrentChannel from '@main/components/TVCurrentChannel.vue'
import RightArrow from '@/components/vue-svg/RightArrow.vue'
import LeftArrow from '@/components/vue-svg/LeftArrow.vue'
import playerOverlay from '@/components/PlayerOverlay.vue'
import Loading from '@main/components/Loading.vue'
import i18n from '@/i18n'

// TODO: fix tv channel api and remove bad codes
export default {
  name: 'ProgramItem',
  components: {
    RightArrow,
    LeftArrow,
    tvChannels,
    'player-web': playerWeb,
    TvConductor,
    TvCurrentChannel,
    playerOverlay,
    Loading
  },
  mixins: [pageMixin],
  data () {
    return {
      changeIdDebounce: null,
      showConductorList: false,
      setDefaultChannelTimer: null
    }
  },
  computed: {
    isChannelListLoaded () {
      return this.tvRouteIsChannelListLoaded
    },
    notFoundMessage () {
      return this.currentEpisodeError === 404 ? this.$t('message.error404') : ''
    },
    forbiddenMessage () {
      return this.currentEpisodeError === 403 ? this.tvForbiddenMessage : ''
    },
    overlayMessage () {
      return this.notFoundMessage ? this.notFoundMessage : this.forbiddenMessage ? this.forbiddenMessage : ''
    },
    overlayType () {
      if (this.needPackage) return 'need-package'
      if (this.isLocked) return 'is-locked'
      if (this.isFinished) return 'is-finished'
      if (this.notFoundMessage) return 'is-missing-tv'
      if (this.forbiddenMessage) return 'is-forbidden'
    },
    orientation () {
      return this.layoutOrientation
    },
    channelTitle () {
      let output = ''
      if (this.list && this.list.length > 0) {
        this.list.forEach((item) => {
          item.channels.forEach((channel) => {
            if (this.channelId && channel.id.toString() === this.channelId.toString()) {
              output = channel.title
            } else if (channel.id.toString() === this.list[0].channels[0].title) {
              output = channel.title
            }
          })
        })
      }
      return output
    },
    channel () {
      return this.tvCurrentChannel
    },
    channelForbidden () {
      return this.tvCurrentChannelForbidden
    },
    currentEpisode () {
      return this.tvCurrentEpisode
    },
    currentEpisodeError () {
      return this.tvCurrentEpisodeError
    },
    channelTitleSlug () {
      return this.$route.params.title_slug
    },
    channelId () {
      return this.tvRouteCurrentChannel.id || 1
    },
    list () {
      return this.tvList
    },
    conductor () {
      return this.tvCurrentChannelConductor
    },
    currentChannel () {
      return this.list.length ? this.list.find(item => item.channels[0].id === this.channelId) : {}
    },
    routeTVList () {
      return this.tvRouteList
    }
  },
  watch: {
    channelTitleSlug () {
      this.setCurrentChannelByTitleSlug()
      this.initChannel()
    },
    isChannelListLoaded () {
      if (this.isChannelListLoaded) {
        this.init()
      }
    },
    list: {
      deep: true,
      handler () {
        const titleSlug = this.$route.params.title_slug
        if (!titleSlug && this.list.length > 0) {
          this.setDefaultChannelTimer = setTimeout(() => {
            const defaultChannel = `tv/${i18n.t('defaultChannel')}`
            this.$router.push(defaultChannel)
          }, 0)
        } else if (titleSlug && !this.routeTVList.hasOwnProperty(titleSlug)) {
          this.$router.push('/404')
        }
      }
    }
  },
  destroyed () {
    document.removeEventListener('touchmove', this.handleKeepViewMode, false)
    window.removeEventListener('scroll', this.handleKeepViewMode)
    window.removeEventListener('resize', this.handleKeepViewMode, false)
    this.clearStore()
    clearTimeout(this.setDefaultChannelTimer)
  },
  mounted () {
    this.getTvList()
    if (this.isChannelListLoaded) {
      this.init()
    }
  },
  methods: {
    getTvList () {
      this.tvGetAll()
    },
    init () {
      document.addEventListener('touchmove', this.handleKeepViewMode, false)
      window.addEventListener('scroll', this.handleKeepViewMode)
      window.addEventListener('resize', this.handleKeepViewMode, false)
      if (this.channelId) {
        this.setCurrentChannelByTitleSlug()
        this.getChannel()
      } else {
        this.initChannel()
      }
      this.handleKeepViewMode()
    },
    initChannel () {
      this.tvClearEpisode()
      clearTimeout(this.changeIdDebounce)
      this.changeIdDebounce = setTimeout(() => {
        this.clearStore()
        if (this.$route.params.title_slug) {
          this.getChannel()
        } else {
          if (!this.$route.params.title_slug && this.list.length > 0) {
            this.setDefaultChannelTimer = setTimeout(() => {
              const defaultChannel = `tv/${i18n.t('defaultChannel')}`
              this.$router.push(defaultChannel)
            }, 0)
          }
        }
      }, 300)
    },
    setCurrentChannelByTitleSlug () {
      this.tvRouteSetCurrentChannelByTitle({url: 'tv', title: this.channelTitleSlug})
    },
    backToLive () {
      this.initChannel()
    },
    pickEpisode (e) {
      this.clearStore()
      this.tvGetEpisode(e)
    },
    handleKeepViewMode () {
      let calculate = null
      let calculatePadding = null
      if (this.$refs.pageTitle && this.$refs.pagePlayerAreaContent && this.$refs.pageMainElement && this.$refs.pageMainElement.offsetWidth <= 576 && this.orientation === 'Portrait') {
        // Set Header text height
        if ((this.$refs.pagePlayerAreaContent.offsetWidth * 9 / 16) - window.scrollY > this.$refs.pageMainElement.offsetWidth * 9 / 16) {
          calculate = (this.$refs.pagePlayerAreaContent.offsetWidth * 9 / 16) - window.scrollY
          calculatePadding = (this.$refs.pagePlayerAreaContent.offsetWidth * 9 / 16)
        } else {
          calculate = this.$refs.pageMainElement.offsetWidth * 9 / 16
          calculatePadding = this.$refs.pageMainElement.offsetWidth * 9 / 16
        }
        if (calculate) {
          this.$refs.pagePlayerArea.style.minHeight = calculate + 'px'
          this.$refs.pagePlayerArea.style.height = calculate + 'px'
          this.$refs.pageMainElement.style.paddingTop = calculatePadding + 'px'
        }
        // Set Header text height
        if ((52 - window.scrollY) > 0) {
          this.$refs.pageTitle.style.height = (52 - window.scrollY) + 'px'
          this.$refs.pageTitle.style.opacity = 1 - window.scrollY / 52
        } else {
          this.$refs.pageTitle.style.height = 0
          this.$refs.pageTitle.style.minHeight = 0
        }
      } else {
        this.$refs.pageMainElement.style.paddingTop = '0px'
        this.$refs.pagePlayerArea.style.height = 'auto'
        this.$refs.pagePlayerArea.style.minHeight = 'auto'
      }
    },
    getChannel () {
      this.tvGetChannel({id: this.channelId})
    },
    clearStore () {
      this.tvClearCurrentChannel()
      this.tvClearAll()
      this.mediaPlayerClearStates()
    },
    toggleConductorList (bool) {
      if (bool) {
        this.getOnlyConductorList(this.currentChannel.channels[0].id)
      }
      this.showConductorList = bool
    },
    getOnlyConductorList (id) {
      this.tvGetOnlyConductor({id: id})
    },
    tvConductorList (bool) {
      if (bool) {
        this.getChannel()
      }
      this.showConductorList = bool
    }
  }
}
</script>
